@charset "utf-8";
/* CSS Document */

/*----*****---- << Skin Colors >> ----*****----*/

/* Base */
a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .menu-icons-wrapper .search a:hover, .portfolio .image-overlay .links a:hover, #footer a:hover, .top-bar a:hover, #footer .dt-sc-dark-bg .recent-posts-widget li .entry-meta a:hover, #footer .dt-sc-dark-bg .entry-title h4 a:hover, #footer .dt-sc-dark-bg a:hover, .dt-sc-sociable.diamond-square-border li:hover a, .available-domains li span, /*i,*/ .blog-entry.entry-date-left .entry-date a:hover, .dt-sc-menu .image-overlay .price, .dt-sc-menu .image-overlay h6 a:hover, .dt-sc-menu .menu-categories a:hover, .blog-entry .entry-meta a:hover, .dt-sc-image-with-caption h3 a, .blog-entry.entry-date-author-left .entry-date-author .comments:hover, .blog-entry.entry-date-author-left .entry-date-author .comments:hover i, .dt-sc-model-sorting a:hover, .dt-sc-model-sorting a.active-sort, .left-header-footer .dt-sc-sociable.filled li a, .entry-meta-data p a:hover, .blog-entry.entry-date-author-left .entry-date-author .entry-author a:hover, .blog-entry.entry-date-author-left .entry-date-author .comments a:hover, .widget #wp-calendar td a:hover, .portfolio.type7 .image-overlay .links a, dt-sc-dark-bg .widget #wp-calendar td a:hover, .project-details li a:hover, .portfolio-categories a:hover, .dt-portfolio-single-slider-wrapper #bx-pager a.active:hover:before, .dt-portfolio-single-slider-wrapper #bx-pager a, .breadcrumb a:hover, .secondary-sidebar .widget ul li > a:hover, .dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame > li:hover > a, .dt-sc-button.white:hover, .blog-entry .entry-details a.comments, .blog-entry .entry-details .entry-title a:hover, .dt-sc-icon-box .icon-content h4 a{color:#9e2fb2;}

/* Menu */
#main-menu ul li a:hover, #main-menu > ul.menu > li.current_page_item > a, #main-menu > ul.menu > li.current_page_ancestor > a, #main-menu > ul.menu > li.current-menu-item > a, #main-menu ul.menu > li.current-menu-ancestor > a, #main-menu ul.menu li.menu-item-simple-parent ul > li.current_page_item > a, #main-menu ul.menu li.menu-item-simple-parent ul.menu > li.current_page_ancestor > a, #main-menu ul.menu li.menu-item-simple-parent ul.menu > li.current-menu-item > a, #main-menu ul.menu li.menu-item-simple-parent ul > li.current-menu-ancestor > a { color:#9e2fb2; }

#main-menu ul li.menu-item-simple-parent ul li a:hover, #main-menu ul li.menu-item-megamenu-parent:hover > a, #main-menu ul > li.menu-item-simple-parent:hover > a, #main-menu ul li.menu-item-simple-parent ul li:hover > a { color:#9e2fb2; }

#main-menu .megamenu-child-container ul.sub-menu > li > ul li a:hover { color:#9e2fb2; }

#main-menu .megamenu-child-container ul.sub-menu > li.current_page_item > a, #main-menu .megamenu-child-container ul.sub-menu > li.current_page_ancestor > a, #main-menu .megamenu-child-container ul.sub-menu > li.current-menu-item > a, #main-menu .megamenu-child-container ul.sub-menu > li.current-menu-ancestor > a, #main-menu .megamenu-child-container ul.sub-menu > li.current_page_item > span, #main-menu .megamenu-child-container ul.sub-menu > li.current_page_ancestor > span, #main-menu .megamenu-child-container ul.sub-menu > li.current-menu-item > span, #main-menu .megamenu-child-container ul.sub-menu > li.current-menu-ancestor > span { color:#9e2fb2; }

.menu-active-highlight-grey #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-highlight-grey #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-ancestor > a:before { background:#9e2fb2; }


.menu-active-with-double-border #main-menu > ul.menu > li.current_page_item > a, .menu-active-with-double-border #main-menu > ul.menu > li.current_page_ancestor > a, .menu-active-with-double-border #main-menu > ul.menu > li.current-menu-item > a, .menu-active-with-double-border #main-menu > ul.menu > li.current-menu-ancestor > a { border-color:#9e2fb2; }
#main-menu ul li.menu-item-simple-parent ul, #main-menu .megamenu-child-container { border-bottom-color:#9e2fb2; }

.menu-active-highlight-grey #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-highlight-grey #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-highlight-grey #main-menu > ul.menu > li.current-menu-ancestor > a:before, .left-header #main-menu > ul.menu > li.current_page_item > a, .left-header #main-menu > ul.menu > li.current_page_ancestor > a, .left-header #main-menu > ul.menu > li.current-menu-item > a, .left-header #main-menu > ul.menu > li.current-menu-ancestor > a { background:#9e2fb2; }

.menu-active-highlight #main-menu > ul.menu > li.current_page_item, .menu-active-highlight #main-menu > ul.menu > li.current_page_ancestor, .menu-active-highlight #main-menu > ul.menu > li.current-menu-item, .menu-active-highlight #main-menu > ul.menu > li.current-menu-ancestor, .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:before, .menu-active-with-icon #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-with-icon #main-menu > ul.menu > li.current-menu-ancestor > a:after, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-ancestor > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-ancestor > a:before, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_item > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current_page_ancestor > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-item > a:after, .menu-active-with-two-border #main-menu > ul.menu > li.current-menu-ancestor > a:after { background:#9e2fb2; }


.two-color-header .main-header-wrapper:before, .skin-highlight .dt-sc-title.with-two-border h2:before, .dt-sc-sociable.rounded li a{background-color:#9e2fb2;}

.menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-border-with-arrow  #main-menu > ul.menu > li.current-menu-ancestor > a:before { border-bottom-color:#9e2fb2; }
.menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_ancestor > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-item > a:before, .menu-active-highlight-with-arrow #main-menu > ul.menu > li.current-menu-ancestor > a:before { border-top-color:#9e2fb2; }


#main-menu .menu-item-widget-area-container .widget ul li > a:hover, #main-menu .megamenu-child-container.dt-sc-dark-bg > ul.sub-menu > li > a:hover, #main-menu .megamenu-child-container.dt-sc-dark-bg ul.sub-menu > li > ul li a:hover, #main-menu .megamenu-child-container.dt-sc-dark-bg ul.sub-menu > li > ul li a:hover .fa, #main-menu .dt-sc-dark-bg .menu-item-widget-area-container .widget ul li > a:hover, #main-menu .dt-sc-dark-bg .menu-item-widget-area-container .widget_recent_posts .entry-title h4 a:hover, #main-menu ul li.menu-item-simple-parent.dt-sc-dark-bg ul li a:hover, #main-menu .menu-item-widget-area-container .widget li:hover:before { color:#9e2fb2; }

/* Mobile Menu */
.dt-menu-toggle { background:#9e2fb2; }


/* Menu End */

.dt-sc-portfolio-sorting a.active-sort, .dt-sc-portfolio-sorting a:hover, .dt-sc-sociable.rounded-border li a:hover, .dt-sc-dark-bg .dt-sc-sociable.rounded-border li a:hover, .dt-sc-dark-bg .dt-sc-sociable.square-border li a:hover, .dt-sc-sociable.diamond-square-border li:hover, .widget .dt-sc-newsletter-section.boxed, .widget .dt-sc-newsletter-section.boxed .dt-sc-subscribe-frm input[type="submit"], .tagcloud a:hover, .dt-sc-dark-bg .tagcloud a:hover, .blog-entry.entry-date-left .entry-date span, .dt-sc-menu-sorting a.active-sort, .dt-sc-menu .image-overlay .price, .hotel-search-container form input[type="submit"], .pagination ul li a:hover, .pagination ul li span, .portfolio.type7 .image-overlay .links a:before, .blog-entry.blog-medium-style:hover .entry-format a, ul.commentlist li .reply a:hover, .post-nav-container .post-next-link a:hover, .post-nav-container .post-prev-link a:hover { border-color:#9e2fb2; }

/*.menu-active-highlight-with-arrow #main-menu > ul.menu > li.current_page_item > a, */.dt-sc-portfolio-sorting a.active-sort, .dt-sc-portfolio-sorting a:hover, .dt-sc-portfolio-sorting a:hover:before, .dt-sc-portfolio-sorting a:hover:after, .dt-sc-portfolio-sorting a.active-sort:before, .dt-sc-portfolio-sorting a.active-sort:after, .entry-format a, .menu-icons-wrapper.rounded-icons .search a span:hover, .menu-icons-wrapper.rounded-icons .cart a span:hover, .live-chat a, .widget .dt-sc-newsletter-section.boxed .dt-sc-subscribe-frm input[type="submit"]:hover, .tagcloud a:hover, .dt-sc-dark-bg .tagcloud a:hover, .widgettitle:before, .domain-search-container, .dt-sc-icon-box.type6 .icon-wrapper, .skin-highlight, .left-header-footer, .menu-icons-wrapper .cart sup, .post-edit-link:hover, .vc_inline-link:hover, .pagination ul li a:hover, .pagination ul li span, .widget.widget_categories ul li > a:hover span, .widget.widget_archive ul li > a:hover span, #footer .dt-sc-dark-bg .widget.widget_categories ul li > a:hover span, #footer .dt-sc-dark-bg .widget.widget_archive ul li > a:hover span, .portfolio.type2 .image-overlay-details, .portfolio.type2 .image-overlay .links a:hover, .dt-sc-portfolio-sorting.type2, .dt-sc-portfolio-sorting.type2:before, .portfolio.type6 .image-overlay .links a:hover, .portfolio.type7 .image-overlay-details .categories a:before, .portfolio.type7 .image-overlay .links a:hover:before, .blog-entry.blog-medium-style:hover .entry-format a,  .blog-entry.blog-medium-style.dt-blog-medium-highlight.dt-sc-skin-highlight, .blog-entry.blog-medium-style.dt-blog-medium-highlight.dt-sc-skin-highlight .entry-format a, ul.commentlist li .reply a:hover, .post-nav-container .post-next-link a:hover, .post-nav-container .post-prev-link a:hover, .post-nav-container .post-next-link a:hover, .post-nav-container .post-prev-link a:hover, .dt-sc-dark-bg .widget.widget_categories ul li > a:hover span, th, .dt-bmi-inner-content tbody th, .dt-bmi-inner-content tbody tr:nth-child(2n+1) th { background:#9e2fb2; }

/* Left Header */
.left-header #toggle-sidebar, .overlay-header #trigger-overlay, .overlay .overlay-close { background:#9e2fb2; }
.overlay-header .overlay { background:rgba(158, 47, 178, 0.9); }

.portfolio .image-overlay, .recent-portfolio-widget ul li a:before, .dt-sc-image-caption.type2:hover .dt-sc-image-content { background:rgba(158, 47, 178, 0.9); }

/*.portfolio.type4 .image-overlay { background:rgba(255, 228, 1, 0.8); }*/

.available-domains li .tdl:before, .available-domains li:hover .dt-sc-button, .dt-sc-highlight.extend-bg-fullwidth-left:before, .dt-sc-menu .menu-categories a:before, .hotel-search-container form input[type="submit"]:hover, .hotel-search-container .selection-box:after { background:#9e2fb2; }

.dt-sc-up-arrow:before, .dt-sc-image-caption .dt-sc-image-wrapper .icon-wrapper:before, .dt-sc-triangle-wrapper.alter:hover .dt-sc-triangle-content:before { border-bottom-color:#9e2fb2; }

.dt-sc-triangle-wrapper:hover .dt-sc-triangle-content:before { border-top-color:#9e2fb2; }

/* Sidebar Types */
.secondary-sidebar .type5 .widgettitle { border-color:rgba(158, 47, 178, 0.5); }
.secondary-sidebar .type3 .widgettitle, .secondary-sidebar .type6 .widgettitle, .secondary-sidebar .type13 .widgettitle:before { border-color:#9e2fb2; }
.secondary-sidebar .type12 .widgettitle { background:rgba(158, 47, 178, 0.2); }

/* Shortcodes */
.dt-sc-icon-box.type1 .icon-wrapper .icon, .dt-sc-icon-box.type2 .icon-wrapper .icon, .skin-highlight .dt-sc-button.rounded-border:hover, .skin-highlight .dt-sc-button.bordered:hover, .dt-sc-icon-box.type4 .icon-wrapper span, .dt-sc-icon-box.type5:hover .icon-content h4 a, .dt-sc-testimonial-special-wrapper:after, .dt-sc-popular-procedures .details .duration, .dt-sc-popular-procedures .details .price, .dt-sc-testimonial.type4 .dt-sc-testimonial-author cite, ul.dt-sc-tabs-vertical-frame > li > a:hover, ul.dt-sc-tabs-vertical-frame > li.current a, .dt-sc-text-with-icon span, .dt-sc-testimonial.type5 .dt-sc-testimonial-author cite, ul.dt-sc-tabs-horizontal-frame > li > a.current, .dt-sc-title.script-with-sub-title h2, .dt-sc-image-caption.type3 .dt-sc-image-content h3, .dt-sc-menu-sorting a:hover, .dt-sc-menu-sorting a.active-sort, .dt-sc-team.rounded .dt-sc-team-details .dt-sc-team-social li a:hover, .dt-sc-dark-bg .blog-medium-style.white-highlight .dt-sc-button.fully-rounded-border, .dt-sc-contact-info.type3 span, .dt-sc-timeline .dt-sc-timeline-content h2 span, .dt-sc-title.with-two-color-stripe h2, .dt-sc-hr-timeline-section.type2 .dt-sc-hr-timeline-content:hover h3, .dt-sc-training-details h6, .dt-sc-icon-box.type5.no-icon-bg .icon-wrapper span, .dt-sc-icon-box.type5.no-icon-bg:hover .icon-wrapper span, .dt-sc-counter.type3.diamond-square h4, .dt-sc-icon-box.type10:hover .icon-content h4, .dt-sc-counter.type6:hover h4, .dt-sc-button.with-shadow.white, .dt-sc-pr-tb-col.type2 .dt-sc-buy-now a, .dt-sc-event-image-caption .dt-sc-image-content h3, .dt-sc-events-list .dt-sc-event-title h5 a, .dt-sc-team-social.hexagon-border li:hover a, .dt-sc-sociable.hexagon-border li:hover a, .dt-sc-icon-box.type10 .icon-wrapper span, .dt-sc-button.fully-rounded-border, .dt-sc-button.rounded-border, .dt-sc-button.bordered, ul.dt-sc-tabs-horizontal > li > a.current, ul.dt-sc-tabs-vertical > li > a.current, ul.dt-sc-tabs-horizontal > li > a:hover, ul.dt-sc-tabs-vertical > li > a:hover, ul.dt-sc-tabs-horizontal-frame > li > a:hover, .dt-sc-dark-bg.skin-color .dt-sc-button.fully-rounded-border:hover, .dt-sc-sociable.hexagon-with-border li:hover a { color:#9e2fb2; }

.dt-sc-menu-sorting a { color:rgba(158, 47, 178, 0.6); }

.dt-sc-small-separator, .dt-sc-button.filled, .dt-sc-button:hover, .dt-sc-highlight, .dt-sc-icon-box.type1 .icon-content h4:before, .dt-sc-counter.type1 .icon-wrapper:before, .dt-sc-testimonial-wrapper .dt-sc-testimonial-bullets a:hover, .dt-sc-testimonial-wrapper .dt-sc-testimonial-bullets a.active, .dt-sc-team-social.rounded-border li a:hover, .dt-sc-icon-box.type3 .icon-wrapper span, .dt-sc-team-social.rounded-square li a, .dt-sc-team.hide-social-show-on-hover:hover .dt-sc-team-details, .dt-sc-button.rounded-border:hover, .dt-sc-button.bordered:hover, .carousel-arrows a:hover, .dt-sc-diamond-separator, .dt-sc-icon-box.type5:hover .icon-wrapper:before, .dt-sc-pr-tb-col.minimal:hover .dt-sc-price, .dt-sc-pr-tb-col:hover .dt-sc-buy-now a, .dt-sc-pr-tb-col.minimal:hover .icon-wrapper:before, .dt-sc-pr-tb-col:hover .dt-sc-tb-header, .dt-sc-icon-box.type7 .icon-wrapper span, .dt-sc-team-social.square-border li a:hover, .two-color-section:before, .dt-sc-counter.type2 .dt-sc-couter-icon-holder, .dt-sc-contact-info.type2:hover span, .dt-sc-colored-big-buttons:hover span, .dt-sc-team.rounded:hover .dt-sc-team-thumb:after, .dt-sc-button.fully-rounded-border:hover, .dt-sc-dark-bg .blog-medium-style.white-highlight .dt-sc-button.fully-rounded-border:hover, .dt-sc-contact-info.type3, .dt-sc-title.with-two-color-bg:after, .dt-sc-hr-timeline-section.type1:before, .dt-sc-hr-timeline-section.type1 .dt-sc-hr-timeline .dt-sc-hr-timeline-content:after, .dt-sc-hr-timeline-section.type1 .dt-sc-hr-timeline-wrapper:before, .dt-sc-hr-timeline-section.type1 .dt-sc-hr-timeline-wrapper:after, .dt-sc-hr-timeline-section.type2 .dt-sc-hr-timeline-content h3:before, .dt-sc-hr-timeline-section.type2 .dt-sc-hr-timeline:hover .dt-sc-hr-timeline-thumb:before, .dt-sc-training-details-overlay, .dt-sc-image-caption.type4:hover .dt-sc-button, .dt-sc-timeline-section.type2:before, .dt-sc-counter.type5:hover:after, .dt-sc-triangle-title:after, .diamond-narrow-square-border li:hover:before, .dt-sc-title.with-right-border-decor:after, .dt-sc-icon-box.type10:hover .icon-wrapper:before, .dt-sc-icon-box.type10 .icon-content h4:before, .dt-sc-title.with-right-border-decor:before, .dt-sc-team.hide-social-role-show-on-hover:hover .dt-sc-team-details, .dt-sc-team.hide-social-role-show-on-hover .dt-sc-team-social li:hover, .dt-sc-counter.type6 h4:before, .dt-sc-counter.type6:hover .dt-sc-couter-icon-holder:before, .dt-sc-contact-info.type4 span:after, .dt-sc-contact-info.type4:before, .dt-sc-pr-tb-col.type2 .dt-sc-tb-header .dt-sc-tb-title:before, .dt-sc-pr-tb-col.type2 .dt-sc-tb-content:before, .dt-sc-pr-tb-col.type2 .dt-sc-tb-content li .highlight, .dt-sc-pr-tb-col.type2:hover .dt-sc-price:before, .dt-sc-event-image-caption:hover, .dt-sc-content-with-hexagon-shape, .dt-sc-sociable.hexagon-with-border li, .dt-sc-contact-info.type5 .dt-sc-contact-icon, .dt-sc-title.with-boxed, .dt-sc-readmore-plus-icon:hover:before, .dt-sc-readmore-plus-icon:hover:after, .dt-sc-icon-box.type11:before, .dt-sc-contact-details-on-map .map-switch-icon, .dt-sc-hexagons li .dt-sc-hexagon-overlay, .dt-sc-counter.type3.diamond-square .dt-sc-couter-icon-holder .icon-wrapper:before, .dt-sc-titled-box h6.dt-sc-titled-box-title, .dt-sc-pr-tb-col.type2:hover .dt-sc-buy-now a, .dt-sc-counter.type4:hover .dt-sc-couter-icon-holder, .dt-sc-images-wrapper .carousel-arrows a:hover { background:#9e2fb2; }

.dt-sc-contact-info.type5:hover, .dt-sc-contact-info.type6 { background-color:#9e2fb2; }

.dt-sc-team.type2 .dt-sc-team-thumb .dt-sc-team-thumb-overlay, .dt-sc-hexagon-image span:before { background:rgba(158, 47, 178, 0.9); }

.dt-sc-testimonial-wrapper .dt-sc-testimonial-bullets a:hover, .dt-sc-testimonial-wrapper .dt-sc-testimonial-bullets a.active, .dt-sc-testimonial-wrapper .dt-sc-testimonial-bullets a.active:before, .dt-sc-testimonial-wrapper .dt-sc-testimonial-bullets a.active:hover:before, .dt-sc-team-social.rounded-border li a:hover, .carousel-arrows a:hover, .dt-sc-testimonial-images li.selected div, .dt-sc-team-social.square-border li a:hover, .dt-sc-image-caption.type2 .dt-sc-image-content, .dt-sc-text-with-icon.border-bottom, .dt-sc-text-with-icon.border-right, .dt-sc-testimonial.type5 .dt-sc-testimonial-quote, .dt-sc-contact-info.type2:hover, .dt-sc-newsletter-section.type2 .dt-sc-subscribe-frm input[type="text"], .dt-sc-button.fully-rounded-border, .dt-sc-button.fully-rounded-border:hover, .dt-sc-dark-bg .blog-medium-style.white-highlight .dt-sc-button.fully-rounded-border, .dt-sc-button.rounded-border.black:hover, .dt-sc-button.bordered.black:hover, .dt-sc-button.bordered:hover, .dt-sc-button.rounded-border:hover, .dt-sc-hr-timeline-section.type1 .dt-sc-hr-timeline .dt-sc-hr-timeline-content:before, .dt-sc-image-caption.type4, .dt-sc-image-caption.type4:hover .dt-sc-button, .dt-sc-timeline-section.type2 .dt-sc-timeline-image-wrapper, .dt-sc-timeline-section.type2 .dt-sc-timeline .dt-sc-timeline-content:after, .dt-sc-timeline-section.type2:after, .dt-sc-counter.type3.diamond-square, .dt-sc-icon-box.type5.no-icon .icon-content h4, .dt-sc-icon-box.type5.no-icon, .dt-sc-counter.type5:hover:before, .dt-sc-counter.type5:hover:after, .diamond-narrow-square-border li:before, .dt-sc-title.with-right-border-decor h2:before, .dt-sc-icon-box.type10 .icon-wrapper:before, .dt-sc-icon-box.type10, .dt-sc-counter.type6, .dt-sc-contact-info.type4, .last .dt-sc-contact-info.type4, .dt-sc-pr-tb-col.type2 .dt-sc-tb-header:before, .dt-sc-hexagons li:hover, .dt-sc-hexagons li:hover:before, .dt-sc-hexagons li:hover:after, .dt-sc-hexagons li, .dt-sc-hexagons li:before, .dt-sc-hexagons li .dt-sc-hexagon-overlay:before, .dt-sc-hexagons li:after, .dt-sc-hexagons li .dt-sc-hexagon-overlay:after, ul.dt-sc-tabs-horizontal > li > a.current, ul.dt-sc-tabs-vertical > li > a.current, .dt-sc-button:hover{border-color:#9e2fb2;}

.dt-sc-pr-tb-col.type2 .dt-sc-tb-content:after, .dt-sc-content-with-hexagon-shape:after { border-top-color:#9e2fb2; }
.dt-sc-content-with-hexagon-shape:before { border-bottom-color:#9e2fb2; }
.dt-sc-event-image-caption:hover .dt-sc-image-content:before { border-left-color:#9e2fb2; }

/* Accordion & Toggle */
.dt-sc-toggle-frame h5.dt-sc-toggle-accordion.active a, .dt-sc-toggle-frame h5.dt-sc-toggle.active a { color:#9e2fb2; }
.dt-sc-toggle-frame h5.dt-sc-toggle-accordion.active a:before, h5.dt-sc-toggle-accordion.active a:before, .dt-sc-toggle-frame h5.dt-sc-toggle.active a:before, h5.dt-sc-toggle.active a:before, .type2 .dt-sc-toggle-frame h5.dt-sc-toggle-accordion.active, .type2 .dt-sc-toggle-frame h5.dt-sc-toggle.active { background:#9e2fb2; }
.type2 .dt-sc-toggle-frame h5.dt-sc-toggle-accordion.active, .type2 .dt-sc-toggle-frame h5.dt-sc-toggle.active { border-color:#9e2fb2; } 

/* Inner Page Skins */
ul.side-nav li a:hover, .dt-sc-tabs-vertical-frame-container.type2 ul.dt-sc-tabs-vertical-frame > li > a.current:before, .dt-sc-image-caption.type8:hover .dt-sc-image-content h3 a:hover, .dt-sc-icon-box.type13 .icon-content h4, .dt-sc-testimonial.type8 .dt-sc-testimonial-quote blockquote q, .dt-sc-progress-wrapper .dt-sc-bar-title, .dt-sc-hexagon-title h2 span, .dt-sc-toggle-panel h2 span, .dt-sc-timeline-section.type4 .dt-sc-timeline:hover .dt-sc-timeline-content h2, .dt-sc-icon-box.type14 .icon-content h4, .dt-sc-testimonial.type7 .dt-sc-testimonial-quote blockquote cite { color:#9e2fb2; }

.dt-sc-timeline-section.type3 .dt-sc-timeline .dt-sc-timeline-content h2:before, ul.side-nav li a:hover:before, ul.side-nav > li.current_page_item > a:before, ul.side-nav > li > ul > li.current_page_item > a:before, ul.side-nav > li > ul > li > ul > li.current_page_item > a:before, .dt-sc-contact-info.type7 span:after, .dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame > li > a.current > span:after, .dt-sc-icon-box.type3.dt-sc-diamond:hover .icon-wrapper:after, .dt-sc-icon-box.type5.rounded-skin .icon-wrapper, .dt-sc-image-caption.type8 .dt-sc-image-content:before, .dt-sc-tabs-horizontal-frame-container.type5 ul.dt-sc-tabs-horizontal-frame > li > a.current, .dt-sc-icon-box.type13:hover, .dt-sc-contact-info.type8:hover span, .dt-sc-toggle-icon, .dt-sc-timeline-section.type4 .dt-sc-timeline .dt-sc-timeline-content h2:before, .dt-sc-timeline-section.type4 .dt-sc-timeline:hover .dt-sc-timeline-thumb:before, .dt-sc-icon-box.type12, .dt-sc-tabs-horizontal-frame-container.type6 ul.dt-sc-tabs-horizontal-frame > li > a, .dt-sc-icon-box.type14:hover, .dt-sc-tabs-vertical-frame-container.type3 ul.dt-sc-tabs-vertical-frame > li > a:hover, .dt-sc-tabs-vertical-frame-container.type3 ul.dt-sc-tabs-vertical-frame > li > a.current, .dt-sc-tabs-vertical-frame-container.type4 ul.dt-sc-tabs-vertical-frame > li > a:before, .dt-sc-tabs-vertical-frame-container.type4 ul.dt-sc-tabs-vertical-frame > li > a:after, .dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame > li > a.current > span:after{background:#9e2fb2;}

.dt-sc-keynote-speakers .dt-sc-speakers-thumb .dt-sc-speakers-thumb-overlay { background:rgba(158, 47, 178, 0.9); }

.dt-sc-timeline-section.type4 .dt-sc-timeline-thumb-overlay { background:rgba(158, 47, 178, 0.7); }

.type3 .dt-sc-toggle-frame .dt-sc-toggle-content, .dt-sc-tabs-vertical-frame-container.type3 ul.dt-sc-tabs-vertical-frame > li > a.current:before { border-left-color:#9e2fb2; }
.dt-sc-tabs-horizontal-frame-container.type3 ul.dt-sc-tabs-horizontal-frame > li > a.current, .dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame > li > a.current{border-bottom-color:#9e2fb2;}	
.dt-sc-icon-box.type3.dt-sc-diamond:hover .icon-wrapper:after, .dt-sc-single-hexagon, .dt-sc-single-hexagon:before, .dt-sc-single-hexagon .dt-sc-single-hexagon-overlay:before, .dt-sc-single-hexagon:after, .dt-sc-single-hexagon .dt-sc-single-hexagon-overlay:after, .dt-sc-counter.type6 .dt-sc-couter-icon-holder:before, .dt-sc-tabs-vertical-frame-container.type3 ul.dt-sc-tabs-vertical-frame > li > a:hover, .dt-sc-tabs-vertical-frame-container.type3 ul.dt-sc-tabs-vertical-frame > li > a.current { border-color:#9e2fb2; }

.skin-highlight .dt-sc-tabs-horizontal-frame-container.type6 ul.dt-sc-tabs-horizontal-frame > li > a:before { border-top-color:#9e2fb2; }

/* Dark Color */
.dt-sc-button.with-icon.icon-right.type1:hover, .dt-sc-button.filled:hover, input[type="submit"]:hover, button:hover, input[type="reset"]:hover, .dt-sc-team-social.rounded-square li a:hover, .dt-sc-icon-box.type3:hover .icon-wrapper span, .dt-sc-counter.type2:hover .dt-sc-couter-icon-holder, .dt-sc-newsletter-section.type2 .dt-sc-subscribe-frm input[type="submit"]:hover, .skin-highlight .dt-sc-testimonial.type6 .dt-sc-testimonial-author:before, .skin-highlight .dt-sc-testimonial.type6:after, #wpsl-search-btn:hover{background:#8c289e;}

.dt-sc-image-caption.type2:hover .dt-sc-image-content, .dt-sc-newsletter-section.type2 .dt-sc-subscribe-frm input[type="email"], .dt-sc-sociable.hexagon-with-border li, .dt-sc-sociable.hexagon-with-border li:before, .dt-sc-sociable.hexagon-with-border li:after, .dt-sc-contact-info.type5 .dt-sc-contact-icon, .dt-sc-contact-info.type5 .dt-sc-contact-icon:before, .dt-sc-contact-info.type5 .dt-sc-contact-icon:after { border-color:#8c289e; }
.dt-sc-icon-box.type10 .icon-wrapper:before, .dt-sc-contact-info.type4 span:after, .dt-sc-pr-tb-col.type2 .dt-sc-tb-header:before { box-shadow:5px 0px 0px 0px #8c289e; }
.dt-sc-icon-box.type10:hover .icon-wrapper:before { box-shadow:7px 0px 0px 0px #8c289e; }
.dt-sc-counter.type6 .dt-sc-couter-icon-holder:before { box-shadow:5px 1px 0px 0px #8c289e; }
.dt-sc-button.with-shadow.white, .dt-sc-pr-tb-col.type2 .dt-sc-buy-now a { box-shadow:3px 3px 0px 0px #8c289e; }

/* Light Color */
.dt-sc-triangle-title:before, .dt-sc-icon-box.type10 .icon-wrapper:after { background:#861a9a; }

/******** ====== Buddypress ========********/
#buddypress div.pagination .pagination-links span, #buddypress div.pagination .pagination-links a:hover, #buddypress #members-dir-list ul li:hover { border-color:#9e2fb2; }

#buddypress div.pagination .pagination-links span, #buddypress div.pagination .pagination-links a:hover, #buddypress #group-create-body #group-creation-previous, #item-header-content #item-meta > #item-buttons .group-button, #buddypress div#subnav.item-list-tabs ul li.feed a:hover, #buddypress div.activity-meta a:hover, #buddypress div.item-list-tabs ul li.selected a span, #buddypress .activity-list li.load-more a, #buddypress .activity-list li.load-newest a { background-color:#9e2fb2; }
#item-header-content #item-meta > #item-buttons .group-button:hover, #buddypress .activity-list li.load-more a:hover, #buddypress .activity-list li.load-newest a:hover { background-color:#8c289e; }

#members-list.item-list.single-line li h5 span.small a.button, #buddypress div.item-list-tabs ul li.current a, #buddypress #group-create-tabs ul li.current a, #buddypress a.bp-primary-action:hover span, #buddypress div.item-list-tabs ul li.selected a { color:#9e2fb2; }


/******** ====== bbpress ========********/
.bbp-pagination-links a:hover, .bbp-pagination-links span.current { border-color:#9e2fb2; }

#bbpress-forums li.bbp-header, .bbp-submit-wrapper #bbp_topic_submit, .bbp-reply-form #bbp_reply_submit, .bbp-pagination-links a:hover, .bbp-pagination-links span.current, #bbpress-forums #subscription-toggle a.subscription-toggle { background-color:#9e2fb2; }
#bbpress-forums #subscription-toggle a.subscription-toggle:hover, .bbp-submit-wrapper #bbp_topic_submit:hover { background-color:#8c289e; }

.bbp-forums .bbp-body .bbp-forum-info::before { color:#9e2fb2; }

/******** ====== Events ========********/

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover, #tribe-bar-form .tribe-bar-submit input[type="submit"], #tribe-bar-views .tribe-bar-views-list li.tribe-bar-active a, .tribe-events-calendar thead th, #tribe-events-content .tribe-events-tooltip h4, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-read-more, #tribe-events .tribe-events-button, .tribe-events-button, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a, .tribe-events-back > a { background:#9e2fb2; }
#tribe-bar-form .tribe-bar-submit input[type="submit"]:hover, .tribe-events-read-more:hover, #tribe-events .tribe-events-button:hover, .tribe-events-button:hover, .tribe-events-back > a:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover { background:#8c289e; }

.tribe-events-list .tribe-events-event-cost span { border-color:#9e2fb2; }

/******** ====== Events Pro ========********/

.tribe-grid-header, .tribe-grid-allday .tribe-events-week-allday-single, .tribe-grid-body .tribe-events-week-hourly-single { background:#9e2fb2; }
.tribe-grid-header .tribe-week-today { background-color:#8c289e; }

/******** ====== Event Detail ========********/ 
.type1 .event-schedule, .type1.tribe_events .nav-top-links a:hover, .type1.tribe_events .event-image-wrapper .event-datetime > i, .type1.tribe_events .event-image-wrapper .event-venue > i, .type1.tribe_events h4 a, .type2.tribe_events .date-wrapper p span, .type2.tribe_events h4 a, .type3.tribe_events .right-calc a:hover, .type3.tribe_events .tribe-events-sub-nav li a:hover, .type3.tribe_events .tribe-events-sub-nav li a span, .type4.tribe_events .data-wrapper p span, .type4.tribe_events .data-wrapper p i, .type4.tribe_events .event-organize h4 a, .type4.tribe_events .event-venue h4 a, .type5.tribe_events .event-details h3, .type5.tribe_events .event-organize h3, .type5.tribe_events .event-venue h3, .type5.tribe_events .data-wrapper p span, .data-wrapper p i, .type5.tribe_events .event-organize h4 a, .type5.tribe_events .event-venue h4 a { color:#9e2fb2; }

.type1.tribe_events .event-image-wrapper .event-datetime > span, .type3.tribe_events .event-date, .event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a { background:#9e2fb2; }

/******** ====== Event Listing Shortcode ========********/
.dt-sc-event.type1 .dt-sc-event-thumb p, .dt-sc-event.type1 .dt-sc-event-meta:before, .dt-sc-event.type2:hover .dt-sc-event-meta, .dt-sc-event.type3 .dt-sc-event-date, .dt-sc-event.type3:hover .dt-sc-event-meta { background: #9e2fb2; }
.dt-sc-event.type1 .dt-sc-event-meta p span, .dt-sc-event.type1:hover h2.entry-title a, .dt-sc-event.type3:hover h2.entry-title a, .dt-sc-event.type4 .dt-sc-event-date span { color:#9e2fb2; }
.dt-sc-event.type4 .dt-sc-event-date:after { border-bottom-color:#9e2fb2; }

/******** ====== WooCommerce ========********/

/* Default */
.woocommerce a.button, .woocommerce button.button, .woocommerce button, .woocommerce input.button, .woocommerce input[type=button], .woocommerce input[type=submit], .woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce .product .summary .add_to_wishlist, .woocommerce .wishlist_table .add_to_cart.button, .woocommerce .yith-wcwl-add-button a.add_to_wishlist, .woocommerce .yith-wcwl-popup-button a.add_to_wishlist, .woocommerce .wishlist_table a.ask-an-estimate-button, .woocommerce .wishlist-title a.show-title-form, .woocommerce .hidden-title-form a.hide-title-form, .woocommerce .yith-wcwl-wishlist-new button, .woocommerce .wishlist_manage_table a.create-new-wishlist, .woocommerce .wishlist_manage_table button.submit-wishlist-changes, .woocommerce .yith-wcwl-wishlist-search-form button.wishlist-search-button, .woocommerce .cart input.button, .woocommerce .shop_table th, .woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page button, .woocommerce-page input.button, .woocommerce-page input[type=button], .woocommerce-page input[type=submit], .woocommerce-page #respond input#submit, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page .product .summary .add_to_wishlist, .woocommerce-page .wishlist_table .add_to_cart.button, .woocommerce-page .yith-wcwl-add-button a.add_to_wishlist, .woocommerce-page .yith-wcwl-popup-button a.add_to_wishlist, .woocommerce-page .wishlist_table a.ask-an-estimate-button, .woocommerce-page .wishlist-title a.show-title-form, .woocommerce-page .hidden-title-form a.hide-title-form, .woocommerce-page .yith-wcwl-wishlist-new button, .woocommerce-page .wishlist_manage_table a.create-new-wishlist, .woocommerce-page .wishlist_manage_table button.submit-wishlist-changes, .woocommerce-page .yith-wcwl-wishlist-search-form button.wishlist-search-button, .woocommerce-page .cart input.button, .woocommerce-page .shop_table th, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a:after { background-color:#9e2fb2; }

.woocommerce ul.products li.product .featured-tag, .woocommerce ul.products li.product:hover .featured-tag, .woocommerce.single-product .featured-tag { background-color:#9e2fb2; }

.woocommerce ul.products li.product .featured-tag:after, .woocommerce ul.products li.product:hover .featured-tag:after, .woocommerce.single-product .featured-tag:after { border-color:#9e2fb2; }

.woocommerce-checkout #payment ul.payment_methods li a:hover { color:#9e2fb2; }

/* Dark */
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce button:hover, .woocommerce input.button:hover, .woocommerce input[type=button]:hover, .woocommerce input[type=submit]:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce .product .summary .add_to_wishlist:hover, .woocommerce .wishlist_table .add_to_cart.button:hover, .woocommerce .yith-wcwl-add-button a.add_to_wishlist:hover, .woocommerce .yith-wcwl-popup-button a.add_to_wishlist:hover, .woocommerce .wishlist_table a.ask-an-estimate-button:hover, .woocommerce .wishlist-title a.show-title-form:hover, .woocommerce .hidden-title-form a.hide-title-form:hover, .woocommerce .yith-wcwl-wishlist-new button:hover, .woocommerce .wishlist_manage_table a.create-new-wishlist:hover, .woocommerce .wishlist_manage_table button.submit-wishlist-changes:hover, .woocommerce .yith-wcwl-wishlist-search-form button.wishlist-search-button:hover, .woocommerce .cart input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page button:hover, .woocommerce-page input.button:hover, .woocommerce-page input[type=button]:hover, .woocommerce-page input[type=submit]:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page .product .summary .add_to_wishlist:hover, .woocommerce-page .wishlist_table .add_to_cart.button:hover, .woocommerce-page .yith-wcwl-add-button a.add_to_wishlist:hover, .woocommerce-page .yith-wcwl-popup-button a.add_to_wishlist:hover, .woocommerce-page .wishlist_table a.ask-an-estimate-button:hover, .woocommerce-page .wishlist-title a.show-title-form:hover, .woocommerce-page .hidden-title-form a.hide-title-form:hover, .woocommerce-page .yith-wcwl-wishlist-new button:hover, .woocommerce-page .wishlist_manage_table a.create-new-wishlist:hover, .woocommerce-page .wishlist_manage_table button.submit-wishlist-changes:hover, .woocommerce-page .yith-wcwl-wishlist-search-form button.wishlist-search-button:hover, .woocommerce-page .cart input.button:hover { background-color:#821196; }

/*--***-- << Type 1 - Fashion Theme >> --***--*/

/* Default */
.woo-type1 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type1 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type1 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type1 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type1 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type1 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type1 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover { background-color:#9e2fb2; }

.woo-type1 ul.products li.product-category:hover .product-details h5, .woo-type1 ul.products li.product-category:hover .product-details h5 .count, .woo-type1 ul.products li.product .product-details .product-price .amount, .woo-type1 ul.products li.product .product-details span.price, .woo-type1 ul.products li.product .product-details span.price del, .woo-type1 ul.products li.product .product-details span.price del .amount, .woo-type1 ul.products li.product .product-details span.price ins, .woo-type1 ul.products li.product .product-details span.price ins .amount, .woo-type1.woocommerce.single-product .product .summary .product_meta a:hover, .woo-type1.woocommerce div.product .woocommerce-tabs ul.tabs li.active a { color:#9e2fb2; }

.woo-type1 .woocommerce ul.products li.product .star-rating:before, .woo-type1 .woocommerce ul.products li.product .star-rating span:before, .woo-type1.woocommerce ul.products li.product .star-rating:before, .woo-type1.woocommerce ul.products li.product .star-rating span:before, .woo-type1.woocommerce .star-rating:before, .woo-type1.woocommerce .star-rating span:before, .woo-type1 .woocommerce .star-rating:before, .woo-type1 .woocommerce .star-rating span:before { color: rgba(158, 47, 178, 0.85); }

/* Light */
.woo-type1 ul.products li.product:hover .product-thumb:after { -webkit-box-shadow: 0 0 0 10px rgba(193, 69, 214, 0.35) inset; -moz-box-shadow: 0 0 0 10px rgba(193, 69, 214, 0.35) inset; -ms-box-shadow: 0 0 0 10px rgba(193, 69, 214, 0.35) inset; -o-box-shadow: 0 0 0 10px rgba(193, 69, 214, 0.35) inset; box-shadow: 0 0 0 10px rgba(193, 69, 214, 0.35) inset; }

/*--***-- << Type 2 - Jewel Theme >> --***--*/

/* Default */
.woo-type2 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type2 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type2 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type2 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type2 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type2 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type2 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woo-type2.woocommerce ul.products li.product .onsale, .woo-type2.woocommerce ul.products li.product:hover .onsale, .woo-type2 .woocommerce ul.products li.product .onsale, .woo-type2 .woocommerce ul.products li.product:hover .onsale, .woo-type2.woocommerce ul.products li.product .out-of-stock, .woo-type2.woocommerce ul.products li.product:hover .out-of-stock, .woo-type2 .woocommerce ul.products li.product .out-of-stock, .woo-type2 .woocommerce ul.products li.product:hover .out-of-stock, .woo-type2.woocommerce span.onsale, .woo-type2.woocommerce span.out-of-stock, .woo-type2 .woocommerce span.onsale, .woo-type2 .woocommerce span.out-of-stock, .woo-type2 div.product .woocommerce-tabs ul.tabs li.active a { background-color:#9e2fb2; } 

.woo-type2 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type2 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type2 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type2 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type2 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type2 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type2 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover { background-color: rgba(158, 47, 178, 0.75); }

.woo-type2 ul.products li.product .product-details h5 a:hover, .woo-type2 ul.products li.product-category:hover .product-details h5, .woo-type2 ul.products li.product-category:hover .product-details h5 .count { color: rgba(158, 47, 178, 0.6); }


/* Light */
.woo-type2.woocommerce a.button:hover, .woo-type2.woocommerce button.button:hover, .woo-type2.woocommerce button:hover, .woo-type2.woocommerce input.button:hover, .woo-type2.woocommerce input[type=button]:hover, .woo-type2.woocommerce input[type=submit]:hover, .woo-type2.woocommerce #respond input#submit:hover, .woo-type2.woocommerce a.button.alt:hover, .woo-type2.woocommerce button.button.alt:hover, .woo-type2.woocommerce input.button.alt:hover, .woo-type2.woocommerce #respond input#submit.alt:hover, .woo-type2 .woocommerce a.button:hover, .woo-type2 .woocommerce button.button:hover, .woo-type2 .woocommerce button:hover, .woo-type2 .woocommerce input.button:hover, .woo-type2 .woocommerce input[type=button]:hover, .woo-type2 .woocommerce input[type=submit]:hover, .woo-type2 .woocommerce #respond input#submit:hover, .woo-type2 .woocommerce a.button.alt:hover, .woo-type2 .woocommerce button.button.alt:hover, .woo-type2 .woocommerce input.button.alt:hover, .woo-type2 .woocommerce #respond input#submit.alt:hover, .woo-type2 .product .summary .add_to_wishlist:hover, .woo-type2 .wishlist_table .add_to_cart.button:hover, .woo-type2 .yith-wcwl-add-button a.add_to_wishlist:hover, .woo-type2 .yith-wcwl-popup-button a.add_to_wishlist:hover, .woo-type2 .wishlist_table a.ask-an-estimate-button:hover, .woo-type2 .wishlist-title a.show-title-form:hover, .woo-type2 .hidden-title-form a.hide-title-form:hover, .woo-type2 .yith-wcwl-wishlist-new button:hover, .woo-type2 .wishlist_manage_table a.create-new-wishlist:hover, .woo-type2 .wishlist_manage_table button.submit-wishlist-changes:hover, .woo-type2 .yith-wcwl-wishlist-search-form button.wishlist-search-button:hover, .woo-type2 .cart input.button:hover { background-color:#861a9a; }

.woo-type2 div.product .summary a, .woo-type2 .shipping-calculator-button, .woo-type2.woocommerce-checkout #payment ul.payment_methods li a:hover { color:#861a9a; }

/*--***-- << Type 3 - Business Theme >> --***--*/

/* Default */
.woo-type3 ul.products li.product .product-details h5:after { background-color:#9e2fb2; }

.woo-type3 ul.products li.product-category:hover .product-details h5, .woo-type3 ul.products li.product-category:hover .product-details h5 .count { color:#9e2fb2; }

/* Dark */
.woo-type3 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type3 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type3 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type3 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type3 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type3 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type3 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover{background-color:#9e2fb2;}

/*--***-- << Type 4 - Hosting Theme >> --***--*/

/* Default */
.woo-type4 ul.products li.product .product-thumb a.add_to_cart_button:after, .woo-type4 ul.products li.product .product-thumb a.button.product_type_simple:after, .woo-type4 ul.products li.product .product-thumb a.button.product_type_variable:after, .woo-type4 ul.products li.product .product-thumb a.added_to_cart.wc-forward:after, .woo-type4 ul.products li.product .product-thumb a.add_to_wishlist:after, .woo-type4 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:after, .woo-type4 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:after, .woo-type4 ul.products li.product .product-details h5:after{background-color:#821196;}

.woo-type4 ul.products li.product-category:hover .product-details h5, .woo-type4 ul.products li.product-category:hover .product-details h5 .count { color:#9e2fb2; }

/* Dark */
.woo-type4 ul.products li.product .product-thumb a.add_to_cart_button:hover:after, .woo-type4 ul.products li.product .product-thumb a.button.product_type_simple:hover:after, .woo-type4 ul.products li.product .product-thumb a.button.product_type_variable:hover:after, .woo-type4 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:after, .woo-type4 ul.products li.product .product-thumb a.add_to_wishlist:hover:after, .woo-type4 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:after, .woo-type4 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:after{background-color:#821196;}


/*--***-- << Type 5 - Spa Theme >> --***--*/

/* Default */
.woo-type5 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type5 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type5 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type5 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type5 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type5 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type5 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woo-type5 ul.products li.product .product-details h5:after { background-color:#9e2fb2; }

.woo-type5 ul.products li.product-category:hover .product-details h5, .woo-type5 ul.products li.product-category:hover .product-details h5 .count { color:#9e2fb2; }

/* Dark */
.woo-type5 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type5 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type5 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type5 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type5 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type5 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type5 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover{background-color:#821196;}

/*--***-- << Type 6 - Wedding Theme >> --***--*/

/* Default */
.woo-type6 ul.products li.product .price { background-color:#9e2fb2; }

.woo-type6.woocommerce ul.products li.product:hover .product-content, .woo-type6 .woocommerce ul.products li.product:hover .product-content, 
.woo-type6.woocommerce ul.products li.product.instock:hover .on-sale-product .product-content, .woo-type6 .woocommerce ul.products li.product.instock:hover .on-sale-product .product-content, 
.woo-type6.woocommerce ul.products li.product.outofstock:hover .out-of-stock-product .product-content, .woo-type6 .woocommerce ul.products li.product.outofstock:hover .out-of-stock-product .product-content,
.woo-type6.woocommerce ul.products li.product-category:hover .product-thumb .image:after, .woo-type6 .woocommerce ul.products li.product-category:hover .product-thumb .image:after { background-color: rgba(158, 47, 178, 0.75); }

.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button:hover:before, .woo-type6 ul.products li.product .product-thumb a.button.product_type_simple:hover:before, .woo-type6 ul.products li.product .product-thumb a.button.product_type_variable:hover:before, .woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:before, .woo-type6 ul.products li.product .product-thumb a.add_to_wishlist:hover:before, .woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:before, .woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:before, .woo-type6 ul.products li.product-category:hover .product-details h5, .woo-type6 ul.products li.product-category:hover .product-details h5 .count { color:#9e2fb2; }

/*--***-- << Type 7 - University Theme >> --***--*/

/* Default */
.woo-type7 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type7 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type7 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type7 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type7 ul.products li.product .product-details, .woo-type7 ul.products li.product:hover .product-details h5 { background-color:#9e2fb2; } 

/* Light */
.woo-type7 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type7 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woo-type7 ul.products li.product:hover .product-details { background-color:#861a9a; }

.woo-type7 ul.products li.product .product-details { -webkit-box-shadow: 0 -2px 0 0 #861a9a; -moz-box-shadow: 0 -2px 0 0 #861a9a; -ms-box-shadow: 0 -2px 0 0 #861a9a; -o-box-shadow: 0 -2px 0 0 #861a9a; box-shadow: 0 -2px 0 0 #861a9a; }

/* Dark */
.woo-type7 ul.products li.product .product-details h5{background-color:#861a9a;}

.woo-type7 ul.products li.product:hover .product-details { -webkit-box-shadow: 0 -3px 0 0 #ff9c22 inset; -moz-box-shadow: 0 -3px 0 0 #ff9c22 inset; -ms-box-shadow: 0 -3px 0 0 #ff9c22 inset; -o-box-shadow: 0 -3px 0 0 #ff9c22 inset; box-shadow: 0 -3px 0 0 #ff9c22 inset; }

/*--***-- << Type 8 - Insurance Theme >> --***--*/

/* Default */
.woo-type8 ul.products li.product .product-details, .woo-type8 ul.products li.product:hover .product-details h5:before { background-color:#9e2fb2; }

.woo-type8.woocommerce ul.products li.product:hover .product-content, .woo-type8.woocommerce ul.products li.product-category:hover .product-thumb .image:after, 
.woo-type8 .woocommerce ul.products li.product:hover .product-content, .woo-type8 .woocommerce ul.products li.product-category:hover .product-thumb .image:after { background-color: rgba(158, 47, 178, 0.75); }

.woo-type8.woocommerce ul.products li.product:hover .product-content:after, .woo-type8 .woocommerce ul.products li.product:hover .product-content:after { border-color: rgba(158, 47, 178, 0.75) rgba(158, 47, 178,0.75) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.35); }

.woo-type8 ul.products li.product .product-thumb a.add_to_cart_button:hover:before, .woo-type8 ul.products li.product .product-thumb a.button.product_type_simple:hover:before, .woo-type8 ul.products li.product .product-thumb a.button.product_type_variable:hover:before, .woo-type8 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:before, .woo-type8 ul.products li.product .product-thumb a.add_to_wishlist:hover:before, .woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:before, .woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:before, .woo-type8 ul.products li.product:hover .product-details h5 a:hover { color:#9e2fb2; }

/* Dark */
.woo-type8 ul.products li.product:hover .product-wrapper { border-color:#9e2fb2; }
.woo-type8 ul.products li.product:hover .product-details h5:after { border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #9e2fb2 rgba(0, 0, 0, 0); }

/*--***-- << Type 9 - Plumber Theme >> --***--*/

/* Default */
.woo-type9 ul.products li.product .product-thumb a.add_to_cart_button:hover:after, .woo-type9 ul.products li.product .product-thumb a.button.product_type_simple:hover:after, .woo-type9 ul.products li.product .product-thumb a.button.product_type_variable:hover:after, .woo-type9 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:after, .woo-type9 ul.products li.product .product-thumb a.add_to_wishlist:hover:after, .woo-type9 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:after, .woo-type9 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:after { background-color:#9e2fb2; }

.woo-type9 ul.products li.product .product-details { background-color: #9e2fb2; }

.woo-type9.woocommerce ul.products li.product .product-wrapper, .woo-type9 .woocommerce ul.products li.product .product-wrapper { border-color: rgba(158, 47, 178, 0.6); }

/* Dark */
.woo-type9 ul.products li.product .product-thumb a.add_to_cart_button:after, .woo-type9 ul.products li.product .product-thumb a.button.product_type_simple:after, .woo-type9 ul.products li.product .product-thumb a.button.product_type_variable:after, .woo-type9 ul.products li.product .product-thumb a.added_to_cart.wc-forward:after, .woo-type9 ul.products li.product .product-thumb a.add_to_wishlist:after, .woo-type9 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:after, .woo-type9 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:after, .woo-type9 ul.products li.product:hover .product-details{background-color:#821196;}

.woo-type9 ul.products li.product:hover .product-details h5:after{border-color:#821196;}

.woo-type9 ul.products li.product:hover .product-wrapper{border-color:#821196;}

/*--***-- << Type 10 - Medical Theme >> --***--*/

/* Default */
.woo-type10 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type10 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type10 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type10 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type10 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type10 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type10 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woo-type10 ul.products li.product:hover .product-details { background-color:#9e2fb2; }

.woo-type10 ul.products li.product:hover .product-wrapper { border-color:#9e2fb2; }

.woo-type10 ul.products li.product:hover .product-details:before, .woo-type10 ul.products li.product:hover .product-details:after { border-bottom-color:#9e2fb2; }

/* Dark */
.woo-type10 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type10 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type10 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type10 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type10 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type10 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type10 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover{background-color:#821196;}

.woo-type10.woocommerce ul.products li.product .featured-tag, .woo-type10 .woocommerce ul.products li.product .featured-tag, .woo-type10.woocommerce.single-product .featured-tag { background-color:#821196; }

.woo-type10 ul.products li.product .featured-tag:after, .woo-type10 ul.products li.product:hover .featured-tag:after, .woo-type10.woocommerce.single-product .featured-tag:after { border-color:#821196; }

/*--***-- << Type 11 - Model Theme >> --***--*/

/* Default */
.woo-type11 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type11 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type11 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type11 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type11 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type11 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type11 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover, .woo-type11.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after { background-color:#9e2fb2; }

.woo-type11 ul.products li.product .product-details { background-color:#9e2fb2; }

.woo-type11 ul.products li.product:hover .product-wrapper { -webkit-box-shadow: 0 0 0 3px #9e2fb2; -moz-box-shadow: 0 0 0 3px #9e2fb2; -ms-box-shadow: 0 0 0 3px #9e2fb2; -o-box-shadow: 0 0 0 3px #9e2fb2; box-shadow: 0 0 0 3px #9e2fb2; }

.woo-type11 ul.products li.product .product-thumb a.add_to_cart_button:before, .woo-type11 ul.products li.product .product-thumb a.button.product_type_simple:before, .woo-type11 ul.products li.product .product-thumb a.button.product_type_variable:before, .woo-type11 ul.products li.product .product-thumb a.added_to_cart.wc-forward:before, .woo-type11 ul.products li.product .product-thumb a.add_to_wishlist:before, .woo-type11 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:before, .woo-type11 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:before { color:#9e2fb2; }

/* Dark */
.woo-type11 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type11 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type11 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type11 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type11 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type11 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type11 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woo-type11 ul.products li.product:hover .product-wrapper:before, .woo-type11 ul.products li.product:hover .product-wrapper:after, .woo-type11.woocommerce ul.products li.product .product-thumb, .woo-type11 .woocommerce ul.products li.product .product-thumb, .woo-type11 ul.products li.product-category a img{border-color:#9e2fb2;}

/*--***-- << Type 12 - Attorney Theme >> --***--*/

/* Default */
.woo-type12 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type12 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type12 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type12 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type12 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type12 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type12 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woo-type12 ul.products li.product:hover .product-details, .woo-type12 ul.products li.product .product-details h5:after { background-color:#9e2fb2; }

.woo-type12 ul.products li.product .product-details { -webkit-box-shadow: 0 -3px 0 0 #9e2fb2 inset; -moz-box-shadow: 0 -3px 0 0 #9e2fb2 inset; -ms-box-shadow: 0 -3px 0 0 #9e2fb2 inset; -o-box-shadow: 0 -3px 0 0 #9e2fb2 inset; box-shadow: 0 -3px 0 0 #9e2fb2 inset; } 

/* Dark */
.woo-type12 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type12 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type12 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type12 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type12 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type12 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type12 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover, .woo-type12 ul.products li.product:hover .product-details h5:after{background-color:#821196;}

.woo-type12 ul.products li.product:hover .product-wrapper{border-color:#821196;}

/*--***-- << Type 13 - Architecture Theme >> --***--*/

/* Default */
.woo-type13 ul.products li.product .product-details h5:before { background-color:#9e2fb2; }

.woo-type13.woocommerce ul.products li.product:hover .product-content, .woo-type13 .woocommerce ul.products li.product:hover .product-content, 
.woo-type13.woocommerce ul.products li.product.instock:hover .on-sale-product .product-content, .woo-type13 .woocommerce ul.products li.product.instock:hover .on-sale-product .product-content, 
.woo-type13.woocommerce ul.products li.product.outofstock:hover .out-of-stock-product .product-content, .woo-type13 .woocommerce ul.products li.product.outofstock:hover .out-of-stock-product .product-content, 
.woo-type13.woocommerce ul.products li.product-category:hover .product-thumb .image:after, .woo-type13 .woocommerce ul.products li.product-category:hover .product-thumb .image:after { background-color: rgba(158, 47, 178, 0.75); }

.woo-type13 ul.products li.product .product-thumb a.add_to_cart_button:hover:before, .woo-type13 ul.products li.product .product-thumb a.button.product_type_simple:hover:before, .woo-type13 ul.products li.product .product-thumb a.button.product_type_variable:hover:before, .woo-type13 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:before, .woo-type13 ul.products li.product .product-thumb a.add_to_wishlist:hover:before, .woo-type13 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:before, .woo-type13 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:before, .woo-type13 ul.products li.product:hover .product-details h5 a, .woo-type13 ul.products li.product-category:hover .product-details h5, .woo-type13 ul.products li.product-category:hover .product-details h5 .count { color:#9e2fb2; }

/*--***-- << Type 14 - Fitness Theme >> --***--*/

/* Default */
.woo-type14 ul.products li.product:hover .product-details, .woo-type14 ul.products li.product .product-details h5:before, .woo-type14 ul.products li.product:hover .product-details h5:after { background-color:#9e2fb2; }

.woo-type14 ul.products li.product:hover .product-details h5:after { border-color:#9e2fb2; }

.woo-type14 ul.products li.product .product-details, .woo-type14 ul.products li.product .product-details h5:after { -webkit-box-shadow: 0 0 0 2px #9e2fb2 inset; -moz-box-shadow: 0 0 0 2px #9e2fb2 inset; -ms-box-shadow: 0 0 0 2px #9e2fb2 inset; -o-box-shadow: 0 0 0 2px #9e2fb2 inset; box-shadow: 0 0 0 2px #9e2fb2 inset; }

/* Dark */
.woo-type14 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type14 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type14 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type14 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type14 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type14 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type14 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover{background-color:#9e2fb2;}

/*--***-- << Type 15 - Hotel Theme >> --***--*/

/* Default */
.woo-type15 ul.products li.product .product-thumb a.add_to_cart_button:after, .woo-type15 ul.products li.product .product-thumb a.button.product_type_simple:after, .woo-type15 ul.products li.product .product-thumb a.button.product_type_variable:after, .woo-type15 ul.products li.product .product-thumb a.added_to_cart.wc-forward:after, .woo-type15 ul.products li.product .product-thumb a.add_to_wishlist:after, .woo-type15 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:after, .woo-type15 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:after, .woo-type15 ul.products li.product .price:after { background-color:#9e2fb2; }

.woo-type15 ul.products li.product:hover .product-wrapper { border-color:#9e2fb2; }

.woo-type15 ul.products li.product .product-thumb a.add_to_cart_button:after, .woo-type15 ul.products li.product .product-thumb a.button.product_type_simple:after, .woo-type15 ul.products li.product .product-thumb a.button.product_type_variable:after, .woo-type15 ul.products li.product .product-thumb a.added_to_cart.wc-forward:after, .woo-type15 ul.products li.product .product-thumb a.add_to_wishlist:after, .woo-type15 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:after, .woo-type15 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:after { -webkit-box-shadow: 0 0 0 2px #9e2fb2; -moz-box-shadow: 0 0 0 2px #9e2fb2; -ms-box-shadow: 0 0 0 2px #9e2fb2; -o-box-shadow: 0 0 0 2px #9e2fb2; box-shadow: 0 0 0 2px #9e2fb2; }

/* Dark */
.woo-type15 ul.products li.product .product-thumb a.add_to_cart_button:hover:after, .woo-type15 ul.products li.product .product-thumb a.button.product_type_simple:hover:after, .woo-type15 ul.products li.product .product-thumb a.button.product_type_variable:hover:after, .woo-type15 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:after, .woo-type15 ul.products li.product .product-thumb a.add_to_wishlist:hover:after, .woo-type15 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:after, .woo-type15 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:after, .woo-type15.woocommerce ul.products li.product .featured-tag, .woo-type15 .woocommerce ul.products li.product .featured-tag, .woo-type15.woocommerce.single-product .featured-tag { background-color:#821196; }

.woo-type15.woocommerce ul.products li.product .featured-tag:after, .woo-type15.woocommerce ul.products li.product:hover .featured-tag:after, .woo-type15 .woocommerce ul.products li.product .featured-tag:after, .woo-type15 .woocommerce ul.products li.product:hover .featured-tag:after, .woo-type15.woocommerce.single-product .featured-tag:after { border-color:#821196; }

/*--***-- << Type 16 - Photography Theme >> --***--*/

/* Default */
.woo-type16 ul.products li.product .product-wrapper, .woo-type16 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type16 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type16 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type16 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type16 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type16 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type16 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover, .woo-type16.woocommerce .shop_table th, .woo-type16 .woocommerce .shop_table th, .woo-type16.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after { background-color:#9e2fb2; }

/*--***-- << Type 17 - Restaurant Theme >> --***--*/

/* Default */
.woo-type17 ul.products li.product .product-thumb a.add_to_cart_button:hover:after, .woo-type17 ul.products li.product .product-thumb a.button.product_type_simple:hover:after, .woo-type17 ul.products li.product .product-thumb a.button.product_type_variable:hover:after, .woo-type17 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:after, .woo-type17 ul.products li.product .product-thumb a.add_to_wishlist:hover:after, .woo-type17 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:after, .woo-type17 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:after, .woo-type17 ul.products li.product:hover .product-details { background-color:#9e2fb2; }

.woo-type17 ul.products li.product:hover .product-wrapper, .woo-type17 ul.products li.product:hover .product-thumb a.add_to_cart_button:after, .woo-type17 ul.products li.product:hover .product-thumb a.button.product_type_simple:after, .woo-type17 ul.products li.product:hover .product-thumb a.button.product_type_variable:after, .woo-type17 ul.products li.product:hover .product-thumb a.added_to_cart.wc-forward:after, .woo-type17 ul.products li.product:hover .product-thumb a.add_to_wishlist:after, .woo-type17 ul.products li.product:hover .product-thumb .yith-wcwl-wishlistaddedbrowse a:after, .woo-type17 ul.products li.product:hover .product-thumb .yith-wcwl-wishlistexistsbrowse a:after, .woo-type17 ul.products li.product .product-details h5 a:after, .woo-type17 ul.products li.product-category .product-details h5:after, .woo-type17 ul.products li.product .price { border-color:#9e2fb2; }

.woo-type17 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type17 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type17 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type17 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type17 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type17 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type17 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woo-type17 ul.products li.product .product-thumb a.add_to_cart_button:before, .woo-type17 ul.products li.product .product-thumb a.button.product_type_simple:before, .woo-type17 ul.products li.product .product-thumb a.button.product_type_variable:before, .woo-type17 ul.products li.product .product-thumb a.added_to_cart.wc-forward:before, .woo-type17 ul.products li.product .product-thumb a.add_to_wishlist:before, .woo-type17 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:before, .woo-type17 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:before, .woo-type17 ul.products li.product .product-details h5 a, .woo-type17 ul.products li.product-category .product-details h5, .woo-type17 ul.products li.product-category .product-details h5 .count, .woo-type17 ul.products li.product .product-details .product-price .amount, .woo-type17 ul.products li.product .product-details span.price, .woo-type17 ul.products li.product .product-details span.price del, .woo-type17 ul.products li.product .product-details span.price del .amount, .woo-type17 ul.products li.product .product-details span.price ins, .woo-type17 ul.products li.product .product-details span.price ins .amount, .woo-type17 .widget.woocommerce ul li:hover:before { color:#9e2fb2; }

/* Dark */
.woo-type17.woocommerce ul.products li.product .featured-tag, .woo-type17 .woocommerce ul.products li.product .featured-tag, .woo-type17.woocommerce.single-product .featured-tag { background-color:#821196; }

.woo-type17 ul.products li.product .featured-tag:after, .woo-type17 ul.products li.product:hover .featured-tag:after, .woo-type17.woocommerce.single-product .featured-tag:after { border-color:#821196; }

/*--***-- << Type 18 - Event Theme >> --***--*/

/* Default */
.woo-type18 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type18 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type18 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type18 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type18 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type18 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type18 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a { background-color:#9e2fb2; }

/* Light */
.woo-type18 ul.products li.product:hover .product-content, .woo-type18 ul.products li.product.instock:hover .on-sale-product .product-content, .woo-type18 ul.products li.product.outofstock:hover .out-of-stock-product .product-content, .woo-type18.woocommerce ul.products li.product:hover .product-content, .woo-type18.woocommerce ul.products li.product.instock:hover .on-sale-product .product-content, .woo-type18.woocommerce ul.products li.product.outofstock:hover .out-of-stock-product .product-content, .woo-type18.woocommerce-page ul.products li.product:hover .product-content, .woo-type18.woocommerce-page ul.products li.product.instock:hover .on-sale-product .product-content, .woo-type18.woocommerce-page ul.products li.product.outofstock:hover .out-of-stock-product .product-content { background-color: rgba(193, 69, 214, 0.6); }

.woo-type18 ul.products li.product:hover .product-wrapper:after { border-color:#861a9a; }

.woo-type18 ul.products li.product:hover .product-details h5 a:hover, .woo-type18.woocommerce-checkout #payment ul.payment_methods li a:hover { color:#861a9a; }

/* Dark */
.woo-type18 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type18 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type18 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type18 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type18 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type18 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type18 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover { background-color:#821196; }

.woo-type18 ul.products li.product:hover .product-details h5 { border-color:#821196; }

.woo-type18 ul.products li.product:hover .product-details h5 a, .woo-type18 ul.products li.product-category:hover .product-details h5, .woo-type18 ul.products li.product-category:hover .product-details h5 .count, .woo-type18 ul.products li.product:hover .product-details .product-price .amount, .woo-type18 ul.products li.product:hover .product-details span.price, .woo-type18 ul.products li.product:hover .product-details span.price del, .woo-type18 ul.products li.product:hover .product-details span.price del .amount, .woo-type18 ul.products li.product:hover .product-details span.price ins, .woo-type18 ul.products li.product:hover .product-details span.price ins .amount, .woo-type18 ul.products li.product .product-details .product-rating-wrapper .star-rating:before, .woo-type18 ul.products li.product .product-details .product-rating-wrapper .star-rating span:before { color:#821196; }

/*--***-- << Type 19 - Nightclub Theme >> --***--*/

/* Default */
.woo-type19 ul.products li.product:hover .product-wrapper, .woo-type19 ul.products li.product:hover .product-details { background-color:#9e2fb2; }

.woo-type19 ul.products li.product .product-thumb a.add_to_cart_button:hover:before, .woo-type19 ul.products li.product .product-thumb a.button.product_type_simple:hover:before, .woo-type19 ul.products li.product .product-thumb a.button.product_type_variable:hover:before, .woo-type19 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:before, .woo-type19 ul.products li.product .product-thumb a.add_to_wishlist:hover:before, .woo-type19 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:before, .woo-type19 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:before { color:#9e2fb2; }

/* Light */
.woo-type19.woocommerce ul.products li.product:hover .product-content, .woo-type19 .woocommerce ul.products li.product:hover .product-content, 
.woo-type19.woocommerce ul.products li.product.instock:hover .on-sale-product .product-content, .woo-type19 .woocommerce ul.products li.product.instock:hover .on-sale-product .product-content, 
.woo-type19.woocommerce ul.products li.product.outofstock:hover .out-of-stock-product .product-content, .woo-type19 .woocommerce ul.products li.product.outofstock:hover .out-of-stock-product .product-content { background-color: rgba(193, 69, 214, 0.45); }

/* Dark */
.woo-type19 ul.products li.product:hover .product-thumb .image { -webkit-box-shadow: 0 0 1px 4px #821196; -moz-box-shadow: 0 0 1px 4px #821196; -ms-box-shadow: 0 0 1px 4px #821196; -o-box-shadow: 0 0 1px 4px #821196; box-shadow: 0 0 1px 4px #821196; }

/*--***-- << Type 20 - Yoga Theme >> --***--*/

/* Default */
.woo-type20 ul.products li.product .product-thumb a.add_to_cart_button, .woo-type20 ul.products li.product .product-thumb a.button.product_type_simple, .woo-type20 ul.products li.product .product-thumb a.button.product_type_variable, .woo-type20 ul.products li.product .product-thumb a.added_to_cart.wc-forward, .woo-type20 ul.products li.product .product-thumb a.add_to_wishlist, .woo-type20 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woo-type20 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woo-type20 ul.products li.product .product-wrapper:after, .woo-type20.woocommerce ul.products li.product .product-details h5, .woo-type20 .woocommerce ul.products li.product .product-details h5, .woo-type20 ul.products li.product-category .product-wrapper h3 { border-color:#9e2fb2; }

.woo-type20 ul.products li.product .product-thumb a.add_to_cart_button:before, .woo-type20 ul.products li.product .product-thumb a.button.product_type_simple:before, .woo-type20 ul.products li.product .product-thumb a.button.product_type_variable:before, .woo-type20 ul.products li.product .product-thumb a.added_to_cart.wc-forward:before, .woo-type20 ul.products li.product .product-thumb a.add_to_wishlist:before, .woo-type20 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:before, .woo-type20 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:before, .woo-type20 ul.products li.product .product-details h5 a, .woo-type20 ul.products li.product-category .product-details h5, .woo-type20 ul.products li.product-category .product-details h5 .count, .woo-type20 ul.products li.product .product-details .product-price .amount, .woo-type20 ul.products li.product .product-details span.price, .woo-type20 ul.products li.product .product-details span.price del, .woo-type20 ul.products li.product .product-details span.price del .amount, .woo-type20 ul.products li.product .product-details span.price ins, .woo-type20 ul.products li.product .product-details span.price ins .amount, .woo-type20 ul.products li.product .product-details .product-rating-wrapper .star-rating:before, .woo-type20 ul.products li.product .product-details .product-rating-wrapper .star-rating span:before { color:#9e2fb2; }

/* Light */
.woo-type20.woocommerce ul.products li.product:hover .product-content, .woo-type20 .woocommerce ul.products li.product:hover .product-content, 
.woo-type20.woocommerce ul.products li.product.instock:hover .on-sale-product .product-content, .woo-type20 .woocommerce ul.products li.product.instock:hover .on-sale-product .product-content, 
.woo-type20.woocommerce ul.products li.product.outofstock:hover .out-of-stock-product .product-content, .woo-type20 .woocommerce ul.products li.product.outofstock:hover .out-of-stock-product .product-content { background-color: rgba(193, 69, 214, 0.3); }

.woo-type20 ul.products li.product .product-wrapper { -webkit-box-shadow: 0 0 0 5px rgba(193, 69, 214, 0.75) inset; -moz-box-shadow: 0 0 0 5px rgba(193, 69, 214, 0.75) inset; -ms-box-shadow: 0 0 0 5px rgba(193, 69, 214, 0.75) inset; -o-box-shadow: 0 0 0 5px rgba(193, 69, 214, 0.75) inset; box-shadow: 0 0 0 5px rgba(193, 69, 214, 0.75) inset; }

/* Dark */
.woo-type20.woocommerce .shop_table th, .woo-type20 .woocommerce .shop_table th, .woo-type20.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after { background-color:#821196; }

.woo-type20 ul.products li.product .product-thumb a.add_to_cart_button:hover, .woo-type20 ul.products li.product .product-thumb a.button.product_type_simple:hover, .woo-type20 ul.products li.product .product-thumb a.button.product_type_variable:hover, .woo-type20 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover, .woo-type20 ul.products li.product .product-thumb a.add_to_wishlist:hover, .woo-type20 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woo-type20 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover, .woo-type20 ul.products li.product:hover .product-wrapper { background-color: rgba(124, 27, 140, 0.5); }

.woo-type20 ul.products li.product:hover .product-wrapper:after, .woo-type20 div.product div.images img { border-color:#821196; }

.woo-type20.woocommerce-checkout #payment ul.payment_methods li a:hover { color:#821196; }

/* Additional Plugin Widgets */
.widget.buddypress div.item-options a:hover, .widget.buddypress div.item-options a.selected, #footer .footer-widgets.dt-sc-dark-bg .widget.buddypress div.item-options a.selected, .widget.widget_bp_core_members_widget div.item .item-title a:hover, .widget.buddypress .bp-login-widget-user-links > div.bp-login-widget-user-link a:hover { color:#9e2fb2; }
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { background:#9e2fb2; }

.widget.tribe-events-countdown-widget .tribe-countdown-text a:hover { color:#9e2fb2; }
.widget.tribe_mini_calendar_widget .tribe-mini-calendar thead.tribe-mini-calendar-nav td { background:#9e2fb2; }
.widget.tribe_mini_calendar_widget .tribe-mini-calendar thead.tribe-mini-calendar-nav td { border-color:#9e2fb2; }

.widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-events-present, .widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today, .tribe-mini-calendar .tribe-events-has-events.tribe-events-present a:hover, .widget.tribe_mini_calendar_widget .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today a:hover { background:#9e2fb2; }

.dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-events-present, .dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today, .dt-sc-dark-bg .tribe-mini-calendar .tribe-events-has-events.tribe-events-present a:hover, .dt-sc-dark-bg .widget.tribe_mini_calendar_widget .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today a:hover { background:#9e2fb2; }

/* Comming Soon */
.under-construction.type4 .coming-soon h2 span, .under-construction.type4 .read-more i, .under-construction.type4 .coming-soon h4:after, .under-construction.type4 .coming-soon h4:before, .under-construction.type1 .read-more span.fa, .under-construction.type1 .read-more a:hover, .under-construction.type2 .counter-icon-wrapper .dt-sc-counter-number, .under-construction.type2 h2, .under-construction.type2 .dt-sc-counter-wrapper h3, .under-construction.type2 .mailchimp-newsletter h3,  .under-construction.type7 h2, .under-construction.type7 .mailchimp-newsletter h3, .under-construction.type3 p, .under-construction.type5 h2 span, .under-construction.type5 .dt-sc-counter-number, .under-construction.type5 footer .dt-sc-team-social li:hover a, .under-construction.type5 input[type="email"], .under-construction.type7 .aligncenter .wpb_text_column h2 { color:#9e2fb2; }

.under-construction.type4 .dt-sc-counter-wrapper, .under-construction.type1 .dt-sc-newsletter-section form input[type="submit"], .under-construction.type1 .dt-sc-counter-wrapper .counter-icon-wrapper:before, .under-construction.type2 .dt-sc-sociable > li:hover a, .under-construction.type7 .dt-sc-sociable > li:hover a, .under-construction.type3 .dt-sc-newsletter-section form input[type="submit"], .under-construction.type3 .dt-sc-sociable > li:hover a, .under-construction.type7 .dt-sc-counter-wrapper, .under-construction.type7 .dt-sc-newsletter-section form input[type="submit"] { background:#9e2fb2; }

.under-construction.type3 .dt-sc-sociable > li:hover a { border-color:#9e2fb2; }

/* 404 */
.error404.type2 h2, .error404.type8 h2, .error404.type8 .dt-go-back:hover i { color:#9e2fb2; }
.error404.type2 a.dt-sc-back, .error404.type4 .error-box, .error404.type4 .dt-sc-newsletter-section input[type="submit"], .error404.type8 .dt-go-back { background: #9e2fb2; }
.error404.type2 a.dt-sc-back:hover, .error404.type4 .dt-sc-newsletter-section input[type="submit"]:hover { background:#8c289e; }

/*** Primary Color ***/

h1, h2, h3, h4, h5, h6, .dt-sc-contact-info span, .dt-sc-team.dt-sc-team-member:hover h4, .dt-sc-blog-content.blog-entry.entry-date-left .entry-date a:hover i, .dt-sc-blog-content .dt-sc-read-more:hover, .dt-sc-tabs-horizontal-frame-container.dt-sc-fullwidth-tab ul.dt-sc-tabs-horizontal-frame > li:hover > a, .dt-sc-sociable.rounded-border li a:hover, .dt-sc-toggle-group-set.dt-sc-circle-listed h5 a, .dt-sc-event.type4 .dt-sc-event-date span, .dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame > li > a.current, .dt-sc-icon-box.type5:hover .icon-content h4 a, .dt-sc-icon-box.type5:hover .icon-wrapper span, .dt-sc-counter.image-flip-counter .dt-sc-counter-number, .dt-sc-counter.image-flip-counter h4, .dt-sc-popular-procedures.dt-sc-practices:hover a.view, #main-menu > ul.menu > li.current_page_item > a, #main-menu > ul > li.current_page_ancestor > a, #main-menu > ul > li.current-menu-item > a, #main-menu ul > li.current-menu-ancestor > a, #main-menu ul li.menu-item-simple-parent ul > li.current_page_item > a, #main-menu ul li.menu-item-simple-parent ul > li.current_page_ancestor > a, #main-menu ul li.menu-item-simple-parent ul > li.current-menu-item > a, #main-menu ul li.menu-item-simple-parent ul > li.current-menu-ancestor > a, .preg-404 h2, .dt-sc-toggle-frame-set.dt-sc-circle-listed h5 a, .dt-sc-tabs-horizontal-frame-container.tabs-with-sub-title ul.dt-sc-tabs-horizontal-frame > li > a.current, .dt-sc-tabs-horizontal-frame-container.tabs-with-sub-title ul.dt-sc-tabs-horizontal-frame > li:hover > a, .dt-sc-doctors-sorting a.active-sort, .dt-sc-schedule-progress.dt-sc-current-step h4, .dt-sc-schedule-progress.dt-sc-current-step span, .dt-sc-available-times .time-slots li a:hover, .dt-sc-available-times .time-slots li a.selected, .dt-sc-goback-box input[type=button], .dt-sc-goback-box:before, table.wpsl-opening-hours td:first-child, .vector-image-box a, .dt-sc-icon-box.type5.rounded .icon-wrapper span, .woo_product_desc .price ins, .woo-fullwidth.skin-highlight-tertiary .dt-sc-title.with-desc h2, .dt-sc-button.white.filled, .fullwidth-grey-bg-content .skin-highlight-tertiary .dt-sc-simple-title.sep-bottom h2, .dt-sc-products-wrapper ul li .product-wrap .product-detail-content a.view-detail-btn:hover, .woo_product_desc h2 a, .woocommerce-MyAccount-navigation ul > li.is-active > a{color:#9e2fb2;}

.preg-shop ul.products li.product .product-thumb a, .preg-shop ul.products li.product .product-thumb a:before, .preg-shop ul.products li.product .product-thumb a.button.product_type_simple:before, .preg-shop ul.products li.product .product-thumb a.added_to_cart.wc-forward:before, .preg-shop ul.products li.product .product-thumb a.button.product_type_variable:before, .preg-shop ul.products li.product .product-thumb a, .preg-shop ul.products li.product .product-thumb a:before, .woocommerce.preg-shop ul.products li.product .product-thumb .add_to_wishlist:before, .woocommerce-page.woocommerce.preg-shop #main ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:before, .woocommerce-page.woocommerce.preg-shop #main ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a, .woocommerce.preg-shop ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woocommerce.preg-shop ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:before, .preg-shop .woocommerce ul.products li.product .product-wrapper .product-thumb a.add_to_wishlist, .preg-shop .woocommerce ul.products li.product .product-wrapper .product-thumb a.add_to_wishlist:before{color:#9e2fb2;}

.dt-sc-counter.dt-sc-rounded-box, .play-button:hover, .widget .dt-sc-newsletter-section input[type=submit]:hover, .dt-sc-colored-big-buttons.type2:hover, .dt-sc-blog-content.blog-entry .entry-date-month, .dt-sc-blog-content .featured-post, .fullwidth-button:hover, .dt-sc-tooltip-one .tooltip-inner, .dt-sc-tooltip-two .tooltip-content, .dt-sc-tooltip-three .tooltip-content, .dt-sc-colored-icon-box .dt-sc-colored-content .icon-image, .dt-sc-pr-tb-col.dt-sc-simple-pricing-table .dt-sc-tb-header, .dt-sc-pr-tb-col.dt-sc-simple-pricing-table .dt-sc-price, .dt-sc-team-wrapper.team_carousel_items .carousel-arrows a:hover, .dt-sc-team-wrapper.team_carousel_items .carousel-arrows a.selected, button.fullwidth-button.dt-sc-button, .dt-sc-popular-procedures.dt-sc-practices:hover h3:after, ul.widget-child-bullet-list li ul li:before, ul.time-table > li:hover:before, ul.time-table > li.selected, .dt-sc-schedule-box .border-title h2:after, .dt-sc-contactdetails-box .border-title h2:after, .dt-sc-notification-box .border-title h2:after, .loader, #wpsl-search-btn, .page-link > span, .page-link a:hover span, .trimester-time-line ul li a.count-display,  .selection-box:after, .preg-appointment-form .form-calender-icon:after, .preg-appointment-form .form-time-icon:after, .dt-sc-button.white.filled:hover, .dt-sc-products-wrapper ul li .product-wrap .product-detail-content a.view-detail-btn, .dt-sc-products-wrapper .carousel-arrows a:hover{background-color:#9e2fb2;}

.dt-sc-colored-big-buttons.type2:hover, .page-link > span, .page-link a:hover span, .dt-sc-icon-box.type5.rounded .icon-wrapper, .fullwidth-testimonial.skin-highlight-tertiary .carousel-arrows a:hover, .dt-sc-button.white.filled:hover, .dt-sc-tabs-horizontal-frame-container.type5 ul.dt-sc-tabs-horizontal-frame > li > a{border-color:#9e2fb2;}

.dt-sc-tabs-horizontal-frame-container.type2 ul.dt-sc-tabs-horizontal-frame, .dt-sc-tooltip-three .tooltip-content::after, .main-title-section, #main-menu ul.menu > li > .megamenu-child-container, #main-menu ul li.menu-item-simple-parent ul, .dt-sc-tabs-horizontal-frame-container.type5 .dt-sc-tabs-horizontal-frame-content{border-top-color:#9e2fb2;}

.dt-sc-tabs-horizontal-frame-container.type2 ul.dt-sc-tabs-horizontal-frame > li > a.current, .dt-sc-tooltip-three.bottom .tooltip-content::after, .dt-sc-tabs-horizontal-frame-container.tabs-with-sub-title ul.dt-sc-tabs-horizontal-frame > li > a.current{border-bottom-color:#9e2fb2;}

.dt-sc-tabs-horizontal-frame-container.type2 ul.dt-sc-tabs-horizontal-frame > li > a.current{border-left-color:#9e2fb2;}

.dt-sc-tabs-horizontal-frame-container.type2 ul.dt-sc-tabs-horizontal-frame > li > a.current{border-right-color:#9e2fb2;}

.dt-sc-tooltip-one .tooltip-content::after, .dt-sc-tooltip-one.bottom .tooltip-content .tooltip-text, .dt-sc-tooltip-one .tooltip-content::after, .dt-sc-tooltip-one.dt-sc-tooltip-bottom .tooltip-content .tooltip-text{border-top-color:#821196;}

.dt-sc-tooltip-one.dt-sc-tooltip-bottom .tooltip-content::after, .dt-sc-tooltip-one .tooltip-text, .dt-sc-schedule-progress.dt-sc-current-step, .dt-sc-available-times .time-slots li a.selected{border-bottom-color:#821196;}

.dt-sc-colored-icon-box{box-shadow:0 0 0 2px #9e2fb2; -moz-box-shadow:0 0 0 2px #9e2fb2; -webkit-box-shadow:0 0 0 2px #9e2fb2;}

.dt-sc-team.dt-sc-team-member .dt-sc-team-thumb .team-overlay{background-color:rgba(158, 47, 178,0.8);}

/*.header-on-slider .main-title-section-wrapper:before{background-color:rgba(158, 47, 178,0.2);}*/


.preg-shop ul.products li.product .price{background-color:#9e2fb2;}

.preg-shop.woocommerce ul.products li.product:hover .product-content, .preg-shop .woocommerce ul.products li.product:hover .product-content, 
.preg-shop.woocommerce ul.products li.product.instock:hover .on-sale-product .product-content, .preg-shop .woocommerce ul.products li.product.instock:hover .on-sale-product .product-content, 
.preg-shop.woocommerce ul.products li.product.outofstock:hover .out-of-stock-product .product-content, .preg-shop .woocommerce ul.products li.product.outofstock:hover .out-of-stock-product .product-content,
.preg-shop.woocommerce ul.products li.product-category:hover .product-thumb .image:after, .preg-shop .woocommerce ul.products li.product-category:hover .product-thumb .image:after{background-color:rgba(158, 47, 178, 0.75);}

.preg-shop ul.products li.product .product-thumb a.add_to_cart_button:hover:before, .preg-shop ul.products li.product .product-thumb a.button.product_type_simple:hover:before, .preg-shop ul.products li.product .product-thumb a.button.product_type_variable:hover:before, .preg-shop ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:before, .preg-shop ul.products li.product .product-thumb a.add_to_wishlist:hover:before, .preg-shop ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:before, .preg-shop ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:before, .preg-shop ul.products li.product-category:hover .product-details h5, .preg-shop ul.products li.product-category:hover .product-details h5 .count{color:#9e2fb2;}

/*** Secondary Color***/

a:hover, .dt-sc-testimonial blockquote q:before, .dt-sc-icon-box .icon-content h4 a:hover, .dt-sc-team.dt-sc-team-member .dt-sc-team-social li a:hover, .dt-sc-blog-gradient-content.blog-entry .read-more .dt-sc-btn, .dt-sc-tabs-horizontal-frame-container.dt-sc-fullwidth-tab ul.dt-sc-tabs-horizontal-frame > li > a.current, .dt-sc-toggle-group-set.dt-sc-circle-listed h5.active a, .dt-sc-toggle-group-set.dt-sc-circle-listed h5.dt-sc-toggle.active:before, ul.j-load-all li:hover a, ul.j-load-all li.current_page_item a, .dt-sc-counter.image-flip-counter:hover .dt-sc-counter-number, .dt-sc-counter.image-flip-counter:hover h4, .dt-sc-gynecologist-single-details .dt-sc-sociable li a:hover, .dt-sc-toggle-frame-set.dt-sc-circle-listed h5.active a, .dt-sc-toggle-frame-set.dt-sc-circle-listed h5.dt-sc-toggle-accordion.active:before, .dt-sc-icon-box.type5.rounded:hover .icon-content h4, .dt-sc-icon-box.type5.rounded:hover .icon-wrapper span, .dt-sc-contact-info.type6 a:hover, .dt-sc-blog-gradient-content.blog-entry .entry-details h4 a:hover, .dt-sc-blog-gradient-content.blog-entry .entry-details a:hover, .dt-sc-blog-gradient-content.blog-entry .entry-meta-data .entry-meta p:hover i, .dt-sc-blog-gradient-content.blog-entry .entry-meta-data .entry-meta p:hover, .dt-sc-blog-gradient-content.blog-entry .entry-meta-data .entry-meta a:hover i, .dt-sc-blog-gradient-content.blog-entry .entry-details a.p-comments, .vector-image-box .icon-content a:hover, .woo_product_desc h2 a:hover{color:#ff9c22;}

input[type="submit"], button, input[type="reset"], .dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame > li > a.current:after, .play-button, .dt-sc-counter.dt-sc-rounded-box:hover, .dt-sc-colored-big-buttons span, .widget .dt-sc-newsletter-section input[type=submit], .dt-sc-tabs-horizontal-frame-container.dt-sc-fullwidth-tab ul.dt-sc-tabs-horizontal-frame > li > a.current:after, .dt-sc-pr-tb-col.dt-sc-simple-pricing-table:hover .dt-sc-price, .dt-sc-pr-tb-col.dt-sc-simple-pricing-table:hover .dt-sc-tb-header, .dt-sc-pr-tb-col.dt-sc-simple-pricing-table.selected .dt-sc-price, .dt-sc-pr-tb-col.dt-sc-simple-pricing-table.selected .dt-sc-tb-header, button.fullwidth-button.dt-sc-button:hover, .selection-box:hover:after, ul.j-load-all li a:before, .trimester-time-line ul li:hover a.count-display, .widgettitle:before, .dt-sc-blog-gradient-content.blog-entry .entry-details a.p-comments:after, .dt-sc-simple-title.sep-top:before, .dt-sc-simple-title.sep-bottom:after, .dt-sc-icon-box.type3.dt-sc-rounded:hover .icon-wrapper span{background-color:#ff9c22;}

.dt-sc-blog-gradient-content.blog-entry .read-more .dt-sc-btn, .trimester-time-line ul li .week-count-overlay, .dt-sc-icon-box.type5.rounded:hover .icon-wrapper{border-color:#ff9c22;}

.trimester-time-line ul li .week-count-overlay:before{border-top-color:#ff9c22;}

/*.dt-sc-title.with-desc span:before, .dt-sc-title.with-desc span:after{border-bottom-color:#ff9c22;}*/

.secondary-color{background-color:#ff9c22;}

.dt-sc-title.with-desc.shadow span:before, .dt-sc-title.with-desc.shadow span:after{box-shadow:0px 7px 10px 0px #ff9c22; -moz-box-shadow:0px 7px 10px 0px #ff9c22; -webkit-box-shadow:0px 7px 10px 0px #ff9c22;}

/*** Tertiary Color***/

.skin-highlight-tertiary, .fullwidth-grey-bg-content .skin-highlight-tertiary > .vc_column-inner{background-color:#98ea3a;}




