@charset "utf-8";
/* CSS Document */

/*.container.fill-container { width:100%; } */

/*=================== 404 ====================*/
.error404 .vc_row.vc-default-row { margin-left:0; }

.error404, .error404 > .wrapper { width:100%; height:100%; }

.center-content-wrapper { display:table; width:100%; height:100%; }
.center-content-wrapper .center-content { display:table-cell; width:100%; height:100%; vertical-align:middle; }

/***** Type1 *****/
.error404.type1 .center-content-wrapper { text-align:center; }
.error404.type1 h3, .error404.type1 h4 { font-family: 'Raleway', sans-serif; }
.error404.type1 h3 { font-size:100px; font-weight:300; text-transform:uppercase; margin-bottom:0; letter-spacing:20px; }
.error404.type1 h4 { text-transform:uppercase; font-size:42px; font-weight:300; }

.error404.type1 .dt-sc-go-back { border-bottom: 1px solid #000; border-top: 1px solid #000; display: inline-block; padding: 35px 0; min-width:530px; }
.error404.type1 i { font-size:16px; color:#000000; font-style:normal; display:inline-block; font-weight:bold; margin-bottom:25px; }
.error404.type1 .dt-sc-back { display:inline-block; background:#000; padding:16px 35px 16px 15px; font-size:18px; text-transform:uppercase; color:#fff; position:relative; }
.error404.type1 .dt-sc-back:before { border-bottom: 30px solid transparent; border-right: 30px solid #000; border-top: 30px solid transparent; content: ""; display: inline-block; height: 0; left: -30px; position: absolute; top: 0; width: 0; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
.error404.type1 .dt-sc-go-back .dt-sc-back:hover { background-color:#fff; color:#000; }
.error404.type1 .dt-sc-go-back .dt-sc-back:hover:before { border-right-color:#fff; } 

.error404.type1 .dt-sc-newsletter-section { width:530px; display:inline-block; float:none; padding:0; }
.error404.type1 .dt-sc-newsletter-section form { position:relative; float:none; width:auto; }
.error404.type1 .dt-sc-newsletter-section input[type="email"] { width:100%; background:#faf5c8; border:1px solid #ccb802; font-size:16px; padding:18px 12px 18px; }
.error404.type1 .dt-sc-newsletter-section input[type="submit"] { position:absolute; right:21px; top:17px; text-indent:-9999px; background:url(../images/submit-bg.png) no-repeat; display:block; padding:0; width:25px; height:26px; }


/** White **/
.error404.type1 .white h3, .error404.type1 .white h4, .error404.type1 .white i { color:#fff; }
.error404.type1 .white .dt-sc-newsletter-section input[type="email"] { background:#000; border-color:#d3d3d3; }

/*** TYpe2 ***/
.error404.type2 .vc_col-sm-6:first-child { text-align:center; padding:0px 20px; }
.error404.type2 h2 { font-size:200px; font-weight:bold; display:inline-block; line-height:140px; top:-40px; position:relative; margin-bottom:0; }
.error404.type2 h3 { font-size:100px; font-weight:300; letter-spacing:20px; text-transform:uppercase; }
.error404.type2 h4 { font-size:42px; font-weight:300; text-transform:uppercase; border-bottom:2px solid #d0d0d0; padding-bottom:30px; margin-bottom:30px; }

.error404.type2 .vc_col-sm-6 { padding:0px 0 0 30px; }
.error404.type2 { font-size:16px; color:#888888; }
.error404.type2 p { font-size:15px; }

.error404.type2 .dt-sc-fancy-list { display:inline-block; list-style:none; }
.error404.type2 ul li:before { content: "\f22d"; font-family:FontAwesome; margin-right:10px; }
.error404.type2 a.dt-sc-back { color: #fff; display: inline-block; padding: 15px 40px; font-size:14px; }


/*** TYpe3 ***/
.error404.type3 { text-align:center; }
.error404.type3 h5 { font-size:42px; margin-top:10px; }
.error404.type3 h4 { font-size:35px; }

.error404.type3 a.dt-sc-back { background: #333333; color: #fff; display: inline-block; padding: 15px 30px; font-size:14px; }
.error404.type3 a.dt-sc-back i { color:#999999; margin-right:5px; }
.error404.type3 .dt-sc-go-back .wpb_wrapper > i { font-size:20px; line-height:normal; font-style:normal; color:#333333; }

.error404.type3 a.dt-sc-back:hover, .error404.type3 .dt-sc-newsletter-section input[type="submit"]:hover { background:#000; }

.error404.type3 .dt-sc-newsletter-section { display:inline-block; float:none; width:auto; padding:0; }
.error404.type3 .dt-sc-newsletter-section form { position:relative; min-width:500px; float:none; width:auto; }
.error404.type3 .dt-sc-newsletter-section input[type="email"] { background:#dedede; padding:20px; font-size:16px; width:100%; height:59px; margin-right:0; }
.error404.type3 .dt-sc-newsletter-section input[type="submit"] { border-radius: 0; margin-top: 0; padding: 17px 20px 17px; position: absolute; right: 5px; top: 5px; background:#333333; text-transform:capitalize; font-size:16px; height:49px; }
.error404.type3 .event .dt-sc-newsletter-section input[type="submit"] { padding:15px 20px; height:49px; }


/***** Type4 *****/
.error404.type4 { background:url(images/spa/spa-bg.jpg) no-repeat scroll 0 0 / 100% auto; text-align:center; }

.error404.type4 .error-box { padding:40px; border-radius: 100px 0px 100px 0px; display:inline-block; width:350px; height:350px; box-sizing:border-box; margin-top:40px; }
.error404.type4 .error-box h2, .error404.type4 .error-box h3, .error404.type4 .error-box h4 { color:#fff; text-transform:uppercase; }
.error404.type4 .error-box h2 { font-size:120px; font-family: 'Courgette', cursive; color:#fff; margin-bottom:0; }
.error404.type4 .error-box h3 { font-size:54px; margin-bottom:10px; }
.error404.type4 .error-box h4 { font-size:24px; }

.error404.type4 .error-text { font-size:24px; color:#999999; line-height:36px; font-weight:300; }

.error404.type4 .dt-sc-newsletter-section input[type="email"], .error404.type4 .error-text { font-family: 'Josefin Sans', sans-serif; }

.error404.type4 .dt-sc-newsletter-section { display: inline-block; min-width:475px; float:none; width:auto; padding:0; }
.error404.type4 .dt-sc-newsletter-section form { position:relative; float:none; width:auto; }
.error404.type4 .dt-sc-newsletter-section input[type="email"] { width:100%; background:#fafafa; border:1px solid #e6e6e6; border-radius:3px; font-size:18px; color:#000000; padding:19px 12px 18px; margin-right:0; height:60px; }
.error404.type4 .dt-sc-newsletter-section input[type="submit"] { position:absolute; right:0; top:0; margin-top:0; border-radius:0px 3px 3px 0px; height: 60px; padding: 18px 30px 17px; text-transform:capitalize; font-size:20px; font-weight:normal; }

/** Square **/
.error404.type4 .error-box.square { border-radius:0; transform:rotate(42deg); }
.error404.type4 .error-box.square .aligncenter { transform:rotate(-42deg); }
.error404.type4 .error-box.square h2 { font-family:Open Sans,sans-serif; line-height:140px; }
.error404.type4 .white .error-text { color:#fff; }


/***** Type5 *****/
.error404.type5 { text-align:center; }

.error404.type5 .vc_col-sm-6{ height:100%; display:table; }
.error404.type5 .wpb_wrapper { display: table; height: 100%; margin: 0 auto; }
.error404.type5 .container.fill-container { display: table; height: 100%; width: 100%; }

.error404.type5 .dt-sc-newsletter-section { display: table-cell; margin: auto; text-align: center; vertical-align: middle; padding:0; float:none; }
.error404.type5 .dt-sc-newsletter-section form {  margin: 0 auto; min-width: 500px; position: relative; width: 500px; float:none; }
.error404.type5 .dt-sc-newsletter-section input[type="email"] { background:#dedede; padding:20px; font-size:16px; border-radius:35px; width:100%; margin-right:0; }
.error404.type5 .dt-sc-newsletter-section input[type="submit"] { text-indent:-9999px; padding: 0; position: absolute; right: 28px; top: 19px; background:url(../images/submit-bg1.png) no-repeat; display:block; width:23px; height:24px; }

.error404.type5 .error-right { display:table-cell; vertical-align:middle; }

.error404.type5 h2 { color: #fff; font-size: 280px; text-shadow: 0px 20px 0 #1a1a1a; font-family: 'Raleway', sans-serif; line-height:270px; position:relative; top:-20px; }
.error404.type5 h3 { font-size:70px; font-family: 'Lato', sans-serif; font-style:italic; color:#666666; font-weight:bold; }

.error404.type5 .error-top, .error404.type5 .error-bottom { font-size:40px; color:#fff; position:relative; }
.error404.type5 .error-top { top:35px; } 
.error404.type5 .error-bottom { top:-41px; }

.error404.type5 a.dt-go-back { background:#5c5c5c; color:#fff; padding-right:20px; display:inline-block; }
.error404.type5 a.dt-go-back i { background:#fff; color:#1a1a1a; display:inline-block; line-height:20px; padding:15px; margin-right:15px; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }

.error404.type5 a.dt-go-back:hover { background:#fff; color:#1a1a1a; }
.error404.type5 a.dt-go-back:hover i { background:#5c5c5c; color:#fff; }


/***** Type6 *****/
.error404.type6 { text-align:center; font-family: 'Raleway', sans-serif; }

.error404.type6 .error-box { position:relative; display:inline-block; z-index:1; padding:50px 20px 20px 20px; width:350px; min-height:380px; }
.error404.type6 .error-box:before { content:""; background:rgba(0,0,0,0.4); display:inline-block; width:385px; height:385px; border:3px solid rgba(255,255,255,0.3); transform: rotate(20deg); position:absolute; top:0; left:0; right:0; z-index:-1; }
.error404.type6 .error-box:after { content:""; background:rgba(0,0,0,0.4); display:inline-block; width:385px; height:385px; border:3px solid rgba(255,255,255,0.3); transform: rotate(25deg); position:absolute; top:0; left:0; right:0; z-index:-1; }
.error404.type6 .error-box h3 { font-size:65px; color:#fff; text-transform:uppercase; font-family: 'Raleway', sans-serif; font-weight:300; letter-spacing:15px; }
.error404.type6 .error-box h2 { color: #ff0000; font-family: 'Raleway', sans-serif; font-size: 164px; line-height: 140px; margin-bottom: 0; position: relative; top: -40px; text-shadow: 0 5px 5px #000; }
.error404.type6 .error-box h4 { color:#fcdb34; text-transform:uppercase; font-family: 'Raleway', sans-serif; font-size:30px; }

.error404.type6 .error-text { color:#fff; font-size:22px; font-family: 'Raleway', sans-serif; line-height:40px; font-weight:normal; }

.error404.type6 a.dt-go-back { background:rgba(255,255,255,0.3); color:#fff; padding:13px 25px; display:inline-block; font-size:18px; text-transform:uppercase; font-weight:500; margin-bottom:10px; }
.error404.type6 a.dt-go-back:hover { background-color:#fff; color:#000; }


/***** Type7 *****/
.error404.type7 { text-align:center; }
.error404.type7 .error-content { float:left; display:inline-block; width:630px; text-align:center; }

.error404.type7 .dt-go-back { background: #000; border: 5px solid #fff; color: #fff; display: inline-block; font-size: 16px; height: 98px; line-height: 98px; position: relative; text-transform: uppercase; transform: rotate(45deg); width: 98px; }
.error404.type7 .dt-go-back i { transform:rotate(-45deg); display:inline-block; font-style:normal; }

.error-content .menu-links { margin-bottom:0; }
.error-content .menu-links li { display:inline-block; text-transform:uppercase; font-size:16px; padding:0; margin:0px 2px 5px; }
.error-content .menu-links li a { color:#131313; padding:7px 20px; display:inline-block; }
.error-content .menu-links li:hover a { background:#000; color:#fff; }

.error404.type7 .error-text { font-size:42px; line-height:55px; margin-bottom:0; }

.error404.type7 .dt-sc-newsletter-section { position:relative; display: inline-block; min-width: 480px; padding:0; }
.error404.type7 .dt-sc-newsletter-section form { float:none; margin:0 auto; min-width:500px; }
.error404.type7 input[type="email"] { background:rgba(0, 0, 0, 0.1); border:0; font-size:16px; padding:16px 20px 15px; height:54px; width:100%; border-radius:3px; margin-right:0; }
.error404.type7 input[type="submit"] { position:absolute; right:0; top:0; background:#000000; color:#fff; margin-top:0; padding:18px 20px 19px; height:54px; }
.error404.type7 input[type="submit"]:hover { background:#fff; color:#000; }

/** White **/
.error404.type7 .white .menu-links li a, .error404.type7 .white .error-text, .error404.type7 .white input[type="email"] { color:#fff; }

/***** Type8 *****/
.error404.type8 { color:#fff; font-size:16px; line-height:30px; font-family: 'Raleway', sans-serif; }
.error404.type8 h3 { font-size:100px; letter-spacing:20px; color:#fff; text-transform:uppercase; margin-bottom:0; font-weight:100; font-family: 'Raleway', sans-serif; z-index:1; position:relative; }
.error404.type8 h2 { font-size: 200px; line-height: 170px; margin-bottom: 0; position: relative; top: -30px; font-family: 'Raleway', sans-serif; }
.error404.type8 h4 { font-size:42px; color:#fff; text-transform:uppercase; font-weight:300; }

.error404.type8 .error-text { font-size:20px; color:#a5a5a5; font-style:normal; line-height:40px; }

.error404.type8 .dt-go-back { padding:14px 20px; color:#000000; font-size:20px; display:inline-block; }
.error404.type8 .dt-go-back i { color:#fff; margin-right:5px; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear;}

.error404.type8 .dt-go-back:hover { background:#fff; color:#000; }

/***** Type9 *****/
.error404.type3 .white h5, .error404.type3 .white h4, .error404.type3 .white .dt-sc-go-back .wpb_wrapper > i { color:#fff; }

.error404.type3 .white a.dt-sc-back:hover { background:#fff; color:#000; }
.error404.type3 .white .dt-sc-newsletter-section input[type="submit"]:hover { background:#000; }

.error404.type8 .black, .error404.type8 .black h3, .error404.type8 .black h4, .error404.type8 .black .error-text  { color:#000;  }