.tribe-bar-views-list li:hover span.tribe-icon-map, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-map { background-image:url(images/icon-map-hover.png); }
.tribe-bar-views-list li:hover span.tribe-icon-photo, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-photo { background-image:url(images/icon-photo-hover.png); }
.tribe-bar-views-list li:hover span.tribe-icon-week, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-week { background-image:url(images/icon-week-hover.png); }

#tribe-events-photo-events .type-tribe_events.tribe-events-photo-event { padding:2px; background:#efefef; }
.tribe-events-list.tribe-events-photo #tribe-events-photo-events .tribe-events-event-details h2 { display: inline-block; font-size: 20px; margin-bottom: 20px; }
.tribe-events-photo-event-wrap { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
.tribe-events-photo-event-wrap:hover { background: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.tribe-events-grid .tribe-grid-content-wrap .column, .tribe-week-grid-wrapper .column { margin-left:0; }
.scroller-content .tribe-events-grid .column.first, .scroller-content .tribe-week-grid-hours { margin-right:-40px; }

.tribe-grid-allday .tribe-events-week-allday-single a, .tribe-grid-body .tribe-events-week-hourly-single a, .tribe-grid-header .column, .tribe-grid-header { font-weight:700; }

/* Border color */
.tribe-week-grid-block div, .tribe-events-grid .tribe-grid-content-wrap .column, .tribe-grid-allday, .tribe-events-grid { border-color:rgba(0, 0, 0, 0.15); }


/******** ====== Skin for Business ========********/
/*.tribe-grid-allday .tribe-events-week-allday-single a, .tribe-grid-body .tribe-events-week-hourly-single a, .tribe-grid-header, .tribe-grid-header .column a { color:#fff; }
.tribe-grid-header, .tribe-grid-allday .tribe-events-week-allday-single, .tribe-grid-body .tribe-events-week-hourly-single { background:#da0000; }
.tribe-grid-header .tribe-week-today { background-color:#c50000; }
.tribe-grid-allday .tribe-events-week-allday-single, .tribe-grid-body .tribe-events-week-hourly-single { border-color:#c50000; }*/

/******** ====== Skin for Events ========********/
.tribe-grid-allday .tribe-events-week-allday-single a, .tribe-grid-body .tribe-events-week-hourly-single a, .tribe-grid-header, .tribe-grid-header .column a { color:#fff; }
.tribe-grid-header, .tribe-grid-allday .tribe-events-week-allday-single, .tribe-grid-body .tribe-events-week-hourly-single { background:#f1b956; }
.tribe-grid-header .tribe-week-today { background-color:#deaa50; }
.tribe-grid-allday .tribe-events-week-allday-single, .tribe-grid-body .tribe-events-week-hourly-single { border-color:#deaa50; }