/******** ====== header ========********/
#tribe-bar-form { padding:0 20px 20px; }
#tribe-bar-form #tribe-bar-views { width:100%; left:0; }
#tribe-bar-form #tribe-bar-views + .tribe-bar-filters { right:auto; left:0; width: 100%; }
#tribe-bar-views ul.tribe-bar-views-list { height: 73px; padding: 20px; text-align: center; position:inherit; }
#tribe-bar-views ul.tribe-bar-views-list li.tribe-bar-views-option { display: inline-block; margin: 0 10px 0 0; padding: 0; }
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a { background: #fff; border: 2px solid rgba(0, 0, 0, 0.15); color: #888; display: inline-block; padding: 2px 12px; text-decoration: none; line-height:28px; }

.tribe-bar-views-list li:hover span.tribe-icon-month, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-month { background-image: url(images/icon-month-hover.png); }
.tribe-bar-views-list li:hover span.tribe-icon-list, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-list { background-image: url(images/icon-list-hover.png); }
.tribe-bar-views-list li:hover span.tribe-icon-day, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-day { background-image: url(images/icon-day-hover.png); }

#tribe-bar-form .tribe-bar-filters { float: left; margin: 0; position: relative; }
#tribe-bar-form .tribe-bar-filters-inner { background: #fff none repeat scroll 0 0; box-shadow: 0 1px 3px #ccc; }
#tribe-bar-form label { font-weight:600; color:#000; }
#tribe-bar-form input[type="text"] { font-weight:400; }
.datepicker td, .datepicker th { border-radius:0; }

/******** ====== Month ========********/
.tribe-events-calendar th { padding:10px 0; }
#tribe-events-content .tribe-events-tooltip h4 { font-size: 14px; padding: 4px 6px; font-weight:600; }
.tribe-events-tooltip .tribe-events-event-thumb { margin-right:10px; }
.tribe-events-tooltip p.entry-summary { text-align:left; line-height:18px; }
.tribe-events-tooltip { padding:10px 10px 5px 10px; }
.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip { border: 0 none; box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.38); color: #6a695e; background-color:#fff; }
.tribe-events-tooltip .tribe-events-arrow { background-image:url(images/tribe-tooltips.png); background-position:-3px -1px; }
#tribe-events-content table.tribe-events-calendar { margin-bottom:20px; }
h2.tribe-events-page-title { font-weight:500; }
/* Border color */
#tribe-events-content .tribe-events-calendar td, #tribe-events-content table.tribe-events-calendar { border-color:rgba(0, 0, 0, 0.15); }

/******** ====== LIst ========********/
.tribe-events-list h2.tribe-events-page-title, .tribe-events-list .tribe-events-venue-details span.author { font-weight:600; }
#tribe-events-content .updated, .tribe-events-list .time-details, .tribe-events-list .tribe-events-venue-details { font-weight: 500; }
.tribe-events-list .tribe-events-event-image + div.tribe-events-list-event-detail { float: right; width: 67%; }
div.tribe-events-list-event-detail h2.tribe-events-list-event-title, #tribe-geo-results h2.tribe-events-map-event-title.summary { display: block; font-size: 27px; font-weight: 600; line-height: 37px; margin: 0 0 20px; }
.tribe-events-list .time-details, .tribe-events-list .tribe-events-venue-details { line-height:normal; }
.tribe-events-list .tribe-events-event-cost { display: inline-block; float: left; height: 50px; position: relative; width: 50px; margin-left:0; }
.tribe-events-list .tribe-events-event-cost span { background: transparent; line-height: 24px; font-size:14px; }
.tribe-events-list-event-detail .tribe-events-read-more, .tribe-events-day-time-slot .tribe-events-read-more, .tribe-events-back > a { color: #fff; float: left; font-size: 14px; font-weight: bold; padding: 6px 20px; text-transform: uppercase; }
.tribe-events-list-separator-month { text-align:center; }
.tribe-events-page-template .tribe-events-ical.tribe-events-button { margin-bottom: 80px; }

.tribe-grid-body .tribe-events-tooltip .tribe-events-arrow { left: -21px !important; }
.tribe-grid-body .tribe-events-right .tribe-events-tooltip .tribe-events-arrow { background-position: -22px 0 !important; right:-17px !important; }

/* Border color */
.tribe-events-list .type-tribe_events { border-color:rgba(0, 0, 0, 0.15); }

/******** ====== Day ========********/
.tribe-events-day .tribe-events-day-time-slot .type-tribe_events { margin-left:0; }
.tribe-events-list .tribe-events-day-time-slot h2.tribe-events-list-event-title { float: left; margin-bottom: 20px; width: 100%; }
.tribe-events-day .tribe-events-day-time-slot h5 { line-height:22px; text-align:center; }

/******** ====== Detail Type 1========********/

#tribe-events-pg-template { max-width:100%; }

.type1.tribe_events .nav-top-links { border-bottom: 1px solid #e3e4e6; padding-bottom: 13px; margin-bottom:15px; }
.type1.tribe_events .nav-top-links a { font-size: 16px; font-weight: 500; }
.type1.tribe_events .nav-top-links .back-nav { text-transform:uppercase; }
.type1.tribe_events .nav-top-links > span.sep { font-size:17px; padding:0 5px; color:#e3e4e6; }
.type1.tribe_events .nav-top-links a, .type1 .event-schedule a { color:#000000; }

.type1.tribe_events h2 { font-size:35px; margin-bottom:5px; }
.type1.tribe_events .event-schedule { font-size:18px; font-weight:600; margin-bottom:20px; }
.type1.tribe_events .event-schedule a { font-weight:normal; }
.type1.tribe_events .event-schedule a.dt-sc-tooltip { text-transform:uppercase; }

.type1.tribe_events .event-image-wrapper { position:relative; margin-top:10px; }
.type1.tribe_events .event-image-wrapper .date-wrapper { position:absolute; right:10px; top:10px; }
.type1.tribe_events .event-image-wrapper .event-datetime { margin-bottom:0; position:relative; border-bottom:1px solid #d3d3d3; }
.type1.tribe_events .event-image-wrapper .event-datetime, .type1.tribe_events .event-image-wrapper .event-venue { background:#fff; line-height:52px; text-align:center; padding:0 20px; font-size:14px; }
.type1.tribe_events .event-image-wrapper .event-datetime > span { color:#fff; font-size:25px; float:left; width:46px; font-weight:600; padding:5px; line-height:20px; margin-right:20px; position:absolute; left:-56px; top:0; }
.type1.tribe_events .event-image-wrapper .event-datetime > span i { font-style:normal; font-size:18px; }
.type1.tribe_events .event-image-wrapper .event-datetime > i, .type1.tribe_events .event-image-wrapper .event-venue > i { margin-right:10px; font-size:20px; }

.type1.tribe_events h3 { font-size:25px; font-weight:bold; }
.type1.tribe_events h4 { font-weight:600; font-size:20px; }
.type1.tribe_events .tribe-events-gmap { font-weight:600; }

.type1.tribe_events ul.event-details, .type1.tribe_events .event-organize, .type1.tribe_events .event-venue { margin-bottom:10px; }
.type1.tribe_events ul.event-details li, .type1.tribe_events .event-organize li, .type1.tribe_events .event-venue li { display:inline-block; width:100%; font-size:14px; }
.type1.tribe_events ul.event-details li dt, .type1.tribe_events .event-organize li dt, .type1.tribe_events .event-venue li dt { float:left; display:inline-block; width:40%; font-weight:600; }
.type1.tribe_events ul.event-details li dt.cat { width:39.6%; }
.type1.tribe_events ul.event-details li .cat-wrapper { display:inline-block; width:55%; }
.type1.tribe_events ul.event-details li dd, .type1.tribe_events .event-organize li dd, .type1.tribe_events .event-venue li dd { display:inline-block; }
.type1.tribe_events .event-address { font-size:14px; }

/******** ====== Detail Type 2========********/
.type2.tribe_events .date-wrapper { position:relative; }
.type2.tribe_events .date-wrapper p { font-size: 17px; color:#999999; }
.type2.tribe_events .date-wrapper p > span { font-size: 90px; float:left; margin-right:6px; line-height:72px; }
.type2.tribe_events .date-wrapper p i { font-style: normal; position: relative; top: 20px; }

.type2.tribe_events .ver-sep { border-left:1px solid #cccccc; padding:0 30px; border-right:1px solid #cccccc; }
.type2.tribe_events .ver-sep a.dt-sc-tooltip { text-transform:uppercase; font-size:21px; }
.type2.tribe_events .ver-sep h2 { margin-bottom:10px; font-size:25px; }

.type2.tribe_events .right-calc { text-align:right; }
.type2.tribe_events .right-calc a { font-size:18px; line-height:35px; } 

.type1.tribe_events ul.event-details li h3 { font-size:25px; }

.type2.tribe_events .event-content-wrapper { float:left; width:100%; margin-top:-170px; }

.type2.tribe_events .event-details, .type2.tribe_events .event-organize, .type2.tribe_events .event-venue {  margin: 0 auto 10px; box-shadow:0 0 0 20px rgba(255, 255, 255, 0.7); background:#fff; padding:25px; width:90%; box-sizing:border-box; }
.type2.tribe_events .event-details li, .type2.tribe_events .event-organize li, .type2.tribe_events .event-venue li { display:inline-block; width:100%; font-size:14px; }
.type2.tribe_events .event-details li dt, .type2.tribe_events .event-organize li dt, .type2.tribe_events .event-venue li dt { display:inline-block; width:40%; font-weight:600; float:left; }
.type2.tribe_events .event-details li dd, .type2.tribe_events .event-organize li dd, .type2.tribe_events .event-venue li dd { display:inline-block; }
.type2.tribe_events .event-addr { display: inline-block; width: 60%; }
.type2.tribe_events .event-address { font-size:14px; }

.type2.tribe_events h3 { font-size:25px; text-transform:uppercase; }
.type2.tribe_events h4 { font-size:25px; }

.type2.tribe_events .event-google-map #tribe-events-gmap-0 { width:330px; height:170px; }

/******** ====== Detail Type 3========********/ 
.type3 .dt-sc-tabs-horizontal-frame-container.event-meta-tab { margin-right:-1px; }


@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari 5+ ONLY */
    ::i-block-chrome, .type3 .dt-sc-tabs-horizontal-frame-container.event-meta-tab { margin-right:-4px; }
}

@media only screen and (min-width:1601px) and (max-width:2000px) {
   .type3 .dt-sc-tabs-horizontal-frame-container.event-meta-tab { margin-right:0px; }
}

.type3.tribe_events h2 { font-size:30px; }
.type3.tribe_events .event-date { padding:19px; display:inline-block; color:#fff; font-size:39px; float:right; margin-bottom:0; text-transform:uppercase; font-weight:300; }
.type3.tribe_events .event-date span { font-size:43px; font-weight:bold; }

.single-tribe_events .type3.tribe_events .tribe-events-event-image { margin-bottom:0; }
.single-tribe_events .type3.tribe_events .tribe-events-event-image img { float:left; }

.type3.tribe_events .dt-sc-tabs-horizontal-frame-content, .event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a.current { background:#f2f2f2; }
.type3.tribe_events .event-meta-tab .dt-sc-tabs-horizontal-frame { border-bottom:0; }
.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li { width:33.33%; margin-right:0; }
.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a { border:0; border-radius:0; color:#fff; text-transform:uppercase; box-sizing:border-box; width:100%; display:inline-block; margin:0; }
.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a:hover { color:#fff; }
.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a.current { color:#282722; }
.type3.tribe_events .dt-sc-tabs-horizontal-frame-content { padding:30px; box-sizing:border-box; }

.type3.tribe_events .right-calc { text-align:right; margin-top:5px; display:inline-block; width:100%; font-size:18px; }
.type3.tribe_events .right-calc .sep { color:#d5d5d5; margin:0 2px; }

.type3.tribe_events .tribe-events-sub-nav { border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; font-size:18px; float:left; width:100%; }
.type3.tribe_events .tribe-events-sub-nav li { display:inline-block; padding:15px 0; }
.type3.tribe_events .tribe-events-sub-nav .tribe-events-nav-previous { float:left; }
.type3.tribe_events .tribe-events-sub-nav .tribe-events-nav-next { float:right; }

.type3.tribe_events h4 { font-size:25px; text-transform:uppercase; }

.type3.tribe_events .event-details, .type3.tribe_events .event-organize, .type3.tribe_events .event-venue { margin-bottom:10px; padding:10px 0px; }
.type3.tribe_events .event-details li, .type3.tribe_events .event-organize li, .type3.tribe_events .event-venue li { display:inline-block; width:100%; font-size:14px; color:#807c6c; }
.type3.tribe_events .event-details li dt, .type3.tribe_events .event-organize li dt, .type3.tribe_events .event-venue li dt { display:inline-block; width:40%; font-weight:600; float:left; color:#000; }
.type3.tribe_events .event-details li .cat-wrapper { display:inline-block; width:50%; }
.type3.tribe_events .event-details li dd, .type3.tribe_events .event-organize li dd, .type3.tribe_events .event-venue li dd { display:inline-block; }

.type3.tribe_events .event-addr { display: inline-block; width: 60%; }

.type3.tribe_events .right-calc a, .type3.tribe_events .tribe-events-sub-nav a { color:#282722; }

/******** ====== Detail Type 4 ========********/
.type4.tribe_events .data-wrapper p { font-size:28px; line-height:normal; font-style:italic; border-top:2px solid #e8f3fa; padding:25px 0; border-bottom:2px solid #e8f3fa; font-weight:600; }
.type4.tribe_events .data-wrapper p span { font-size:98px; line-height:72px; float:left; margin-right:10px; font-style:normal; }

.type4.tribe_events .event-details, .type4.tribe_events .event-organize, .type4.tribe_events .event-venue { margin-bottom:10px; padding:10px 0px; }
.type4.tribe_events .event-details li, .type4.tribe_events .event-organize li, .type4.tribe_events .event-venue li { display:inline-block; width:100%; font-size:14px; color:#807c6c; }
.type4.tribe_events .event-details li dt, .type4.tribe_events .event-organize li dt, .type4.tribe_events .event-venue li dt { display:inline-block; margin-right:5px; font-weight:600; float:left; color:#1a323e; }
.type4.tribe_events .event-details li dd, .type4.tribe_events .event-organize li dd, .type4.tribe_events .event-venue li dd { display:inline-block; }

.type4.tribe_events .event-details h3, .type4.tribe_events .event-organize h3, .type4.tribe_events .event-venue h3 { font-size:30px; font-weight:bold; text-transform:uppercase; }
.type4.tribe_events .event-organize h4, .type4.tribe_events .event-venue h4 { font-style:italic; font-size:30px; font-weight:600; }

.type4.tribe_events .event-google-map #tribe-events-gmap-0 { width:100%; height:260px; }

/******** ====== Detail Type 5 ========********/
.type5.tribe_events .container { width:100%; }
.type5.tribe_events .data-wrapper p { font-size:27px; text-transform:uppercase; }
.type5.tribe_events .data-wrapper p span { font-size:57px; font-weight:bold; }

.type5.tribe_events h2 { font-size:26px; text-transform:uppercase; font-weight:bold; }

.type5.tribe_events .nav-top-links a { background-color:#efefef; padding:10px 25px; float:left; margin-right:1px; font-size:16px; color:#3c454e; }
.type5.tribe_events .nav-top-links a.back-nav { text-transform:uppercase; }
.type5.tribe_events .nav-top-links a:hover { background-color:#e5e5e5; }

.type5.tribe_events .event-details, .type5.tribe_events .event-organize, .type5.tribe_events .event-venue { margin-bottom:10px; }
.type5.tribe_events .event-details li, .type5.tribe_events .event-organize li, .type5.tribe_events .event-venue li { display:inline-block; width:100%; font-size:14px; color:#807c6c; }
.type5.tribe_events .event-details li dt, .type5.tribe_events .event-organize li dt, .type5.tribe_events .event-venue li dt { display:inline-block; width:40%; margin-right:5px; font-weight:600; float:left; }
.type5.tribe_events .event-details li dd, .type5.tribe_events .event-organize li dd, .type5.tribe_events .event-venue li dd { display:inline-block; }

.data-wrapper p span, .data-wrapper p i { font-style:normal; }
.type5.tribe_events .event-details h3, .type5.tribe_events .event-organize h3, .type5.tribe_events .event-venue h3 { font-size:20px; font-weight:bold; text-transform:uppercase; }

.type5.tribe_events .event-organize h4, .type5.tribe_events .event-venue h4 { margin-bottom:10px; font-weight:600; }

.type5.tribe_events .event-google-map #tribe-events-gmap-0 { width:100%; height:770px; }

/** Events border radius **/
input[type="submit"], button, #tribe-bar-form .tribe-bar-submit input[type="submit"] { border-radius:5px; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover, #tribe-bar-views .tribe-bar-views-list li.tribe-bar-active a, .tribe-events-calendar thead th, .tribe-events-read-more, #tribe-events .tribe-events-button:hover, .tribe-events-back > a, .tribe-events-back > a:hover { color:#fff; }