@charset "utf-8";
/* CSS Document */

/*----*****---- << Responsive >> ----*****----*/

	/*----*****---- << Desktop >> ----*****----*/	
	
	@media only screen and (min-width:1601px) and (max-width:1920px) {
		
		.container { width:1700px; }
		.wrapper { width:100%; }
		
		/*----*****---- << Home >> ----*****----*/
		
		.header.header4 #main-menu > ul.menu > li > a { padding: 40px 26px 18px; }
		
								
	}
	
	
	/*----*****---- << Desktop >> ----*****----*/	
	
	@media only screen and (min-width:1281px) and (max-width:1600px) {
		
		.container { width:1381px; }
		.wrapper { width:100%; }
		
						
	}
	

	/*----*****---- << Desktop >> ----*****----*/	
	
	@media only screen and (min-width:960px) and (max-width:1280px) {
			
		.container { width:900px; }
		.wrapper { width:100%; }
		
		/*----*****---- << Home >> ----*****----*/	
		
		
		.button a { padding: 16px; width: 175px; font-size: 14px; } 
		
		
		#logo { display: block; float: none; margin: 10px auto; text-align: center; }	
		
		
		.main-menu ul li ul { left: auto; right: 0; }
		
		.main-menu ul li:first-child ul { left: 0; right: auto; }
				
		.main-menu ul li.menu-item-simple-parent ul { top: 90px; }
		
		#primary-menu > .main-menu::before { left: -50%; }
		
		

		#primary-menu > .main-menu { width: 100%; }
		#primary-menu .main-menu ul { text-align: center; }		
		
		.align_middle_wrapper .container { width: 80%; }		
		.highlight_box .fa { font-size: 30px; }
		.highlight_box h4 { font-size: 22px; letter-spacing: 0; }			
		
				
	}
	
	/*----*****---- << Tablet (Portrait) >> ----*****----*/
	
	@media only screen and (min-width:768px) and (max-width:959px) {
		
		.container { width:710px; }
		.wrapper { width:100%; }
		
		
		/*----*****---- << MeanMenu >> ----*****----*/		
		
		#logo { display: block; float: none; margin: 10px auto; text-align: center; }	
		
		
		#primary-menu > .main-menu { width: 100%; }
		#primary-menu .main-menu ul { text-align: center; }


		.button a { padding: 16px; font-size: 14px; }

		.align_middle_wrapper .container { width: 80%; }
		.highlight_box .fa { font-size: 30px; }
		.highlight_box h4 { font-size: 22px; letter-spacing: 0; }	
		
	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {
			
			
		#logo { display: block; float: none; margin: 10px auto; text-align: center; }	
			
		/*----*****---- << Menu >> ----*****----*/		
		
		#primary-menu, #primary-menu > .main-menu > ul.menu { display: none; }
		#primary-menu > .main-menu::before { content: none; }
		
		.main-menu > ul.menu { display: block; }

		.main-menu ul.topic-menu { display: none; }
				
		.main-menu ul.topic-menu > li > a .fa { display: inline; }
		.main-menu ul.topic-menu > li > a { line-height: normal; padding: 10px 15px; }		

		
		/*----*****---- << Column >> ----*****----*/
		
		.column { margin-bottom: 20px; margin-left: 0; }
				   
		.dt-sc-one-fourth, .dt-sc-one-half, .dt-sc-one-third, .dt-sc-three-fourth, .dt-sc-two-third, .dt-sc-one-fifth, .dt-sc-four-fifth, .dt-sc-three-fifth, .dt-sc-two-fifth, .dt-sc-one-sixth, .dt-sc-two-sixth, .dt-sc-three-sixth, .dt-sc-four-sixth, .dt-sc-five-sixth, .column.no-space.dt-sc-one-fourth, .column.no-space.dt-sc-one-third, .column.no-space.dt-sc-one-half, .column.no-space.dt-sc-one-fifth, .column.no-space.dt-sc-one-sixth, .column.no-space.dt-sc-three-fourth, .column.no-space.dt-sc-two-third, .column.no-space.dt-sc-four-fifth, .column.no-space.dt-sc-three-fifth, .column.no-space.dt-sc-two-fifth, .column.no-space.dt-sc-two-sixth, .column.no-space.dt-sc-three-sixth, .column.no-space.dt-sc-four-sixth, .column.no-space.dt-sc-five-sixth, .column.no-space.dt-sc-two-fifth, .column.no-space.dt-sc-one-fifth, .column.no-space.dt-sc-three-fifth { width: 100%; }
			
			
		.align_middle_wrapper .container { width: 90%; }
		
		.highlight_box.one, .highlight_box.two, .highlight_box.three { margin-bottom: 20px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }	

	}
	
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.container { width:420px; }
		.wrapper { width:100%; }
		
		
		.dt-menu-toggle { display:block; }
		.main-menu, .main-menu > ul.menu { width:100%; }
		.main-menu > ul.menu { display:none; background:#282828; }
		.main-menu > ul.menu > li > ul > li, .main-menu > ul.menu > li > ul > li > ul > li, .main-menu > ul.menu > li > ul > li > ul > li > ul > li { font-weight:600; text-transform:uppercase; }
		.main-menu > ul > li.menu-item-simple-parent:hover > ul, .main-menu > ul > li.menu-item-simple-parent > ul > li:hover > ul { animation: none; }
		.main-menu ul.menu > li > a { margin:0; }
		
		.main-menu > ul > li.current_page_item > a::before { display: none; }	
		
		.main-menu > ul.menu > li > a i { display: none !important; }
		.main-menu > ul.menu > li > a { padding-left: 15px !important; text-align: left; }
		.main-menu ul > li > a { min-height: auto !important; }
		.main-menu ul li:hover li a { background: none !important; }
		ul.button li a { width: 150px; }
		#menu-container { line-height: normal; }
		
		.main-menu > ul.menu > li { line-height:23px; }
		.main-menu > ul.menu > li > a { border-radius:0; display:inline-block; line-height:23px; padding:9px 17px 8px; }	
		
		.main-menu ul li.menu-item-simple-parent:hover > ul, .main-menu ul li.menu-item-simple-parent > ul > li:hover ul { display:none; }	
		.main-menu ul li.menu-item-simple-parent ul { box-shadow:none; border: none; }
		
		.main-menu ul.menu > li, .main-menu ul.menu > li > ul.sub-menu > li { width:100%; padding:0px; text-align:left; box-sizing:border-box; clear:both; margin: 0; border: 1px dotted rgba(255, 255, 255, 0.2); }
		.main-menu > ul.menu { background:#282828; z-index: 999; }		
		.main-menu { background:none; padding:0; }
		.main-menu > ul.menu > li > a {  display:block; box-sizing:border-box; padding-bottom: 8px !important; }
		
		/*/.main-menu ul.menu > li:hover > a { background:rgba(255, 255, 255, 0.1); }	*/
		.main-menu > ul.menu > li > a:hover { text-decoration: none; }
		.main-menu ul.menu > li > a i { line-height:24px; }
		
		.main-menu ul li.menu-item-simple-parent ul, .main-menu ul li.menu-item-simple-parent ul li ul { top:27px; width:100%; left:0px; }
		a.dt-menu-expand { display:block !important; border-left: 1px dotted rgba(255, 255, 255, 0.2); }	
		
		.main-menu ul li.menu-item-simple-parent ul li ul { border:none; }	
		.main-menu ul li.menu-item-simple-parent ul, .main-menu ul li.menu-item-simple-parent ul, .main-menu ul li.menu-item-simple-parent ul li ul { position:inherit; top:0px; margin:0px; }	
		.main-menu ul li.menu-item-simple-parent ul li a.dt-menu-expand { background:none; border:none; }
		
		.main-menu ul.menu li a:after, .main-menu > ul.menu > li.current_page_item a:after, .main-menu ul.menu li:after { content: none; }	
		.main-menu ul li.dropdown:hover > ul, .main-menu ul li.dropdown > ul > li:hover ul { display:none; }
		
		.main-menu ul li.dropdown ul li a { padding-left: 25px; }
		.main-menu ul li.dropdown ul li a:hover { padding-left: 25px; color: #d4f055; }
		
		.main-menu ul li.dropdown ul li { border: none; }
		
		.main-menu ul li ul.sub-menu { box-shadow: 0 0 1px #ffffff inset !important; }
				
	}


	/*----*****---- << Mobile >> ----*****----*/	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	
	@media only screen and (min-width: 320px) and (max-width: 479px) {
		
		.container { width:280px; }
		.wrapper { width:100%; }
		
		/*----*****---- << MeanMenu >> ----*****----*/	
		
		
		.group, .addons_menu, .group > li > a .icon { display: none; }
		
		.group > li > a { min-height: 24px; }
				
		.mean-container .mean-nav { margin-top: 45px; }
		
		ul.group br { display: none; }
		
		.group > li > a p { margin: 0; }
		
		ul.addons_menu { display: block; }
		
		/*----*****---- << Column >> ----*****----*/
		
		
		.column.one-second, .column.one-fourth { width: 100%; }
		
		/*----*****---- << Header >> ----*****----*/
		
		td { font-size: 10px; padding-left: 5px; }
		
		th { padding: 5px; font-size: 12px; }
		
		
		
		.dt-menu-toggle { display:block; }
		.main-menu, .main-menu > ul.menu { width:100%; }
		.main-menu > ul.menu { background:#282828; }
		.main-menu > ul.menu > li > ul > li, .main-menu > ul.menu > li > ul > li > ul > li, .main-menu > ul.menu > li > ul > li > ul > li > ul > li { font-weight:600; text-transform:uppercase; }
		.main-menu > ul > li.menu-item-simple-parent:hover > ul, .main-menu > ul > li.menu-item-simple-parent > ul > li:hover > ul { animation: none; }
		.main-menu ul.menu > li > a { margin:0; }
		
		.main-menu > ul.menu > li > a i { display: none !important; }
		.main-menu > ul.menu > li > a { padding-left: 15px !important; text-align: left; padding-bottom: 8px !important; }
		.main-menu ul > li > a { min-height: auto !important; }
		.main-menu ul li:hover li a { background: none !important; }
		#menu-container { line-height: normal; }
		
		.main-menu > ul > li.current_page_item > a::before { display: none; }	
		
		.main-menu > ul.menu > li { line-height:23px; }
		.main-menu > ul.menu > li > a { border-radius:0; display:inline-block; line-height:23px; padding:9px 17px 8px; }	
		
		.main-menu ul li.menu-item-simple-parent:hover > ul, .main-menu ul li.menu-item-simple-parent > ul > li:hover ul { display:none; }	
		.main-menu ul li.menu-item-simple-parent ul { box-shadow:none; border: none; }
		
		.main-menu ul.menu > li, .main-menu ul.menu > li > ul.sub-menu > li { width:100%; padding:0px; text-align:left; box-sizing:border-box; clear:both; margin: 0; border: 1px dotted rgba(255, 255, 255, 0.2); }
		.main-menu > ul.menu { background:#282828; z-index: 999; }		
		.main-menu { background:none; padding:0; }
		.main-menu > ul.menu > li > a {  display:block; box-sizing:border-box; }
		
		/*.main-menu ul.menu > li:hover > a { background:rgba(255, 255, 255, 0.1); }	*/
		.main-menu > ul.menu > li > a:hover { text-decoration: none; }
		.main-menu ul.menu > li > a i { line-height:24px; }
		
		.main-menu ul li.menu-item-simple-parent ul, .main-menu ul li.menu-item-simple-parent ul li ul { top:27px; width:100%; left:0px; }
		a.dt-menu-expand { display:block !important; border-left: 1px dotted rgba(255, 255, 255, 0.2); }	
		
		.main-menu ul li.menu-item-simple-parent ul li ul { border:none; }	
		.main-menu ul li.menu-item-simple-parent ul, .main-menu ul li.menu-item-simple-parent ul, .main-menu ul li.menu-item-simple-parent ul li ul { position:inherit; top:0px; margin:0px; }	
		.main-menu ul li.menu-item-simple-parent ul li a.dt-menu-expand { background:none; border:none; }
		
		.main-menu ul.menu li a:after, .main-menu > ul.menu > li.current_page_item a:after, .main-menu ul.menu li:after { content: none; }	
		.main-menu ul li.dropdown:hover > ul, .main-menu ul li.dropdown > ul > li:hover ul { display:none; }
		
		.main-menu ul li.dropdown ul li a { padding-left: 25px; }
		.main-menu ul li.dropdown ul li a:hover { padding-left: 25px; color: #d4f055; }
		
		.main-menu ul li.dropdown ul li { border: none; }
		
		.main-menu ul li ul.sub-menu { box-shadow: 0 0 1px #ffffff inset !important; }
		
		.header.header4 .main-menu > ul.menu > li > a { padding-top: 10px; }
		
	}
	
	
	/*----*****---- << Mobile >> ----*****----*/	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	
	@media only screen and (max-width: 319px) {
		
		.container { width:200px; }
		.wrapper { width:100%; }
		
		.group, .addons_menu, .group > li > a .icon { display: none; }
		
		.group > li > a { min-height: 24px; }
		
		.mean-container .mean-nav { margin-top: 45px; }
		
		ul.group br { display: none; }
		
		.group > li > a p { margin: 0; }
		
		ul.addons_menu { display: block; }
		
		
		/*----*****---- << Column >> ----*****----*/
		
		
		.column.one-second, .column.one-fourth { width: 100%; }
		
		td { font-size: 8px; padding-left: 4px; }
		
		th { padding: 0; font-size: 10px; }
		
		pre { font-size: 12px; }
		
		
		#primary-menu { display:inline-block; width:100%; }
		.dt-menu-toggle { display:block; }
		.main-menu, .main-menu > ul.menu { width:100%; }
		.main-menu > ul.menu { display:none; background:#282828; }
		.main-menu > ul.menu > li > ul > li, .main-menu > ul.menu > li > ul > li > ul > li, .main-menu > ul.menu > li > ul > li > ul > li > ul > li { font-weight:600; text-transform:uppercase; }
		.main-menu > ul > li.menu-item-simple-parent:hover > ul, .main-menu > ul > li.menu-item-simple-parent > ul > li:hover > ul { animation: none; }
		.main-menu ul.menu > li > a { margin:0; }
		
		.main-menu > ul.menu > li > a i { display: none !important; }
		.main-menu > ul.menu > li > a { padding-left: 15px !important; text-align: left; }
		.main-menu ul > li > a { min-height: auto !important; }
		.main-menu ul li:hover li a { background: none !important; }
		#menu-container { line-height: normal; }
		
		.main-menu > ul > li.current_page_item > a::before { display: none; }	
		
		.main-menu > ul.menu > li { line-height:23px; }
		.main-menu > ul.menu > li > a { border-radius:0; display:inline-block; line-height:23px; padding:9px 17px 8px; }	
		
		.main-menu ul li.menu-item-simple-parent:hover > ul, .main-menu ul li.menu-item-simple-parent > ul > li:hover ul { display:none; }	
		.main-menu ul li.menu-item-simple-parent ul { box-shadow:none; border: none; }
		
		.main-menu ul.menu > li, .main-menu ul.menu > li > ul.sub-menu > li { width:100%; padding:0px; text-align:left; box-sizing:border-box; clear:both; margin: 0; border: 1px dotted rgba(255, 255, 255, 0.2); }
		.main-menu > ul.menu { background:#282828; z-index: 999; }		
		.main-menu { background:none; padding:0; }
		.main-menu > ul.menu > li > a {  display:block; box-sizing:border-box; }
		
		/*.main-menu ul.menu > li:hover > a { background:rgba(255, 255, 255, 0.1); }	*/
		.main-menu > ul.menu > li > a:hover { text-decoration: none; }
		.main-menu ul.menu > li > a i { line-height:24px; }
		
		.main-menu ul li.menu-item-simple-parent ul, .main-menu ul li.menu-item-simple-parent ul li ul { top:27px; width:100%; left:0px; }
		a.dt-menu-expand { display:block !important; border-left: 1px dotted rgba(255, 255, 255, 0.2); }	
		
		.main-menu ul li.menu-item-simple-parent ul li ul { border:none; }	
		.main-menu ul li.menu-item-simple-parent ul, .main-menu ul li.menu-item-simple-parent ul, .main-menu ul li.menu-item-simple-parent ul li ul { position:inherit; top:0px; margin:0px; }	
		.main-menu ul li.menu-item-simple-parent ul li a.dt-menu-expand { background:none; border:none; }
		
		.main-menu ul.menu li a:after, .main-menu > ul.menu > li.current_page_item a:after, .main-menu ul.menu li:after { content: none; }	
		.main-menu ul li.dropdown:hover > ul, .main-menu ul li.dropdown > ul > li:hover ul { display:none; }
		
		.main-menu ul li.dropdown ul li a { padding-left: 25px; }
		.main-menu ul li.dropdown ul li a:hover { padding-left: 25px; color: #d4f055; }
		
		.main-menu ul li.dropdown ul li { border: none; }
		
		.main-menu ul li ul.sub-menu { box-shadow: 0 0 1px #ffffff inset !important; }
		
		.header.header4 .main-menu > ul.menu > li > a { padding-top: 10px; }
		
		
		
	}