@CHARSET "UTF-8";

/* #Reset & Basics 
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
		

/* #Global
================================================== */


body { font-family: 'PT Sans', sans-serif; font-size: 14px; line-height: 26px; height:100%;  margin:0; padding:0;}

img.scale-with-grid { max-width: 100%; height: auto; }
a { outline:none;}
p { margin-bottom:5px;}
b, strong { font-weight:bold;}


.wrapper { width: 1240px; margin: 0px auto;}
.content { float: left; /*padding: 40px 0 0;*/ width: 100%; }
.container { margin:0 auto; position:relative; width: 1200px; }

/* #Typography
================================================== */

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration: none; }
	h1 { margin-bottom: 20px; }
	h2 { margin-bottom: 20px; }
	h3 { margin-bottom: 20px; }
	h4 { margin-bottom: 20px; }
	h5 { margin-bottom: 20px; }
	h6 { margin-bottom: 20px; }

	h6, p { margin: 0 0 20px 0; font-size: 16px; }
	 

	em, i { font-style: italic; }
	b, strong { font-weight: bold; }
	big, .big { font-size: 110%; line-height: 180%; }
	
	dt { font-weight:bold;}
	
	/* Tooltip */
	.tooltip{ display: inline; position: relative; cursor: help; border-bottom-width: 1px; border-style: dotted; }
	.tooltip:hover:after, 
	.tooltip.hover:after { content: attr(data-tooltip); font-size: 13px; line-height: 18px; text-align: center; -webkit-border-radius: 5px; border-radius: 5px; padding: 5px 15px; width: 140px; position: absolute; left: 50%; bottom: 110%; z-index: 98; margin-left: -85px;  background-image: url(../images/stripes/stripes_10_w.png); }
	

/* #Links
================================================== */
	a, a:visited, a:focus {  text-decoration: none; outline: 0; }
	a:hover {  text-decoration: underline; }
	p a, p a:visited { line-height: inherit; }


/* #Headings
================================================== */
h1 { font-family: 'PT Sans', sans-serif; font-weight: 300; font-size: 35px; line-height: 38px; }
h2 { font-family: 'PT Sans', sans-serif; font-weight: 300; font-size: 30px; line-height: 33px; }
h3 { font-family: 'PT Sans', sans-serif; font-weight: 300; font-size: 25px; line-height: 28px; border-bottom: 1px solid rgba(0,0,0,.06); padding-bottom: 10px; position: relative; }

h4 { font-family: 'PT Sans', sans-serif; font-weight: 300; font-size: 20px; line-height: 23px; border-bottom: 1px solid rgba(0,0,0,.06); padding-bottom: 10px; position: relative; }
h5 {font-family: 'PT Sans', sans-serif; font-weight: 700; font-size: 15px; line-height: 20px;   border-bottom: 1px solid rgba(0,0,0,.06); padding-bottom: 10px; padding-left: 20px; position: relative;}
h6 { font-family: 'PT Sans', sans-serif;font-weight: 400; font-size: 15px; line-height: 23px; }

.hr-separator {background:url("../images/splitter.png")repeat-x; width:100%;  height:5px;  position:relative; }

.margin-40 { margin: 40px 0; clear: both; float:left; width:100%; }
.margin-30 { margin: 30px 0; clear: both; float:left; width:100%; }
.margin-20 { margin: 20px 0; clear: both; }
.margin-10 { margin: 10px 0; clear: both; }
.dt-sc-hr-invisible { margin:40px 0 0; float:left; width:100%; clear:both; }
	
	
/* #Lists
================================================== */
.content ul { list-style: none outside; }
.content ol { list-style: decimal; }

.content ul,
.content ol { margin: 0 0 15px 30px; }

.content ul li { list-style:disc outside;}

.content ul li,
.content ol li { margin-bottom: 20px; position: relative; font-size: 16px; }

.content ul li:last-child:after,
.content ol li:last-child:after { display: none; }

.content ul li ul,
.content ol li ol { margin-top:10px; margin-bottom:0; }


/* #Button
================================================== */
a.button {  font-size:16px; display:inline-block; padding: 15px 20px; font-weight: normal; text-decoration:none;
	-webkit-border-radius:	5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	line-height: 18px !important;
	text-align: center;
}
a.button:hover { background: #129f83; text-decoration: none; }


/* #Image frame
================================================== */
.image-frame { border: 8px solid #f8f8f8; position:relative; overflow:hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 0;}

.image-frame a { position: absolute; top: 45%; font-size: 24px;}
.image-frame a img {
	-webkit-transition-duration: 	3s;
	-moz-transition-duration: 		3s;
	-ms-transition-duration: 		3s;
	-o-transition-duration: 		3s;
	transition-duration: 			3s;
}

.image-frame.cut-image { height: 300px; overflow: hidden; }


	/*---------------------------------------------------
						   Columns
	------------------------------------------------------*/
	
	.column { margin:0px 0px 30px 2%; float:left; min-height:1px; position:relative; box-sizing:border-box; }
	.column.first { margin-left:0px; clear:both; }	
	
	.dt-sc-full-width, .dt-sc-one-column { width:100%; }
	.column.dt-sc-full-width, .column.dt-sc-one-column { margin-left:0px; }
	
	.dt-sc-one-half { width:49%; }
	
	.dt-sc-one-third { width:32%; }
	.dt-sc-two-third { width:66%; }
	
	.dt-sc-one-fourth { width:23.5%; }
	.dt-sc-three-fourth { width:74.5%; }	
	
	.dt-sc-one-fifth { width:18.4%; }
	.dt-sc-two-fifth { width:38.8%; }
	.dt-sc-three-fifth { width:59.2%; }
	.dt-sc-four-fifth { width:79.6%; }
	
	.dt-sc-one-sixth { width:15%; }
	.dt-sc-two-sixth { width:32%; }
	.dt-sc-three-sixth { width:49%; }
	.dt-sc-four-sixth { width:66%; }
	.dt-sc-five-sixth { width:83%; }
	
	.column img, .wpb_column img { max-width:100%; height:auto; display:inherit; }
	img { max-width:100%; height:auto; }
	
	.dt-sc-one-half iframe, .dt-sc-one-third iframe, .dt-sc-one-fourth iframe, .dt-sc-three-fourth iframe, .dt-sc-two-third iframe, iframe { max-width:100%; }
	embed, iframe, object, video { max-width:100%; }
	
	.column.no-space { margin-left:0px; margin-right:0px; }
	.column.no-space.dt-sc-one-fourth { width:24.986%; } 	
	.column.no-space.dt-sc-one-third { width:33.333333%; }	
	.column.no-space.dt-sc-one-half { width:50%; }
	.column.no-space.dt-sc-one-fifth { width:20%; }
	.column.no-space.dt-sc-one-sixth { width:16.666%; }
	
	.column.no-space.dt-sc-three-fourth { width:75%; }
	.column.no-space.dt-sc-two-third { width:66.666666%; }		
	.column.no-space.dt-sc-four-fifth { width:80%; }
	.column.no-space.dt-sc-three-fifth { width:60%; }
	.column.no-space.dt-sc-two-fifth { width:40%; }		
	.column.no-space.dt-sc-two-sixth { width:33.2%; }
	.column.no-space.dt-sc-three-sixth { width:49.98%; }
	.column.no-space.dt-sc-four-sixth { width:66.4%; }
	.column.no-space.dt-sc-five-sixth { width:83%; }


/* #Layout
================================================== */

	/*---------------------------------------------------
						   HEADER
	------------------------------------------------------*/
	
	#logo { float: left; margin: 12px 0; }
	#logo h2 { letter-spacing: 1px; margin-bottom: 0; text-transform: uppercase; }
	#logo h2 a, #logo h2 a span { display: inline-block; }
	#logo h2 a span img { vertical-align: middle; }

	.header-wrapper { float: left; width: 100%; }
	
	#main-header-wrapper { overflow: hidden; }
	
	#primary-menu > .main-menu:before { content: ""; height: 100%; position: absolute; left: -100px; width: 9000px; z-index: -1; -webkit-transform: skewX(45deg); -moz-transform: skewX(45deg); -ms-transform: skewX(45deg); -o-transform: skewX(45deg); transform: skewX(45deg); }
	#primary-menu > .main-menu { z-index: 1; }
	
	.main-menu { float: right; margin: 0; padding: 0; position: relative; }
	#primary-menu .main-menu ul { float: right; text-align: right; width: 100%; }
	
	.main-menu.main-topics { float: left; width: 100%; }
	.main-menu ul.topic-menu { display: block; float: none; margin: 0 auto; text-align: center; }
	
	.main-menu ul { display: inline-block; margin: 0; padding: 0; position: relative; }
	.main-menu > ul > li { display:inline-block; line-height: 92px; margin: 0 5px; padding: 0; position: relative; }
	.main-menu > ul > li > a { color:#ffffff; display: inline; font-size: 14px; font-weight: 500; letter-spacing: 0.5px; padding: 15px 10px; position:relative; text-transform: uppercase; }	
	
	.main-menu > ul > li > a .fa { margin-right: 4px; }
	
	.main-menu ul.topic-menu > li > a:hover { text-decoration: none; }
	
	
	.secondary-header { background-color: #000; }
	
	.main-menu ul.topic-menu > li { display: inline-block; line-height: normal; position: relative; }
	.main-menu ul.topic-menu > li > a { color: #fff; display: inline-block; line-height: 42px; padding: 25px 10px 15px 10px; text-align: center; }
	.main-menu ul.topic-menu > li > a .fa { display: block; }
	
	.main-menu .is-sticky ul.topic-menu { background: #000; left: 0; right: 0; z-index: 1; }
	
	.main-menu ul.topic-menu > li.selected > a { background-color: rgba(255,255,255,0.06); }


	/*---------------------------------------------------
						   Menu Style
	------------------------------------------------------*/

	
	/* main menu 3rd level */
	.main-menu ul li ul li ul { position: absolute; left: 190px; top: 0px; z-index: 204; }

	/* Animation */
	.main-menu ul li ul li a { -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.05s ease-in-out; -o-transition: all 0.05s ease-in-out; -ms-transition: all 0.05s ease-in-out; transition: all 0.05s ease-in-out; }

	/* Categories */
	#header-wrapper .column { margin: 0; border-left: 1px solid rgba(0,0,0,.05); }
	
	/* #header-wrapper.is-sticky */	
	#header-wrapper.is-sticky { position:fixed; width:100%; left:0; top:0; z-index:701; opacity:.97; }

	
	/*----*****---- << 03. Menu >> ----*****----*/
	
	
	.main-menu ul li.menu-item-simple-parent ul, .main-menu ul li.menu-item-simple-parent ul li ul, .main-menu ul li.menu-item-simple-parent ul li:hover ul ul, .main-menu ul li.menu-item-simple-parent ul li ul li ul { display:none; }
	.main-menu ul li.menu-item-simple-parent:hover > ul, .main-menu ul li.menu-item-simple-parent ul li:hover > ul, .main-menu ul li.menu-item-simple-parent ul li:hover > ul > ul, .main-menu ul li.menu-item-simple-parent ul li ul li:hover > ul { display: block; }
	
	.main-menu ul li.menu-item-simple-parent ul { background-color: #000; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25); float: left; left: 0; position: absolute; top: 95px; width: 195px; z-index: 9999; text-align:left; } 
	.main-menu ul li.menu-item-simple-parent ul li { display:inline; position:relative; width:100%; float:left; }
	.main-menu ul li.menu-item-simple-parent ul li:last-child { border-bottom:none; }
	.main-menu ul li.menu-item-simple-parent ul li a { color: #fff; display: block; font-size: 14px; padding: 10px 15px; position: relative; color:#fff; font-weight:normal;  }
	
	.main-menu ul.topic-menu > li.selected > a,
	.main-menu ul.topic-menu li.menu-item-simple-parent ul li.selected a,
	.main-menu ul.topic-menu > li.dt-current-menu > a,
	.main-menu ul.topic-menu li ul li a:hover, .main-menu ul.topic-menu li ul li.hover > a { -webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms linear 0s; -ms-transition: all 300ms linear 0s; -o-transition: all 300ms linear 0s; transition: all 300ms linear 0s; }
		
	.main-menu ul.topics-menu li ul li a:hover, .main-menu ul.topics-menu li ul li.hover > a { color: #fff; }
	
	.main-menu ul li.menu-item-simple-parent ul > li > ul > li:hover > ul { display:block; -webkit-animation: 0.3s ease-in fadeIn; -moz-animation: 0.3s ease-in fadeIn; animation: 0.3s ease-in fadeIn; }
	
	.main-menu > ul > li.menu-item-simple-parent:hover > ul, .main-menu > ul > li.menu-item-simple-parent > ul > li:hover > ul { display:block; -webkit-animation: 0.3s ease-in fadeInUpSmall; -moz-animation: 0.3s ease-in 0s fadeInUpSmalll; animation: 0.3s ease-in 0s fadeInUpSmall; }
	
	.main-menu ul li.menu-item-simple-parent ul li ul { left:195px; top: 0; border-top:0px; }
		
	.main-menu ul li a.dt-menu-expand { display:none; }
	
	.dt-menu-expand { cursor: pointer; display: none !important; font-size: 16px !important; font-weight: bold; height: 40px; line-height: 40px !important; padding: 0 !important; position: absolute !important; right: 0; text-align: center; top: 0; width: 40px; }
	
	.dt-menu-toggle { color: #fff; cursor: pointer; display: none; font-size: 16px; font-weight: bold; padding: 10px 15px; text-transform: uppercase; box-shadow: 0 0 1px #ffffff inset; text-align: left; }
	.dt-menu-toggle-icon:before, .dt-menu-toggle-icon:after { background-color:#fff; content: ""; height: 2px; left: 0; position: absolute; top: -5px; width: 20px; }
	.dt-menu-toggle-icon:after { top:5px; }
	.dt-menu-toggle-icon { background-color: #fff; display: inline-block; float: right; height: 2px; margin-top: 10px; position: relative; text-align: left; width: 20px; }
	
	.main-menu > ul > li > a:hover { text-decoration: none; }
	.main-menu ul li:hover a, .main-menu ul li:hover a i.fa { color: #fff; }
	.dt-menu-toggle { color: #ffffff; cursor: pointer; display: none;  font-size: 16px; font-weight: bold; padding: 10px 15px; text-transform: uppercase;}




/* Code Hightlighter */
	code, pre, q {font-family: Consolas, monospace !important; border: 1px solid #e8e8e8; background: #fff; -webkit-border-radius: 3px; border-radius: 3px;}
	code, q {padding: 2px 4px; white-space: nowrap;	margin: 0 2px;	color: #2991d6;}
	pre { background: #ffffff; /* Old browsers */	background: -moz-linear-gradient(top,  #ffffff 50%, #fafafa 50%); /* FF3.6+ */
		background: -webkit-linear-gradient(top,  #ffffff 50%,#fafafa 50%); /* Chrome10+,Safari5.1+ */ 	
		background: -o-linear-gradient(top,  #ffffff 50%,#fafafa 50%); /* Opera 11.10+ */
		background: linear-gradient(top,  #ffffff 50%,#fafafa 50%); /* W3C */    background-size: 42px 42px;	padding: 21px 15px 20px;	margin:15px 0;
		display: block;	white-space: pre-wrap;	white-space: -moz-pre-wrap;	white-space: -pre-wrap;
		white-space: -o-pre-wrap;	line-height: 21px !important; }
	code p, pre p { margin-bottom:0 !important; }


/* Right border for column */
	.border-right {position: relative;}
	.border-right:after { border-color: rgba(0, 0, 0, 0.08); border-style: solid; border-width: 0 1px 0 0; content: "";  display: block;  height: 100%;
    position: absolute; right: -2.4%;   top: 0;  width: 0;}

/* Left border for column */
	.border-left { position: relative;}
	.border-left:after { border-color: rgba(0, 0, 0, 0.08); border-style: solid; border-width: 0 1px 0 0;  content: ""; display: block; height: 100%; position: absolute;
    left: -2.4%;  top: 0; width: 0;}
	
	table{ border-collapse:collapse; margin-bottom: 20px; margin-top: 20px; width: 100%; text-align:left;}
	td{border: 1px solid #d6d5c9; width:25%; padding-left:10px;}
	th {background: none repeat scroll 0 0 #d5d5d5; color: #000000; font-size: 14px; font-weight: 600; line-height: normal; padding: 15px;}
	
	a.mean-expand:hover { color: #fff !important; }
	
	.button  { float:left; }
	.button a { color:#fff; float:left; font-size:15px; letter-spacing:1px; margin-bottom:20px; margin-right:10px; padding:16px 20px; text-align:center; width:180px; 
	-webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear; transition: all 300ms linear; 
	border-radius: 5px; line-height: normal; text-transform: none; }
	.button a:hover, a.button:hover { text-decoration:none; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear;
	 -ms-transition: all 300ms linear; transition: all 300ms linear; } 
	.button a i { font-size:15px;  font-family: 'FontAwesome'; margin-right:10px; }
	.button {margin: auto !important;}
	.button > li::after {display: none;}
	.button > li {display: inline-block; margin: auto !important;}


/* --------------Image Overlay --------------------*/
	.image-overlay {cursor: pointer; float: left; height: 100%;  left: 0; opacity: 0; position: absolute;  top: 0;  width: 100%; transition: all 300ms linear;}
	.image-overlay .white-box::before { content: ""; height: 80%; left: 10%; position: absolute; top: 10%; width: 80%;}
	.image-frame:hover .image-overlay { opacity: 1; transition: all 300ms linear;}
	.image-overlay-text {bottom: 0;  height: 70px;  margin: auto;  position: absolute;  text-align: center;  top: 0;  width: 100%;}
	.image-frame:hover .image-overlay .links a.zoom { left: 0; right: 60px;}
	.image-overlay .links a.zoom { left: 0; right: 100%;}
	.image-overlay .links a { bottom: 0; display: inline-block; height: 26px; margin: auto; text-align: center; top: 0;	position: relative;}


/* --------------Links --------------------*/
	.links { display: block; margin: 0 !important; position: relative;}
	.links li { display: inline-block; list-style: outside none none;}
	.links .hexagon .fa { color: #fff; display: block;  font: 26px FontAwesome; left: 0; margin: 0; position: absolute; text-align: center;  width: 100%; line-height: 38px;}
	.hexagon { float: left; position: relative; transform: rotate(90deg);}

	.links .hexagon {height: 40px; margin: 15px 0; transform: none;	width: 70px; background: #e130a7;}
	.hexagon .corner1, .hexagon2 .corner1 {transform: rotate(60deg);}
	.hexagon .corner1, .hexagon .corner2, .hexagon2 .corner1, .hexagon2 .corner2 {background: inherit;  content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%;}
	.hexagon .corner2, .hexagon2 .corner2 { transform: rotate(-60deg);}

	.image-frame:hover .image-overlay .links a {
		-webkit-animation:avia_pop_small 0.5s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);-moz-animation:avia_pop_small 0.5s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);animation:avia_pop_small 0.5s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
	}
	
	@-webkit-keyframes avia_pop {
				0% {
					-webkit-transform:scale(0.8)
				}
				100% {
					-webkit-transform:scale(1)
				}
				}
				@-moz-keyframes avia_pop {
				0% {
					-moz-transform:scale(0.8)
				}
				100% {
					-moz-transform:scale(1)
				}
				}
				@keyframes avia_pop {
				0% {
					transform:scale(0.8)
				}
				100% {
					transform:scale(1)
				}
				}
				@-webkit-keyframes avia_pop_small {
				0% {
					-webkit-transform:rotate(-175deg) scale(0.2)
				}
				100% {
					-webkit-transform:rotate(0deg) scale(1)
				}
				}
				@-moz-keyframes avia_pop_small {
				0% {
					-moz-transform:rotate(-175deg) scale(0.2)
				}
				100% {
					-moz-transform:rotate(0deg) scale(1)
				}
				}
				@keyframes avia_pop_small {
				0% {
					transform:rotate(-175deg) scale(0.2)
				}
				100% {
					transform:rotate(0deg) scale(1)
				}
			}


	 .dt-sc-info-box, .dt-sc-info-box2 ,.dt-sc-info-box3 { border-radius: 3px; font-size: 16px; font-weight: 300; line-height: 20px; clear: both; color: #000000; margin-bottom: 20px;
		padding: 15px;	position: relative; 	background-color: rgba(215, 40, 40, 0.9); border: 1px solid #dddfd4; }
	 .dt-sc-info-box i, .dt-sc-info-box strong { padding-right: 5px; }
	 .dt-sc-info-box2 p { margin: 0; line-height:30px;}
	 
	 


	#toTop { display:none; text-decoration:none; position:fixed; bottom:20px; right:20px; overflow:hidden; width:40px; height:40px; border:none; text-indent:100%; 
	background:url(../images/ui.totop.png) no-repeat left top; z-index:9999; transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); 
	-o-transform: rotate(45deg); -webkit-transform: rotate(45deg); }	
	#toTopHover { background:url(../images/ui.totop.png) no-repeat left -40px; width:40px; height:40px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; }		 
	 
/*----*****---- << Footer >> ----*****----*/
		
		#footer { float:left; width:100%; margin:0px; padding:30px 0px 0px; border-top:5px solid #dddddd; background:#353535; }
		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer h1 a, #footer h2 a, #footer h3 a, #footer h4 a, #footer h5 a, #footer h6 a, #footer a:hover {
			color:#ffffff; }
		#footer p, #footer a, #footer span, #footer .widget .tweet_list li:before, #footer .widget ul li:before { color:#FFF; line-height:15px; } 
		.widget a.button { line-height: 15px !important; padding: 13px 20px 15px; }		
		.copyright { background:#1f1f1f; width:100%; clear:both; padding:20px 0px; margin:0px; color:#ffffff; }
		.copyright p, .copyright div, .copyright a { color:#6a6a6a; margin-bottom:0px; }
		.copyright a:hover { color:#ffffff; }
		
		ul.addons_menu { margin: auto !important; }	
		#footer .addons_menu li { display: block; height: auto;	margin: auto;}
		#footer .addons_menu li a {	color: #fff; display: block; padding: 0 13px 0 40px; line-height: 35px;	position: relative;	}
		#footer .addons_menu li a i.fa {left: 10px;	line-height: 36px; position: absolute;	}
		#footer .addons_menu li a:hover { text-decoration: none; }
		#footer .addons_menu li a:hover:after { display: block; }
		#footer .addons_menu li a {
					-webkit-transition: all 0.2s ease-in-out;
					-moz-transition: all 0.2s ease-in-out;
					-o-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
				}

		#footer .addons_menu li.item_1 a .icon { background-position: 0 0; }
		#footer .addons_menu li.item_1 a:hover .icon { background-position: 0 -15px; }
		#footer .addons_menu li.item_2 a .icon { background-position: -16px 0; }
		#footer .addons_menu li.item_2 a:hover .icon { background-position: -16px -15px; }
		#footer .addons_menu li.item_3 a .icon { background-position: -32px 0; }
		#footer .addons_menu li.item_3 a:hover .icon { background-position: -32px -15px; }
		#footer .addons_menu li.item_4 a .icon { background-position: -48px 0; }
		#footer .addons_menu li.item_4 a:hover .icon { background-position: -48px -15px; }


		.shortcodes_page ul > li { list-style:none !important; margin-bottom:40px; }
		.shortcodes_page ul > li h6{ list-style:none;}

		.align_middle_wrapper { display: table; padding: 100px 0; width: 100%; }
		.align_middle_wrapper .container { width: 60%; }
		.align_middle_wrapper .column { margin-bottom: 0; }
		.align_middle_wrapper a:hover { text-decoration: none; }
		
		.highlight_box { border: 1px solid rgba(0,0,0,0.05); display: block; margin: 0 auto; padding: 25px 20px; position: relative; text-align: center; width: 100%; box-sizing: border-box; z-index: 1; -webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms linear 0s; -ms-transition: all 300ms linear 0s; -o-transition: all 300ms linear 0s; transition: all 300ms linear 0s; }
		
		.highlight_box:before { content: ""; position: absolute; bottom: 0; left: 0; right: 0; top: 0; z-index: -1; -webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms linear 0s; -ms-transition: all 300ms linear 0s; -o-transition: all 300ms linear 0s; transition: all 300ms linear 0s; }
		
		.highlight_box.one:before { background-color: rgba(0, 0, 0, 0.01); }
		.highlight_box.two:before { background-color: rgba(0, 0, 0, 0.045); }
		.highlight_box.three:before { background-color: rgba(0, 0, 0, 0.09); }
		
		.highlight_box.one { border-radius: 5px 0 0 5px; }
		.highlight_box.three { border-radius: 0 5px 5px 0; }
		
		.highlight_box:hover { border-color: rgba(0, 0, 0, 0.2); }
		.highlight_box:hover h4 { color: #fff; }
		.highlight_box.one:hover::before, .highlight_box.two:hover::before, .highlight_box.three:hover::before { background-color: rgba(0, 0, 0, 0.2); }
		
		.highlight_box h4 { border: none; font-size: 32px; font-weight: bold; letter-spacing: 1px; line-height: normal; margin-bottom: 0; padding: 0; color:#fff; }
		.highlight_box .fa { color: #fff; font-size: 42px; margin: 0 0 15px; }	