@charset "utf-8";
/* CSS Document */

	html { background:#FFF;}
	body { color:#000000;}
	h1, h1 a, h1 a:hover { color: #2c3e50; }
	h2, h2 a, h2 a:hover { color: #2c3e50; }
	h3, h3 a, h3 a:hover { color: #2c3e50; }
	h4, h4 a, h4 a:hover { color: #283645; }
	h5, h5 a, h5 a:hover { color: #283645; }
	h6, h6 a, h6 a:hover { color: #283645; }
	
	.tooltip:hover:after, 
	.tooltip.hover:after { background: #444; color: #fff; }
/* #Links
================================================== */
	
	a, a:hover { color: #21c2f8; }
	a.button {color: #fff; background:#1abc9c;}
	a.button:hover { background: #129f83;}
	
/* #Layout
================================================== */

/* #Header */
	#header { background:#e0f7ff; }
	#header #Top_bar{ background: #e0f7ff; color:#000;}
	#header #Top_bar .addons_menu li a {color:#000;}
	#header #Top_bar .addons_menu li a:hover { text-decoration: none; }
	
	#menu-container { background: #21c2f8;}
/*	.main-menu > ul > li:hover a { color: #000;	}
	.main-menu > ul > li:hover a i { color: #000 !important;	}*/
	#header #Top_bar .addons_menu li a:hover { color: #21c2f8;}
	.main-menu ul li ul li a:hover, .main-menu ul li ul li.hover > a { text-decoration: none;}

	.main-menu ul li.hover ul li ul li a { background: #15aa8d !important; }
	.main-menu ul li.hover ul li ul li a:hover { background: #129f83 !important; }

	.main-menu ul.topic-menu > li.selected > a,
	.main-menu ul.topic-menu li.menu-item-simple-parent ul li.selected > a,
	.main-menu ul.topic-menu > li.dt-current-menu > a,
	.main-menu ul.topic-menu li ul li a:hover, .main-menu ul.topic-menu li ul li.hover > a { background-color: #e130a7; }
		
	
	.align_middle_wrapper { background: #2c3e50; }
	
	.highlight_box, #primary-menu > .main-menu:before { background-color: #e130a7; }		
	
	
	#footer .addons_menu li a:hover { color: #1abc9c; }

	
	.button a {  background: -webkit-linear-gradient(left, #9105ea, #f73c95); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #9105ea, #f73c95); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #9105ea, #f73c95); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #9105ea, #f73c95);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9105ea', endColorstr='#f73c95',GradientType=0 ); /* IE6-9 */  }
	.button a:hover, a.button:hover { box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3); 
	background: -webkit-linear-gradient(left, #9105ea 20%, #f73c95 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #9105ea 20%, #f73c95 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #9105ea 20%, #f73c95 100%); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #9105ea 20%, #f73c95 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9105ea', endColorstr='#f73c95',GradientType=0 ); /* IE6-9 */ color:#FFF;}
	
	.image-overlay { background-color: rgba(225, 48, 167, 0.6);}
	.image-overlay .white-box::before { background-color: rgba(255, 255, 255, 0.1); }
	
	
	.dt-sc-info-box, .dt-sc-info-box span {	color: #FFF;}
	.dt-sc-info-box a{ color: #FFF;}
	.dt-sc-info-box a:hover{ color: #FFF; }
	
	.dt-sc-info-box2 { background: rgba(255, 255, 25, 0.6);	border-color: #ffff19;	color:#000;	}
	.dt-sc-info-box3 { background: rgba(204, 24, 30, 1); border-color: #ffff19;	color:#000;	}


