@charset "utf-8";
/******* Main Styles ******/
#update-nag, .update-nag, .wrap, .subsubsub { clear: both; }
#wrapper { clear: both; float: left; padding: 0; position: relative; text-align: left; }

#panel-wrap { float:left; position:relative; width:838px; margin:40px 0px 20px; }

#bpanel-wrapper { background:#c2d5db; border:1px solid #b2c5cb; width:821px; padding:9px 7px; float:left; -moz-box-shadow: inset 1px 1px 0px 0px #f0f4f6; -webkit-box-shadow: inset 1px 1px 0px 0px #f0f4f6; box-shadow: inset 1px 1px 0px 0px #f0f4f6; border-radius:5px; behavior:url(PIE.htc); }

#bpanel { float:left; background:url(images/panel-bg.jpg) repeat-y; width:821px; }

#bpanel-left { float:left; width:186px; padding:0px 1px 20px; margin:0px; }

#logo { background:url(images/logo-bg.jpg) no-repeat; width:186px; height:101px; float:left; padding:0px 0px 0px 0px; }

ul#bpanel-mainmenu { float:left; margin:0px; padding:0px; width:100%; }

ul#bpanel-mainmenu li { width:178px; display:block; margin:2px 0px 0px; float:left; padding:4px 4px 2px; background:url(images/splitter.jpg) top repeat-x; clear:both; }

ul#bpanel-mainmenu li a { font-size:13.4px; width:158px; padding:2px 10px; line-height:30px; float:left; color:#ffffff; text-shadow:0px 1px 1px #000000; text-decoration:none; }

ul#bpanel-mainmenu li.ui-state-active a, ul#bpanel-mainmenu li a:hover, ul#bpanel-mainmenu li.ui-state-active a:hover { background:#cecece url(images/main-tab-active.jpg) repeat-x; color:#2b2b2b; text-shadow:0px 1px 1px #ffffff; border-radius:5px; behavior:url(PIE.htc); }

ul#bpanel-mainmenu li a:hover { background:#ffffff; }

ul#bpanel-mainmenu li a span { float:left; margin:5px 5px 0px 0px; }

.bpanel-content { margin:0px 0px 0px 6px; width:627px; float:left; padding:0px; position:relative; }

.bpanel-main-content { border:1px solid #a8bdc4; width:605px; background:#ffffff; float:left; display:block; padding:10px 10px 20px; margin:59px 0px 0px; border-radius:5px; behavior:url(PIE.htc); }

#bpanel ul.sub-panel { float:left; margin:20px 0px 0px 10px; padding:0px; position:absolute; top:0px; }

#bpanel ul.sub-panel li { float:left; display:inline; margin:0px 6px 0px 0px; padding:0px; border:1px solid #a8bdc4; position:relative; z-index:1; border-radius:5px 5px 0px 0px; behavior:url(PIE.htc); } 

#bpanel ul.sub-panel li a { font-size:13px; line-height:39px; color:#374549; text-shadow:0px 1px 1px #ffffff; text-decoration:none; background:#e1ebed url(images/tab-bg.jpg) repeat-x; height:37px; margin:0px; padding:0px 15px 1px; float:left; -moz-box-shadow: inset 0px 1px 0px 0px #f1f6f8; -webkit-box-shadow: inset 0px 1px 0px 0px #f1f6f8; box-shadow: inset 0px 1px 0px 0px #f1f6f8; border-radius:5px 5px 0px 0px; behavior:url(PIE.htc); }

#bpanel ul.sub-panel.widget-area-nav li a { padding:0px 10px 1px; }


#bpanel ul.sub-panel li.ui-state-active, #bpanel ul.sub-panel li:hover { border-bottom:1px solid #ffffff; }

#bpanel ul.sub-panel li.ui-state-active a, #bpanel ul.sub-panel li a:hover { background:#ffffff url(images/tab-active.jpg) repeat-x; }

.bpanel-box { float:left; margin:0px; padding:0px; width:575px; }

.bpanel-box .box-title { float:left; width:575px; background:#c2d5db; padding:12px 15px 10px; position:relative; border-radius:3px; behavior:url(PIE.htc); }

.bpanel-box .box-title h3 { color:#374549; font-size:20px; text-shadow:0px 1px 1px #ffffff; font-weight:normal; margin:0px; }

/* Replace */
.bpanel-box .box-content { float:left; width:575px; background:#ececec; padding:15px; margin:1px 0px 10px; border-radius:3px; behavior:url(PIE.htc); }

/******** Form Elements **********/

#bpanel input[type="text"], #bpanel select, #bpanel textarea { background:#ffffff url(images/textbox-bg.jpg) repeat-x; font:normal 13px Arial, Helvetica, sans-serif; color:#555555; border:1px solid #c8c4c4; padding:7px; width:320px; border-radius:5px; -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; box-shadow: inset 0px 1px 0px 0px #ffffff; }

#bpanel textarea { background:#ffffff url(images/textarea-bg.jpg) repeat-x; height:140px; width:328px; }

#bpanel textarea#export_data { height:235px; width:530px;}
#bpanel select { width:336px; height:auto; }
#bpanel select.medium { width:200px; }

#bpanel select option { padding:0px 0px 0px 10px; font-size:14px; }

#bpanel p { font-size:11px; line-height:18px; color:#5a5959; text-shadow:0px 1px 1px #ffffff; width:100%; clear:both; }

#bpanel input[type="text"].medium { width:152px; margin-right:4px; }

#bpanel input[type="text"].small { width:75px; margin-right:4px; }

#bpanel label { font-size:14px; line-height:30px; margin-right:7px; color:#323232; text-shadow:0px 1px 1px #ffffff; float:left; margin-top:2px; }

#bpanel label.one-third { width:160px; float:left; display: block; }

#bpanel label.one-half { width:250px; float:left; display: block; }

#bpanel .one-half-content { width:260px; margin-right:15px; float:left; display:block; }

#bpanel .one-half-content.last { margin-right:0px; } 

#bpanel .one-half-content .bpanel-option-set { width:92.5%; }

#bpanel .one-half-content select, #bpanel .multidropdown select { width:230px; }

#bpanel .multidropdown select { margin-bottom:10px; }

#bpanel .multidropdown { float:left; margin-right:15px; }


/* Replace */ 
#bpanel-bottom { float:right; margin:10px 0px 0px 0px; }

/* Add */
#bpanel #bpanel-bottom input[type="submit"] { margin:0px 0px 0px 5px; }

#bpanel-bottom .save-reset { float:left; }

#bpanel input[type="checkbox"] { margin:-2px 4px 0px 0px; }
#bpanel input[type="checkbox"].hidden { display:none; }

#bpanel label input[type="radio"] { margin-right:5px; }

#bpanel .bpanel-checkbox { margin:9px 0px 0px !important; }

.clear { clear:both; }

.bpanel-option-set { width:100%; margin:0px; }

.bpanel-option-help { position:absolute; right:-7px; top:39%; }

.bpanel-option-help-tooltip { display:none; float:left; background:#f9f9f9; padding:10px 15px; width:200px; color:#ffffff; font-size:12px; z-index:9999; opacity:0.8; filter:alpha(opacity=80); border-radius:5px; behavior:url(PIE.htc); }

.box-title .bpanel-option-help { right:12px; top:14px; }

.bpanel-option-help-tooltip.imagepreview { max-width:300px; width:auto; padding:10px 10px 5px; }

.bpanel-option-help-tooltip.imagepreview img { max-width:300px; }

.image-preview-container { position:relative; }

.bpanel-option-set .image-preview-container .bpanel-option-help { right:10px; top:29%; }

.image-preview-container .bpanel-option-help { position: absolute; right:33px; top: 54%; }


.bpanel-layout-set { float:left; clear:both; margin:5px 0px 0px; padding:0px; }

.bpanel-layout-set li { float:left; margin:0px 3px 10px 0px; padding:0px; display:inline; }

.bpanel-layout-set li a { float:left; margin:0px; padding:0px; line-height:0; }

/*.bpanel-layout-set li a.selected { border:2px solid #000000; }*/

.remove-cancel-links { float:left; margin:20px 0px 0px; clear:both; }

.remove-cancel-links span { float:left; font-size:11px; clear:none; cursor:pointer; padding:0px 2px; }

.remove-cancel-links .remove-item { color:#ff0000; }

.remove-cancel-links .remove-item:hover { background:#ff0000; color:#ffffff; }

.remove-cancel-links .cancel-item:hover { background:#000000; color:#ffffff; }

#bpanel .drag-list label { float:none; }

#bpanel .one-half-content input[type="text"].large, #bpanel .two-third input[type="text"].large{ width:240px; }

/* Replace */
#bpanel .mytheme-import-button { float:right; margin:0px 0px 10px 10px; padding:8px 15px; }

#bpanel .admin-pagination, .custom-box .admin-pagination { clear:both; margin:10px 0px 0px; padding-bottom:10px; }

#bpanel .admin-pagination a, .custom-box .admin-pagination a { background:#efefef url(images/pagination.jpg) repeat-x; font-size:11px; color:#5a5959; padding:4px 7px 3px; border:1px solid #CFCFCF; text-decoration:none; border-radius:5px; }

#bpanel .admin-pagination a.active_page, #bpanel .admin-pagination a:hover.active_page, .custom-box .admin-pagination a.active_page, .custom-box .admin-pagination a:hover.active_page { background:#2c2c2c url(images/pagination-active.jpg) repeat-x; color:#ffffff; border:1px solid #000000; }

#bpanel .admin-pagination a:hover, .custom-box .admin-pagination a:hover { background:#ffffff; }


/* Sociable */ 

.item-bar { 
	clear:both; 
	margin:0px; 
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f1f1 24%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#f1f1f1), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 24%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 24%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 24%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 24%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	border:1px solid #d8d8d8;
	box-shadow:0 1px 0 #FFFFFF inset;
	-mozbox-shadow:0 1px 0 #FFFFFF inset;
	-webkit-box-shadow:0 1px 0 #FFFFFF inset;
	line-height:36px;
	border-radius:5px;
	padding-left:10px;
	width:100%;
	position:relative;
	z-index:1;
	cursor:move;
	box-sizing:border-box;
 }

.item-bar .item-title { line-height:25px; padding:7px 0px 5px; font-size:12px; font-weight:bold; width:80%; display:inline-block; }

.sortable-placeholder{height:35px;width:410px;margin-top:13px;}

ul.menu-to-edit li { position:relative; clear:both; float:left; width:100%; margin:10px 0px 0px; }

ul.menu-to-edit.drag-list li { cursor:move; }

ul.menu-to-edit.drag-list li { 
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f1f1 24%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#f1f1f1), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 24%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 24%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 24%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 24%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	border:1px solid #d8d8d8;
	box-shadow:0 1px 0 #FFFFFF inset;
	-mozbox-shadow:0 1px 0 #FFFFFF inset;
	-webkit-box-shadow:0 1px 0 #FFFFFF inset;
	line-height:36px;
	border-radius:5px;
	padding-left:10px;
	width:95%; 
	margin:5px 0px 0px;
}

ul.menu-to-edit.drag-list li.sortable-placeholder { background:#f5f5f5; border:1px dashed #bbbbbb; }

.item-edit { cursor:pointer; position:absolute; right:0px; top:2px; background:url(images/down-arrow.png) left top no-repeat; width:30px; height:36px; text-indent:-9999px; transition:none; }

.item-edit:hover { background:url(images/down-arrow.png) left -36px no-repeat; }

.item-controls .item-edit { background:none; }

.item-controls .item-edit:hover { background:none; }

.menu-item-depth-1 .filed-dt-iconclass, .menu-item-depth-1 .field-dt-submenu-column, .menu-item-depth-1 .field-dt-menu-bg, .menu-item-depth-1 .field-dt-hover-text, .menu-item-depth-2 .filed-dt-iconclass, .menu-item-depth-2 .field-dt-submenu-column, .menu-item-depth-2 .field-dt-menu-bg, .menu-item-depth-2 .field-dt-hover-text, .menu-item-depth-3 .filed-dt-iconclass, .menu-item-depth-3 .field-dt-submenu-column, .menu-item-depth-3 .field-dt-menu-bg, .menu-item-depth-3 .field-dt-hover-text, .menu-item-depth-4 .filed-dt-iconclass, .menu-item-depth-4 .field-dt-submenu-column, .menu-item-depth-4 .field-dt-menu-bg, .menu-item-depth-4 .field-dt-hover-text, .menu-item-depth-5 .filed-dt-iconclass, .menu-item-depth-5 .field-dt-submenu-column, .menu-item-depth-5 .field-dt-menu-bg, .menu-item-depth-5 .field-dt-hover-text { display: none; }

.menu-item-edit-active .menu-item-settings { display:inline-block !important }

.item-content { float:left; clear:both; padding:30px 20px 20px; width:100%; margin:-10px 0px 0px; background:#f1f1f1; border:1px solid #d8d8d8; border-radius:5px; box-sizing:border-box; }

.menu-to-edit-team .item-content { width: 93.4%; }

.item-content span { margin:0px 0px 10px; float:left; }

.item-content span label { width:95px; float:left; }

#bpanel .item-content span input[type="text"].uploadfield { width:264px; }

#bpanel .item-content span input[type="text"] { width:336px; }

#bpanel-message { background-repeat:no-repeat; background-color:rgba(0, 0, 0, 0.8); background-position:10px 11px; left:192px !important; right:0px !important; margin:auto; top:50px; z-index:9999; padding:15px 20px 15px 45px; border-radius:10px; max-width:390px; font-weight:bold; color:#ffffff; position:absolute; }

#bpanel-message.success { background-image:url(images/success.png); }

#bpanel-message.error-msg { background-image:url(images/error.png); }

#bpanel-message.warning { background-image:url(images/warning.png); }

#bpanel-message a { color:#a7a7a7; }

#bpanel-message a:hover { color:#ffffff; }

#bpanel-message span { margin:0px; font-family:"Courier New", Courier, monospace; }

#ajax-feedback { position:absolute; top:63px; right:150px; z-index:9999; }

#bpanel p#j-no-images-container { color:#ff0000; text-shadow:none; font-size:12px; }

/* Replace */
.top-links { float:right; margin:7px 0px 0px; padding:0px; }

.top-links a { margin:8px 0px 0px 10px; float:left; }


/*********** Common Styles ************/

#bpanel h6 { font-size:14px; line-height:30px; margin:0px 0px 10px; font-weight:normal; color:#323232; text-shadow:0px 1px 1px #ffffff; display:block; }

#bpanel a { color:#21759B; }

#bpanel .clear { clear:both; width:100%; display:block; }

/* Buttons */

#bpanel .bpanel-button, #bpanel input[type="submit"], #bpanel input[type="button"], .custom-box span#add-video { font-size:12px; margin:0px; padding:6px 10px 7px; cursor:pointer; border-radius:5px; behavior:url(PIE.htc); text-decoration:none; }

#bpanel .blue-btn, #bpanel input[type="submit"].blue-btn, #bpanel input[type="button"].blue-btn { color:#6e8c95; text-shadow:0px 1px 1px #ffffff; background:#cddfe5 url(images/btn-blue-bg.jpg) top repeat-x; border:1px solid #96b2bb; -webkit-box-shadow: inset 0 0 1px #ffffff; -moz-box-shadow: inset 0 0 1px #ffffff; box-shadow: inset 0 0 1px #ffffff; }

#bpanel .blue-btn:hover, #bpanel input[type="submit"].blue-btn:hover, #bpanel input[type="button"].blue-btn:hover { background:#fefefe url(images/btn-blue-bg-hover.jpg) top repeat-x; }

#bpanel .black-btn, #bpanel input[type="submit"], #bpanel input[type="button"], .custom-box span#add-video { color:#ffffff; text-shadow:0px 1px 1px #000000; background:#2b2b2b url(images/btn-black-bg.jpg) top repeat-x; border:1px solid #2b2b2b; }

#bpanel .black-btn:hover, #bpanel input[type="submit"]:hover, #bpanel input[type="button"]:hover, .custom-box span#add-video:hover { background:#595959 url(images/btn-black-bg-hover.jpg) top repeat-x; }

#bpanel .white-btn, #bpanel input[type="submit"].white-btn, #bpanel input[type="button"].white-btn { color:#4b4b4b; text-shadow:0px 1px 1px #ffffff; background:#ededed url(images/btn-white-bg.jpg) top repeat-x; border:1px solid #d3d3d3; }

#bpanel .white-btn:hover, #bpanel input[type="submit"].white-btn:hover, #bpanel input[type="button"].white-btn:hover { background:#ffffff url(images/btn-white-bg-hover.jpg) top repeat-x; }

#bpanel input[type="submit"].white-btn.dttheme-footer-saving { color:#ffffff; text-shadow:none; background:#5b9803 url(images/btn-green-bg.jpg) top repeat-x; border:1px solid #7c9d16; }

#bpanel input[type="submit"].white-btn.dttheme-footer-saving:hover { background:#5b9803 url(images/btn-green-bg.jpg) top repeat-x; }


/* hr */

#bpanel .hr { background:url(images/content-splitter.jpg) repeat-x; height:2px; float:left; margin:20px 0px; padding:0px; display:block; clear:both; width:100%; }

#bpanel .hr-invisible-small { float:left; display:block; width:100%; margin:10px 0px 0px; padding:0px; }

/* Columns */

#bpanel .column input[type="text"], #bpanel .column select, #bpanel .column textarea { max-width:100%; }

#bpanel .column { float:left; margin:0px 15px 0px 0px; padding:0px; }

#bpanel .column.one-column { margin-right:0px; }

#bpanel .column.last { margin-right:0px; }

#bpanel .column.one-column { margin-right:0px; }

#bpanel .one-column { width:100%; }

#bpanel .one-half { width:265px; }

#bpanel .one-third { width:171px; }

#bpanel .two-third { width:359px; }

#bpanel .one-fourth { width:125px; }

#bpanel .three-fourth { width:405px; }

#bpanel .one-fifth { width:97px; }

#bpanel .two-fifth { width:209px; }

#bpanel .two-fifth { width:209px; }

#bpanel .three-fifth { width:321px; }

#bpanel .four-fifth { width:433px; }

/* Note */

#bpanel .note, .custom-box .note { font-size:11px; line-height:16px; color:#858585; text-shadow:0px 1px 1px #ffffff; margin:10px 0px; width:100%; clear:both; font-style:italic; float:left; }

#bpanel .note.no-margin, .custom-box .note.no-margin { margin:0px; }

/* Form Elements */

#bpanel label input[type="radio"] { margin-right:5px; }

/* image Preview */

#bpanel .a_image_preivew { display:inline-block; margin:0px; padding:0px; position:relative; top:4px; left:5px; }

#bpanel .image-preview-container { float:left; }

#bpanel .image-preview-container .bpanel-option-help { float:left; }

/* Bpanel Layout Set */

.bpanel-layout-set { margin:0px; padding:0px; width:100%; float:left; clear:both; }

.bpanel-layout-set li { display:inline; margin:5px 20px 15px 5px; float:left; padding:0px; position:relative; }

.bpanel-layout-set li a { font-family:"Myriad Pro", sans-serif, Arial, Helvetica; font-size:12px; text-decoration:none; } 

.bpanel-layout-set li a span { margin:0px 0px 0px 3px; }

.bpanel-layout-set li a.selected:before { position:absolute; content:""; background:url(images/column-selected-left.png) no-repeat; width:8px; height:114px; float:left; top:3px; left:-8px; margin:0px; }

.bpanel-layout-set li a.selected:after { position:absolute; content:""; background:url(images/column-selected-right.png) no-repeat; width:29px; height:114px; float:left; top:3px; right:-8px; margin:0px; }

/* Skins */

ul.skins-list { float:left; margin:0px; padding:0px; width:100%; clear:both; }

ul.skins-list li { display:inline; float:left; margin:5px 10px 15px 6px; padding:0px; text-align:center; width:256px; cursor:pointer; position:relative; }

ul.skins-list li img { margin:0px 0px 5px; padding:3px; }

ul.skins-list li h4 { font-size:12px; color:#333333; margin:0px; }

ul.skins-list li.active img { background:#ffffff; }

ul.skins-list li.active:before { position:absolute; content:""; background:url(images/skin-selected-left.png) no-repeat; width:16px; height:161px; float:left; top:3px; left:-16px; margin:0px; }

ul.skins-list li.active:after { position:absolute; content:""; background:url(images/skin-selected-right.png) no-repeat; width:36px; height:161px; float:left; top:3px; right:-16px; margin:0px; }

ul#j-current-theme-container.skins-list li.active:before, ul#j-current-theme-container.skins-list li.active:after { background:none; }

ul#j-current-theme-container.skins-list li.active img { background:none; }

ul#j-available-sliders, ul#j-available-images { width:100%; float:left; margin:20px 0px 0px; }

ul#j-available-sliders li, ul#j-available-images li {
   cursor: pointer;
   display:inline-block;
   margin: 0 10px 5px 0;
   overflow:hidden;
   height:150px;
   width:150px;
}

ul#j-available-sliders span.my_delete,ul#j-available-images span.my_delete { display:none;}

ul#j-available-sliders li.my_added , ul#j-available-images li.my_added{
	cursor:default;
}
ul#j-available-sliders{
	float:left;
	width:100%;
}
ul#j-used-sliders-containers{
	float:left;
	margin:0px;
	width:100%;
}
ul#j-used-sliders-containers li , ul#j-used-images-containers li {
	position: relative;
	display:inline-block;
    margin: 0 10px 5px 0;
    overflow:hidden;
	width:150px;
	height:150px;
}

#j-used-sliders-containers .sortable-placeholder { width:148px; height:148px; }

.slider-info{
	float:left;
	margin:0;
	width:100%;
}
ul#j-used-sliders-containers li:hover , ul#j-used-images-containers li:hover { cursor:move;}

ul#j-used-sliders-containers span.my_delete , ul#j-used-images-containers span.my_delete {
    background: none repeat scroll 0 0 rgba(243, 37, 47, 0.9);
    color: white;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 19px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 24px;
}

.my_added:after {
    background: none repeat scroll 0 0 #F3252F;
    bottom: 0;
    color: white;
    content: "added";
    padding: 2px 9px;
    position: absolute;
    right: 0;
}


.my_added {
    opacity: 0.7;
    position: relative;
}
#j-slider-pagination {
	float:left;
	width:100%;
}

ul.menu-to-edit li.deleting .item-bar {background-color:#f66;background-image:none;text-shadow:0 0 0 #ccc; z-index:100;}

#bpanel input.color_picker_element.medium[type="text"] { width:70px; background:none; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; }

.color_picker { padding:0px 23px; }

/* Custom Post Styles */

.custom-box { /*background:#EFEFEF;*/ padding:10px; margin:3px 0px 3px 0px; display:inline-block; width:98.1%; position:relative; border-radius:5px; behavior:url(PIE.htc); }

#poststuff .inside { margin:6px 0 7px; }

.custom-box label { display:inline-block;/* width:11%;*/ margin:3px 10px 0px 0px; float:left; line-height:24px; }

.custom-box label.one-third { width:152px; color:#323232; font-size:12px; line-height:24px; display:inline-block; float:none; }

.custom-box input[type="text"].small, .custom-box textarea.small  { width:150px; }

.custom-box input[type="text"].medium, .custom-box textarea.medium { width:300px; padding:7px 5px; border-radius:5px; }

.custom-box input[type="text"].large, .custom-box textarea.large { width:70%; padding:7px 5px; border-radius:5px; }

#side-sortables .custom-box input[type="text"].large, #side-sortables .custom-box textarea.large { width:100%; }

#side-sortables .custom-box  { width:100%; padding:0px; }

.custom-box label.checkbox-label input[type="checkbox"] { margin-left:4px; }

.custom-box input[type="checkbox"].hidden { display:none; }

.custom-box label.checkbox-label { float:none; display:block; width:220px; }

.custom-box label.radio-label { display: inline-block; float: none; font-weight: normal; margin-top: 3px; margin-bottom:6px; text-align: left; width: 140px; }

.custom-box label.radio-label input[type="radio"] { margin-right:2px; margin-top:-1px; }

.custom-box .radio-group { display:table-row-group; }

.custom-box select { padding:3px; }

.custom-box select option { padding-right:10px !important; }

.custom-box .bpanel-layout-set { clear:none; }

/*.custom-box .bpanel-layout-set li a { border:1px solid #EAEAEA; }*/

.custom-box .bpanel-layout-set { margin:0px; width:100%; }

/*.custom-box .bpanel-layout-set li a.selected { box-shadow:0px 0px 5px #878787; -moz-box-shadow:0px 0px 5px #878787; -webkit-box-shadow:0px 0px 5px #878787; }*/

.custom-box .bpanel-layout-set li { margin-right:10px; }

.custom-box div.checkbox-switch { clear:none; float:left; }

#poststuff .custom-box h3 { background:none; border:none; box-shadow:none; padding:7px 0px 20px; cursor:default; }

#poststuff .custom-box h3.slider-info { padding:20px 0px 0px; }

.custom-box #j-no-images-container { background:url(images/warning-small.png) left top no-repeat; width:16px; height:14px; padding:1px 0px 0px 22px; display:inline; }

.custom-box .one-half-content .bpanel-option-set { background:none; padding:0px; position:static; margin:0px; }

.custom-box .one-half-content { display:inline-block; margin:0px 15px 10px 0px; background:#FFFFFF; /*padding:10px 0px 10px 10px;*/ width:100%; position:relative; border-radius:5px; }

.custom-box .one-half-content label { width:auto; font-weight:normal; /*width:30%;*/ }

.custom-box .one-half-content input.medium[type="text"] { width:235px; }

.custom-box .one-half { width:48%; margin-right:15px; }

.custom-box .one-half { line-height:24px; }

.custom-box .image-preview-tooltip { position:relative; }

.custom-box .image-preview-container { display:inline-block; }

.image-preview-container .bpanel-option-help { right:-20px; top:6px; }

.custom-box .one-half-content select { width:62%; }

.custom-box .chk-label input[type="checkbox"] { margin-right:5px; }

.custom-box .one-half-content .chk-label { width:90%; }

.custom-box .one-half-content .image-preview-container .bpanel-option-help { right:-22px; top:9px; }

.custom-box .image-preview-tooltip .bpanel-option-help { right:-22px; top:8px; }

.custom-box .uploadfield { top:7px; background:#ffffff; padding:7px 0px; }

.custom-box .image-preview-container input[type="submit"], .custom-box .image-preview-container input[type="button"]/*, #bpanel .black-btn*/ { color:#4b4b4b; margin:0px 1px 0px 0px; text-shadow:0px 1px 1px #ffffff; border:1px solid #d3d3d3; background:#ededed url(images/btn-white-bg.jpg) repeat-x; padding:6px; cursor:pointer; border-radius:5px; behavior:url(PIE.htc); }

.custom-box .one-half-content .image-preview-container input[type="submit"], .custom-box .one-half-content .image-preview-container input[type="button"] { font-size:11px; }

.custom-box h3 { cursor:auto; }

.custom-box .one-third-content { width:30%; margin:0px 3% 0px 0px; display:inline-block; }

.custom-box .one-third-content .bpanel-option-set { background:#FFFFFF; padding:10px 0px; }

.custom-box .one-third-content .bpanel-option-help { right:-7px; top:39%; }

.custom-box .one-third-content  div.checkbox-switch { display:inline-block; float:none; clear:both; margin:10px 0px 0px; }

.custom-box .one-third-content  .one-half-content label { width:45%; }

.custom-box .one-third-content label { width:100%; clear:both; }

.custom-box .multidropdown { display:inline-block; }

.custom-box.onethird-with-minheight .one-third-content { float:left; }

.custom-box.onethird-with-minheight .one-third-content .bpanel-option-set { min-height:160px; }

.custom-box span#add-video { margin-top:10px; display:inline-block; }

/* Custom Box New Styles */

.custom-box h6 { font-size:12px; line-height:30px; margin:0px 0px 10px; font-weight:normal; color:#323232; text-shadow:0px 1px 1px #ffffff; display:block; }

.custom-box p.note { margin-bottom:0px; }

.custom-box .column { margin:0px 2% 0px 0px; float:left; min-height:1px; position:relative; }
.custom-box .column.last { margin-right:0px; }	

.custom-box .one-column { width:100%; }
.custom-box .column.one-column { margin-right:0px; }

.custom-box .one-fourth { width:23.4%; }
.custom-box .one-half { width:48.9%; }
.custom-box .one-third { width:31.9%; }
.custom-box .three-fourth { width:74.5%; }	
.custom-box .two-third { width:65.8%; }

.custom-box .one-fifth { width:18.3%; }
.custom-box .four-fifth { width:79.6%; }
.custom-box .three-fifth { width:59.2%; }
.custom-box .two-fifth { width:38.8%; }

.custom-box .one-sixth { width:15%; }
.custom-box .two-sixth { width:30%; }
.custom-box .three-sixth { width:45%; }
.custom-box .four-sixth { width:60%; }
.custom-box .five-sixth { width:75%; }		


/*Switch*/

div.checkbox-switch { cursor:pointer; cursor:hand; clear:both; margin:2px 0px 0px; }

div.checkbox-switch-on { width:83px; height:30px; background:url(images/checkbox-switch-on.png); }

div.checkbox-switch-off { width:83px; height:30px; background: url(images/checkbox-switch-off.png); }

div.font-checkbox-switch-on { width:83px; height:30px; background:url(images/font-checkbox-switch-on.png); }

div.font-checkbox-switch-off { width:83px; height:30px; background: url(images/font-checkbox-switch-off.png); }

div.top-section-checkbox-switch-on { width:88px; height:30px; background:url(images/top-slider-section-switch.png) no-repeat; }

div.top-section-checkbox-switch-off { width:88px; height:30px; background: url(images/top-page-section-switch.png) no-repeat; }

.hr_invisible { clear:both; float:left; width:100%; margin:10px 0px 0px; }
.hr_invisible_large { clear:both; float:left; width:100%; margin:30px 0px 0px; }

.mytheme-font-preview { -moz-user-select: none; border: 1px solid #ffffff; box-shadow:0px 0px 1px #383838; -moz-box-shadow:0px 0px 1px #383838; -webkit-box-shadow:0px 0px 1px #383838; font-size:26px; line-height:normal; margin: 0 0 20px; padding: 10px; border-radius:5px; }

/*Color Picker*/
#bpanel .wp-picker-container .wp-picker-clear { height:auto; padding:7px 15px 6px; }
#bpanel .wp-picker-container .my-color-field { margin-left:0px; }
#bpanel .one-half-content .iris-picker .iris-square { margin-right:2.1%; }
#bpanel .one-half-content .wp-picker-container .iris-picker { max-width:235px; }
/*Color Picker End */

/*
 * jQuery UI Slider 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { margin:12px 0px 0px 7px; height: 7px; background: url('images/jqueryui/size-slider-bg.png'); border: 0px; border-radius:5px; width:70%; float:left; }

.dttheme-slider-txt { float:left; min-height:16px; min-width:32px; margin:0px 0px 0px 10px; background:#ffffff url(images/textbox-bg.jpg) repeat-x; font:normal 13px Arial, Helvetica, sans-serif; color:#555555; border:1px solid #c8c4c4; padding:6px 7px 5px;  border-radius:5px; -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; box-shadow: inset 0px 1px 0px 0px #ffffff; }

.ui-slider-horizontal .ui-slider-handle { cursor:pointer; top: -.55em; margin-left: -.6em; background: url('images/jqueryui/size-slider-button.png'); width:9px; height: 19px; border: 0px; margin-top: 1px;}
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.bpanel-option-set .wp-picker-container .wp-picker-input-wrap input[type="text"] { width:257px; }

/* For Mega Menu option in Admin Backend at  Menu Page*/
.menu-item-depth-0 .field-dt-content, .field-dt-fullwidth, .menu-item-depth-0 .field-dt-submenu-widget, .menu-item-depth-0 .field-dt-widgetarea-column { display:none; }
.menu-item-depth-2 .field-dt-submenu-widget, .menu-item-depth-3 .field-dt-submenu-widget, .menu-item-depth-4 .field-dt-submenu-widget, .menu-item-depth-5 .field-dt-submenu-widget, .menu-item-depth-6 .field-dt-submenu-widget, .menu-item-depth-7 .field-dt-submenu-widget, .menu-item-depth-8 .field-dt-submenu-widget, .menu-item-depth-9 .field-dt-submenu-widget, .menu-item-depth-10 .field-dt-submenu-widget { display:none;}
.menu-item-depth-2 .field-dt-widgetarea-column, .menu-item-depth-3 .field-dt-widgetarea-column, .menu-item-depth-4 .field-dt-widgetarea-column, .menu-item-depth-5 .field-dt-widgetarea-column, .menu-item-depth-6 .field-dt-widgetarea-column, .menu-item-depth-7 .field-dt-widgetarea-column, .menu-item-depth-8 .field-dt-widgetarea-column, .menu-item-depth-9 .field-dt-widgetarea-column, .menu-item-depth-10 .field-dt-widgetarea-column { display:none;}
.menu-item-depth-1 .field-dt-fullwidth, .menu-item-depth-1 .field-dt-submenu-widget, .menu-item-depth-1 .field-dt-widgetarea-column  { display:block; }
.menu-item-depth-1 .field-dt-use-as-megamenu, .menu-item-depth-1 .field-dt-submenu-column, .menu-item-depth-2 .field-dt-use-as-megamenu, .menu-item-depth-2 .field-dt-submenu-column, .menu-item-depth-3 .field-dt-use-as-megamenu, .menu-item-depth-3 .field-dt-submenu-column, .menu-item-depth-4 .field-dt-use-as-megamenu, .menu-item-depth-4 .field-dt-submenu-column, .menu-item-depth-5 .field-dt-use-as-megamenu, .menu-item-depth-5 .field-dt-submenu-column, .menu-item-depth-6 .field-dt-use-as-megamenu, .menu-item-depth-6 .field-dt-submenu-column, .menu-item-depth-7 .field-dt-use-as-megamenu, .menu-item-depth-7 .field-dt-submenu-column, .menu-item-depth-8 .field-dt-use-as-megamenu, .menu-item-depth-8 .field-dt-submenu-column, .menu-item-depth-9 .field-dt-use-as-megamenu, .menu-item-depth-9 .field-dt-submenu-column, .menu-item-depth-10 .field-dt-use-as-megamenu, .menu-item-depth-10 .field-dt-submenu-column { display:none;}

/* Widget Area */
#for-custom-widget-area .added-menu .item-bar { cursor:auto; }
#for-custom-widget-area .added-menu li { clear:both; float:left; margin:10px 0 0; position:relative; width:100%; }

.bpanel-main-content.no-margin { margin-top:0; }
.dttheme-import .hide { display:none;}

/* Items Holder */
.dt-items-holder {
	width: 100%;
	float: left;
	margin: 20px 0px 0px;
	padding: 0px;
}

.dt-items-holder li {
	float: left;
	border: 1px solid #96b2bb;
	background: #ffffff;
	width: 47%;
	display: inline;
	padding: 5px;
	min-height: 60px;
	margin: 0px 5px 5px 0px;
	cursor: move;
}

.dt-items-holder li img {
	max-width: 60px;
	max-height: 60px;
	float: left;
	margin: 0px 15px 0px 0px;
}

.dt-items-holder li .dt-image-name {
	line-height: 60px;
	font-size: 14px;
}

.dt-items-holder li .my_delete {
	background: url(images/remove-ico.png) no-repeat;
	width: 21px;
	height: 20px;
	float: right;
	margin: 21px 10px 0px 0px;
	cursor: pointer;
}

.dt-items-holder li .dt-video, .dt-video {
	background: url(images/video-image.png) no-repeat;
	width: 60px;
	height: 60px;
	float: left;
	margin: 0px 10px 0px 0px;
}

.dt-items-holder li input[type="text"] {
	padding: 5px 10px 5px 5px;
	margin: 18px 0px 0px;
	border: 1px solid #ffffff;
	width: 65%;
}

.dt-items-holder li input[type="text"]:hover {
	border: 1px solid #DFDFDF;
}

.dt-media-btns-container .button {
	float: left;
	margin: 0px 10px 0px 0px;
}

.dt-items-holder li.sortable-placeholder {
	border: 1px dashed #96b2bb;
}

/* Custom Post Styles */
.dt-bpanel-layout-set {
	float: left;
	clear: both;
	margin: 5px 0px 0px;
	padding: 0px;
}

.dt-bpanel-layout-set li {
	float: left;
	margin: 0px 3px 10px 0px;
	padding: 0px;
	display: inline;
	position: relative;
}

.dt-bpanel-layout-set li a {
	float: left;
	margin: 0px;
	padding: 0px;
	line-height: 0;	
}

.custom-box .dt-bpanel-layout-set {
	clear: none;
}

.custom-box .dt-bpanel-layout-set {
	margin: 0px;
	width: 100%;
}

.custom-box .dt-bpanel-layout-set li {
	margin-right: 10px;
}

.dt-bpanel-layout-set li a.selected:before { position:absolute; content:""; background:url(images/column-selected-left.png) no-repeat; width:8px; height:114px; float:left; top:3px; left:-8px; margin:0px; }

.dt-bpanel-layout-set li a.selected:after { position:absolute; content:""; background:url(images/column-selected-right.png) no-repeat; width:29px; height:114px; float:left; top:3px; right:-8px; margin:0px; }

/* New Options */
.checkbox-list { margin:0px; }
.checkbox-list li { display:block; margin:0px; float:left; width:50%; }

#bpanel .chosen-container a { color:#323232; }
#bpanel .chosen-container-single .chosen-search input[type="text"] { width:100%; padding:4px 20px 4px 5px; } 
.two-third .chosen-container { margin-top:5px; }

#bpanel .wp-picker-container  { margin-top:5px; }

#bpanel #layout .wp-picker-container { margin:0px; }

.custom-skin-panel { clear:both; }

/* BPanel UI fix */
#bpanel.ui-widget-content { border:none; margin:0px; padding:0px; }
ul#bpanel-mainmenu.ui-widget-header { background:none; border:none; }
ul#bpanel-mainmenu li { border:none; }
#bpanel .bpanel-content.ui-tabs.ui-tabs-panel { padding:0; }
#bpanel .bpanel-content .tab-content.ui-tabs-panel, #bpanel .ui-tabs .ui-tabs-panel { padding:0px; margin:0px; }
#bpanel .bpanel-main-content ul.sub-panel.ui-widget-header { border:none; background:none; }

.bpanel-box .item-bar .item-title { font-weight:normal; }
#bpanel.ui-widget .ui-widget { font-size:13px; font-family:"Open Sans",sans-serif; }

.pending { color:red !important; }

/* Revolution slider UI fix */
#viewWrapper .pickerisopen .wp-picker-clear { margin-top:0; }
#viewWrapper .wp-picker-input-wrap { top:255px; }

.menu-item-page.menu-item .field-dt-hovertext.description.description-wide{display:block;}

.menu-item .field-dt-hovertext.description.description-wide{display:none;}

#dt-doctor-default-metabox .doctor-meta-fields.meta-fields textarea{min-height:100px;}